**Tip**: Welcome to the Investigate a Dataset project! You will find tips in quoted sections like this to help organize your approach to your investigation. Before submitting your project, it will be a good idea to go back through your report and remove these sections to make the presentation of your work as tidy as possible. First things first, you might want to double-click this Markdown cell and change the title so that it reflects your dataset and investigation.

# Project: Investigate Carbon Per Capita


## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables.
>
> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. If you're not sure what questions to ask right now, then make sure you familiarize yourself with the variables and the dataset context for ideas of what to explore.

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [4]:
# read data
co2 = pd.read_csv("data/indicator CDIAC carbon_dioxide_emissions_per_capita.csv")

print co2.info()
print ""
print co2.head()
print ""
co2.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Columns: 254 entries, CO2 per capita to 2012
dtypes: float64(253), object(1)
memory usage: 466.4+ KB
None

          CO2 per capita  1751  1755  1762  1763  1764  1765  1766  1767  \
0               Abkhazia   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1            Afghanistan   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  Akrotiri and Dhekelia   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3                Albania   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4                Algeria   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   1768    ...         2003      2004      2005      2006      2007      2008  \
0   NaN    ...          NaN       NaN       NaN       NaN       NaN       NaN
1   NaN    ...     0.022704  0.027472  0.036780  0.047090  0.068312  0.131602
2   NaN    ...          NaN       NaN       NaN       NaN       NaN       NaN
3   NaN    ...     1.382066  1.332966  1.353789  1.224310  1.279420  1.297753
4   NaN    ...     2.899236  2.762220  3.257010  3.113135  3.312875  3.328945

       2009      2010      2011      2012
0       NaN       NaN       NaN       NaN
1  0.213325  0.262174       NaN       NaN
2       NaN       NaN       NaN       NaN
3  1.215055  1.336544       NaN       NaN
4  3.564361  3.480977  3.562504  3.785654

[5 rows x 254 columns]

,1751,1755,1762,1763,1764,1765,1766,1767,1768,1769,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
count,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,200.000000,200.000000,200.000000,200.000000,201.000000,201.000000,201.000000,201.000000,65.000000,65.000000
mean,1.131253,1.105193,1.244749,1.239133,1.233543,1.227977,1.363424,1.357226,1.351055,1.344913,...,5.160597,5.266567,5.242741,5.250673,5.387444,5.293425,5.064836,5.189779,8.395975,8.391032
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.892710,7.222377,7.198735,6.950140,7.281876,6.858804,6.479270,6.538857,7.796528,8.041490
min,1.131253,1.105193,1.244749,1.239133,1.233543,1.227977,1.363424,1.357226,1.351055,1.344913,...,0.022704,0.027472,0.021237,0.025019,0.003482,0.008618,0.011942,0.008443,0.401268,0.426003
25%,1.131253,1.105193,1.244749,1.239133,1.233543,1.227977,1.363424,1.357226,1.351055,1.344913,...,0.610230,0.682390,0.730938,0.681245,0.645242,0.613104,0.609647,0.640119,4.196912,4.141014
50%,1.131253,1.105193,1.244749,1.239133,1.233543,1.227977,1.363424,1.357226,1.351055,1.344913,...,3.216404,3.242589,3.302545,3.301199,3.164370,3.277726,3.106366,3.263605,6.722385,6.506759
75%,1.131253,1.105193,1.244749,1.239133,1.233543,1.227977,1.363424,1.357226,1.351055,1.344913,...,7.514300,7.530032,7.296806,7.463160,7.555909,7.293089,6.782996,6.983513,9.513115,9.194220
max,1.131253,1.105193,1.244749,1.239133,1.233543,1.227977,1.363424,1.357226,1.351055,1.344913,...,55.322622,62.069377,63.187436,57.986895,57.066817,48.702062,41.378843,40.098333,41.220928,46.643197

In [5]:
# give better name to columns
co2.rename(columns = {'CO2 per capita' : 'country'}, inplace = True)

In [6]:
co2.head()

,country,1751,1755,1762,1763,1764,1765,1766,1767,1768,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.022704,0.027472,0.036780,0.047090,0.068312,0.131602,0.213325,0.262174,NaN,NaN
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.382066,1.332966,1.353789,1.224310,1.279420,1.297753,1.215055,1.336544,NaN,NaN
4,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.899236,2.762220,3.257010,3.113135,3.312875,3.328945,3.564361,3.480977,3.562504,3.785654

In [7]:
# are there any duplicate countries?

print len(co2.index.values)
print len(pd.Series(co2.index.values).unique())

235
235

In [8]:
# how many countries has data from 1751?

co2['1751'].describe()

count    1.000000
mean     1.131253
std           NaN
min      1.131253
25%      1.131253
50%      1.131253
75%      1.131253
max      1.131253
Name: 1751, dtype: float64

In [9]:
# Which country has data for 1751?

co2.loc[pd.notnull(co2['1751'])]

,country,1751,1755,1762,1763,1764,1765,1766,1767,1768,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
219,United Kingdom,1.131253,1.105193,1.244749,1.239133,1.233543,1.227977,1.363424,1.357226,1.351055,...,9.069663,9.022278,9.001868,8.952901,8.684595,8.526467,7.705539,7.954469,7.324996,7.502533

In [10]:
# How many countries do not have recent data?

missing_recent = co2.loc[pd.isnull(co2['2012'])]
len(missing_recent)

170

In [11]:
# what's the max value for the entire df?

co2.max().tail()

2008    48.7021
2009    41.3788
2010    40.0983
2011    41.2209
2012    46.6432
dtype: object

In [12]:
co2.min().head()

country    Abkhazia
1751        1.13125
1755        1.10519
1762        1.24475
1763        1.23913
dtype: object

In [13]:

#co2.set_index('CO2 per capita')

In [14]:
# look at countries I've lived in

my_countries = ['Canada', 'France', 'Germany', 'United States']

co2_my_countries = pd.DataFrame.copy(co2)
co2_my_countries.head()

,country,1751,1755,1762,1763,1764,1765,1766,1767,1768,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.022704,0.027472,0.036780,0.047090,0.068312,0.131602,0.213325,0.262174,NaN,NaN
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.382066,1.332966,1.353789,1.224310,1.279420,1.297753,1.215055,1.336544,NaN,NaN
4,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.899236,2.762220,3.257010,3.113135,3.312875,3.328945,3.564361,3.480977,3.562504,3.785654

In [15]:
co2_my_countries = co2_my_countries.set_index('country')

In [16]:
co2_my_countries = co2_my_countries.ix[my_countries]
co2_my_countries.head()

,1751,1755,1762,1763,1764,1765,1766,1767,1768,1769,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
country,,,,,,,,,,,,,,,,,,,,,
Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.499531,17.289814,17.439926,16.862318,17.004124,16.350399,15.260099,14.672016,14.807039,14.573717
France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.439526,6.437106,6.427193,6.232634,6.087140,5.999021,5.715312,5.753381,5.374692,5.414825
Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.102924,10.007003,9.772508,9.799174,9.500479,9.497247,8.885125,9.055816,8.754291,8.931395
United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.503354,19.690462,19.627580,19.151450,19.280398,18.545992,17.262224,17.502718,16.983161,16.218200

In [17]:
# transpose df

co2_my_countries = co2_my_countries.T

# reindex
co2_my_countries.reset_index(inplace=True)

# rename to year
co2_my_countries.rename(columns = {"index" : "year"}, inplace = True)


# create list of columns to use as value columns

cols = list(co2_my_countries.columns.values)[1:]
#cols = cols

# convert to long format

co2_my_countries_long = pd.melt(co2_my_countries, id_vars = 'year', value_vars = cols)

In [18]:
co2_my_countries_long.tail()

      year        country      value
1007  2008  United States  18.545992
1008  2009  United States  17.262224
1009  2010  United States  17.502718
1010  2011  United States  16.983161
1011  2012  United States  16.218200

In [107]:
def prep_df(df):
    # makes a copy & reshapes df so it can 
    # be converted to long (tidy) format
    df_copy = pd.DataFrame.copy(df) 
    df_copy = df_copy.set_index('country')
    df_yr_ix = df_copy.T
    df_yr_ix = df_yr_ix.reset_index()
    df_yr_ix.rename(columns = {"index" : "year"}, inplace = True)
    
    # create list of country names for use as value columns
    cols = (list(df_yr_ix.columns.values))[1:]
    
    # convert to long format
    df_yr_long = pd.melt(df_yr_ix, id_vars = 'year', value_vars = cols)
    
    return df_yr_long

In [108]:
test = prep_df(co2)
test[test.country == 'United Kingdom']

       year         country      value
55407  1751  United Kingdom   1.131253
55408  1755  United Kingdom   1.105193
55409  1762  United Kingdom   1.244749
55410  1763  United Kingdom   1.239133
55411  1764  United Kingdom   1.233543
55412  1765  United Kingdom   1.227977
55413  1766  United Kingdom   1.363424
55414  1767  United Kingdom   1.357226
55415  1768  United Kingdom   1.351055
55416  1769  United Kingdom   1.344913
55417  1770  United Kingdom   1.338798
55418  1771  United Kingdom   1.471770
55419  1772  United Kingdom   1.459377
55420  1773  United Kingdom   1.447089
55421  1774  United Kingdom   1.434904
55422  1775  United Kingdom   1.422822
55423  1776  United Kingdom   1.556476
55424  1777  United Kingdom   1.543331
55425  1778  United Kingdom   1.530297
55426  1779  United Kingdom   1.517373
55427  1780  United Kingdom   1.504924
55428  1781  United Kingdom   1.668550
55429  1782  United Kingdom   1.653940
55430  1783  United Kingdom   1.639815
55431  1784  United Kingdom   1.625457
55432  1785  United Kingdom   1.611575
55433  1786  United Kingdom   1.813282
55434  1787  United Kingdom   1.797702
55435  1788  United Kingdom   1.781915
55436  1789  United Kingdom   1.766604
...     ...             ...        ...
55630  1983  United Kingdom   9.678932
55631  1984  United Kingdom   9.378408
55632  1985  United Kingdom   9.905083
55633  1986  United Kingdom  10.044083
55634  1987  United Kingdom  10.075415
55635  1988  United Kingdom  10.024455
55636  1989  United Kingdom  10.194315
55637  1990  United Kingdom   9.979975
55638  1991  United Kingdom  10.184797
55639  1992  United Kingdom  10.047893
55640  1993  United Kingdom   9.682954
55641  1994  United Kingdom   9.598925
55642  1995  United Kingdom   9.580070
55643  1996  United Kingdom   9.823614
55644  1997  United Kingdom   9.354158
55645  1998  United Kingdom   9.322261
55646  1999  United Kingdom   9.127137
55647  2000  United Kingdom   9.233475
55648  2001  United Kingdom   9.315213
55649  2002  United Kingdom   8.963441
55650  2003  United Kingdom   9.069663
55651  2004  United Kingdom   9.022278
55652  2005  United Kingdom   9.001868
55653  2006  United Kingdom   8.952901
55654  2007  United Kingdom   8.684595
55655  2008  United Kingdom   8.526467
55656  2009  United Kingdom   7.705539
55657  2010  United Kingdom   7.954469
55658  2011  United Kingdom   7.324996
55659  2012  United Kingdom   7.502533

[253 rows x 3 columns]

In [110]:
# add continent and region info for
# better grouping

regions = pd.read_json('data/all_countries.json')
regions = regions[['name', 'region', 'sub-region']]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 249 entries, 0 to 248
Data columns (total 3 columns):
name          249 non-null object
region        240 non-null object
sub-region    240 non-null object
dtypes: object(3)
memory usage: 7.8+ KB

In [ ]:
regions.info()

In [124]:
regions = regions.rename(columns = {'name':'country'})

Obvious problems:

* accents
* long-winded names (uk of gb & n ireland)
* parenthesis (virgin islands)
* extra spaces
* short form vs long form (us, uae)

In [122]:
pd.Series(test.country.unique())

0                      Abkhazia
1                   Afghanistan
2         Akrotiri and Dhekelia
3                       Albania
4                       Algeria
5                American Samoa
6                       Andorra
7                        Angola
8                      Anguilla
9           Antigua and Barbuda
10                    Argentina
11                      Armenia
12                        Aruba
13                    Australia
14                      Austria
15                   Azerbaijan
16                      Bahamas
17                      Bahrain
18                   Bangladesh
19                     Barbados
20                      Belarus
21                      Belgium
22                       Belize
23                        Benin
24                      Bermuda
25                       Bhutan
26                      Bolivia
27       Bosnia and Herzegovina
28                     Botswana
29                       Brazil
                 ...
205                 Timor-Leste
206                        Togo
207                     Tokelau
208                       Tonga
209                Transnistria
210         Trinidad and Tobago
211                     Tunisia
212                      Turkey
213                Turkmenistan
214    Turks and Caicos Islands
215                      Tuvalu
216                      Uganda
217                     Ukraine
218        United Arab Emirates
219              United Kingdom
220               United States
221                     Uruguay
222                  Uzbekistan
223            Wallis et Futuna
224                     Vanuatu
225                   Venezuela
226          West Bank and Gaza
227                West Germany
228              Western Sahara
229                     Vietnam
230       Virgin Islands (U.S.)
231                  Yugoslavia
232                      Zambia
233                    Zimbabwe
234                       Åland
dtype: object

In [114]:
regions.region.unique()

array([u'Asia', u'Europe', u'Africa', u'Oceania', u'Americas', None], dtype=object)

In [119]:
# what are the null regions?
regions.loc[regions.region.isnull()]

                                             name region sub-region
8                                      Antarctica   None       None
30                                  Bouvet Island   None       None
32                 British Indian Ocean Territory   None       None
46                               Christmas Island   None       None
47                        Cocos (Keeling) Islands   None       None
78                    French Southern Territories   None       None
96              Heard Island and McDonald Islands   None       None
206  South Georgia and the South Sandwich Islands   None       None
236          United States Minor Outlying Islands   None       None

In [125]:
# merge with region columns

co2_regions = test.merge(regions, how = 'left', on='country')

In [134]:
co2_regions.groupby(['region', 'country']).sum()

                                        value
region  country
Africa  Algeria                    137.698738
        Angola                      33.652455
        Benin                        9.669844
        Botswana                    61.664399
        Burkina Faso                 2.866712
        Burundi                      1.666611
        Cameroon                    12.509088
        Chad                         1.632327
        Comoros                      6.678796
        Djibouti                    42.432055
        Egypt                       80.359401
        Equatorial Guinea           89.520967
        Eritrea                      2.361829
        Ethiopia                     2.822713
        Gabon                      208.890265
        Gambia                       9.629194
        Ghana                       16.198840
        Guinea                       9.077969
        Guinea-Bissau                8.127343
        Kenya                       17.027781
        Lesotho                      0.032485
        Liberia                     22.728431
        Libya                      410.293198
        Madagascar                   6.491177
        Malawi                       4.018381
        Mali                         2.260104
        Mauritania                  30.961538
        Mauritius                   68.555173
        Mayotte                           NaN
        Morocco                     49.255606
...                                       ...
Europe  Romania                    380.922573
        San Marino                        NaN
        Serbia                      86.644550
        Slovenia                   144.166322
        Spain                      344.782677
        Sweden                     599.617578
        Switzerland                458.750169
        Ukraine                    158.152722
Oceania American Samoa                    NaN
        Australia                 1088.688431
        Fiji                        57.378691
        French Polynesia           122.175057
        Guam                              NaN
        Kiribati                    22.462785
        Marshall Islands            31.112344
        Nauru                      582.758508
        New Caledonia              718.242462
        New Zealand                605.375243
        Niue                        84.302296
        Norfolk Island                    NaN
        Northern Mariana Islands          NaN
        Palau                      157.947053
        Papua New Guinea            24.380410
        Pitcairn                          NaN
        Samoa                       30.817395
        Solomon Islands             19.804901
        Tokelau                           NaN
        Tonga                       39.660703
        Tuvalu                            NaN
        Vanuatu                     25.250133

[191 rows x 1 columns]

In [144]:
# which countries had no corresponding regional info
co2_totals = co2_regions[co2_regions.region.isnull()].groupby('country').sum()

In [188]:
# Do countries with NaN aggregate values have any values?

all_nulls = list(co2_totals[co2_totals.value.isnull()].index.values)

In [197]:

#all_nulls
co2[co2.country.isin(all_nulls)]

,country,1751,1755,1762,1763,1764,1765,1766,1767,1768,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Channel Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Cocos Island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,East Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Eritrea and Ethiopia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,Northern Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,Serbia and Montenegro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,Serbia excluding Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,Somaliland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,South Ossetia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,Svalbard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,Transnistria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,West Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,Yugoslavia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,Åland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#remove redundant column

co2_my_countries_long = co2_my_countries_long.drop('name', axis = 1)

co2_my_countries_long.head()

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

In [ ]:
# which countries do not have a match in regions?
countries = list(co2[co2.columns[0]])
regions_list = list(regions['name'].values)

In [ ]:
no_region = [i for i in countries if i not in regions_list]
len(no_region)

In [ ]:
no_region

In [ ]:
# and vice-versa

no_country = [i for i in regions_list if i not in countries]
len(no_country)

In [ ]:
no_country

In [ ]:
# remove accents from countries in regions df
import unidecode
regions.name = regions.name.apply(unidecode.unidecode)
regions.name.head()

In [ ]:
# how many more matches did we get?
print "Before:"
print len(no_country)
print ""
print "After:"

regions_list = list(regions['name'].values)
no_country = [i for i in regions_list if i not in countries]
len(no_country)

In [ ]:
# more cleanup

bvi = 'British Virgin Islands'
vib = 'Virgin Islands (British)'

bvi = bvi.split()
vib = vib.split()
vib_clean = [i.strip("()") for i in vib]

for word in bvi:
    if word in vib_clean:
        print "match"
    else:
        print "no match"

In [ ]:
# TODO: remove words in ()
# str.replace(r"\(.*\)","")

vib = 'Virgin Islands (British)'
import re
#print re.sub(r'[^A-Za-z0-9 ]+', '', vib)
print re.sub('\W+',' ', vib )


#vib.replace("(","")

In [ ]:
test = ['South', 'Georgia', 'the', 'South', 'Sandwich', 'Islands']
for i in test: 
    if i in connector_words:
        test.remove(i)
        print test
    else:
        pass

In [ ]:
def remove_special_char(s):
    clean_s = re.sub('\W+',' ', s)
    return clean_s
    

names_cleaned = regions['name'].apply(remove_special_char)
names_cleaned_list = names_cleaned.str.split()
connector_words = ['and', 'et', 'of', 'the']

for l in names_cleaned_list:
    new_list = []
    for word in l:
        if word in connector_words:
            l.remove(word)
        else:
            pass
    new_list.append(l)
    print l

In [ ]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [ ]:
import seaborn as sns

sns.set(color_codes = True)
#sns.set_style({'axes.linewidth': '0.5'})


co2_my_countries_long.year = pd.Categorical(co2_my_countries_long.year, ordered = True)



p = sns.factorplot(x = 'year', y = 'value', hue = 'country', 
               row = 'region', size = 6, data = co2_my_countries_long)

p.set_xticklabels(rotation=45)
p.set(ylim=(0,None))


co2_my_countries_long.groupby(['sub-region', 'country']).describe()

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!