**Tip**: Welcome to the Investigate a Dataset project! You will find tips in quoted sections like this to help organize your approach to your investigation. Before submitting your project, it will be a good idea to go back through your report and remove these sections to make the presentation of your work as tidy as possible. First things first, you might want to double-click this Markdown cell and change the title so that it reflects your dataset and investigation.

# Project: Investigate Carbon Per Capita


## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables.
>
> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. If you're not sure what questions to ask right now, then make sure you familiarize yourself with the variables and the dataset context for ideas of what to explore.

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

/Users/sarahhosking/anaconda/envs/DAND/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [6]:
# read data
co2 = pd.read_csv("data/indicator CDIAC carbon_dioxide_emissions_per_capita.csv")

# how big is the dataset?
print co2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Columns: 254 entries, CO2 per capita to 2012
dtypes: float64(253), object(1)
memory usage: 466.4+ KB
None

In [7]:
# what does it look like?
print co2.head()

          CO2 per capita  1751  1755  1762  1763  1764  1765  1766  1767  \
0               Abkhazia   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1            Afghanistan   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  Akrotiri and Dhekelia   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3                Albania   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4                Algeria   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   1768    ...         2003      2004      2005      2006      2007      2008  \
0   NaN    ...          NaN       NaN       NaN       NaN       NaN       NaN
1   NaN    ...     0.022704  0.027472  0.036780  0.047090  0.068312  0.131602
2   NaN    ...          NaN       NaN       NaN       NaN       NaN       NaN
3   NaN    ...     1.382066  1.332966  1.353789  1.224310  1.279420  1.297753
4   NaN    ...     2.899236  2.762220  3.257010  3.113135  3.312875  3.328945

       2009      2010      2011      2012
0       NaN       NaN       NaN       NaN
1  0.213325  0.262174       NaN       NaN
2       NaN       NaN       NaN       NaN
3  1.215055  1.336544       NaN       NaN
4  3.564361  3.480977  3.562504  3.785654

[5 rows x 254 columns]

#### Observations

* The data goes back a long way, but there are a lot of NaNs in those early years.
* There are also NaNs in more recent years too, which could be informative.
* The country column heading should be changed.

In [8]:
# summary stats
co2.describe()

,1751,1755,1762,1763,1764,1765,1766,1767,1768,1769,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
count,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,200.000000,200.000000,200.000000,200.000000,201.000000,201.000000,201.000000,201.000000,65.000000,65.000000
mean,1.131253,1.105193,1.244749,1.239133,1.233543,1.227977,1.363424,1.357226,1.351055,1.344913,...,5.160597,5.266567,5.242741,5.250673,5.387444,5.293425,5.064836,5.189779,8.395975,8.391032
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.892710,7.222377,7.198735,6.950140,7.281876,6.858804,6.479270,6.538857,7.796528,8.041490
min,1.131253,1.105193,1.244749,1.239133,1.233543,1.227977,1.363424,1.357226,1.351055,1.344913,...,0.022704,0.027472,0.021237,0.025019,0.003482,0.008618,0.011942,0.008443,0.401268,0.426003
25%,1.131253,1.105193,1.244749,1.239133,1.233543,1.227977,1.363424,1.357226,1.351055,1.344913,...,0.610230,0.682390,0.730938,0.681245,0.645242,0.613104,0.609647,0.640119,4.196912,4.141014
50%,1.131253,1.105193,1.244749,1.239133,1.233543,1.227977,1.363424,1.357226,1.351055,1.344913,...,3.216404,3.242589,3.302545,3.301199,3.164370,3.277726,3.106366,3.263605,6.722385,6.506759
75%,1.131253,1.105193,1.244749,1.239133,1.233543,1.227977,1.363424,1.357226,1.351055,1.344913,...,7.514300,7.530032,7.296806,7.463160,7.555909,7.293089,6.782996,6.983513,9.513115,9.194220
max,1.131253,1.105193,1.244749,1.239133,1.233543,1.227977,1.363424,1.357226,1.351055,1.344913,...,55.322622,62.069377,63.187436,57.986895,57.066817,48.702062,41.378843,40.098333,41.220928,46.643197

In [9]:
# give better name to first columns
co2.rename(columns = {'CO2 per capita' : 'country'}, inplace = True)

In [10]:
co2.head()

,country,1751,1755,1762,1763,1764,1765,1766,1767,1768,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.022704,0.027472,0.036780,0.047090,0.068312,0.131602,0.213325,0.262174,NaN,NaN
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.382066,1.332966,1.353789,1.224310,1.279420,1.297753,1.215055,1.336544,NaN,NaN
4,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.899236,2.762220,3.257010,3.113135,3.312875,3.328945,3.564361,3.480977,3.562504,3.785654

In [11]:
# how many countries have data from 1751?
co2['1751'].describe()

count    1.000000
mean     1.131253
std           NaN
min      1.131253
25%      1.131253
50%      1.131253
75%      1.131253
max      1.131253
Name: 1751, dtype: float64

Not surprisingly, only one country has data going that far back. Which one?

In [12]:
# Which country has data for 1751?
co2.loc[pd.notnull(co2['1751'])]

,country,1751,1755,1762,1763,1764,1765,1766,1767,1768,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
219,United Kingdom,1.131253,1.105193,1.244749,1.239133,1.233543,1.227977,1.363424,1.357226,1.351055,...,9.069663,9.022278,9.001868,8.952901,8.684595,8.526467,7.705539,7.954469,7.324996,7.502533

But of course, the foremost colonial power of the era!

In [13]:
# How many countries do not have data in the last year?
missing_recent = co2.loc[pd.isnull(co2['2012'])]
len(missing_recent)

170

###  Sanity checks

Which countries have the highest cumulative CO2?

In [14]:
# change index for simpler aggregating
co2 = co2.set_index('country')

In [15]:
co2.sum(1).sort_values(ascending = False)

country
Qatar                       3005.390701
United States               2043.289976
Brunei                      2006.882965
United Kingdom              1784.762577
Luxembourg                  1758.837129
United Arab Emirates        1703.118653
Kuwait                      1624.240671
Bahrain                     1558.783103
Canada                      1410.204984
Belgium                     1379.276171
Trinidad and Tobago         1264.426704
Germany                     1210.906480
Australia                   1088.688431
Netherlands                  889.863537
Slovak Republic              845.036499
Denmark                      805.823307
Russia                       792.381253
Poland                       780.967275
France                       732.874690
New Caledonia                718.242462
Netherlands Antilles         706.418690
Austria                      697.931600
Saudi Arabia                 686.246180
Bahamas                      685.328774
South Africa                 643.979490
New Zealand                  605.375243
Sweden                       599.617578
Norway                       597.857582
Nauru                        582.758508
Faeroe Islands               570.252834
                               ...
Cocos Island                        NaN
East Germany                        NaN
Eritrea and Ethiopia                NaN
Guam                                NaN
Guernsey                            NaN
Holy See                            NaN
Isle of Man                         NaN
Jersey                              NaN
Kosovo                              NaN
Liechtenstein                       NaN
Mayotte                             NaN
Monaco                              NaN
Norfolk Island                      NaN
Northern Cyprus                     NaN
Northern Mariana Islands            NaN
Pitcairn                            NaN
San Marino                          NaN
Serbia and Montenegro               NaN
Serbia excluding Kosovo             NaN
Somaliland                          NaN
South Ossetia                       NaN
South Sudan                         NaN
Svalbard                            NaN
Tokelau                             NaN
Transnistria                        NaN
Tuvalu                              NaN
West Germany                        NaN
Virgin Islands (U.S.)               NaN
Yugoslavia                          NaN
Åland                               NaN
dtype: float64

#### Observations

Most of the top 10 are unsurprising: rich and/or oil-producing countries.

However, there are surprises too: Belgium, Trinidad & Tobago, and Luxembourg. Perhaps this is reflects data that goes back further for those countries. 

Let's compare with the means.

In [16]:
# which countries have the highest mean CO2?
co2.mean(1).sort_values(ascending = False)

country
Qatar                       46.959230
United Arab Emirates        31.539234
Netherlands Antilles        28.256748
Luxembourg                  26.649047
Brunei                      24.776333
Kuwait                      24.242398
Aruba                       20.710109
Bahrain                     19.984399
Nauru                       12.399117
Kazakhstan                  12.058241
Trinidad and Tobago         12.042159
New Caledonia               11.774467
Bahamas                     11.234898
United States                9.592911
Faeroe Islands               9.348407
Singapore                    8.978851
Greenland                    8.862988
Turkmenistan                 8.853965
Saudi Arabia                 8.798028
Palau                        8.313003
Slovenia                     7.587701
Estonia                      7.539403
Ukraine                      7.531082
Belgium                      7.496066
Cayman Islands               7.153721
Andorra                      7.106571
United Kingdom               7.054398
Oman                         6.944342
Libya                        6.726118
Australia                    6.720299
                              ...
Cocos Island                      NaN
East Germany                      NaN
Eritrea and Ethiopia              NaN
Guam                              NaN
Guernsey                          NaN
Holy See                          NaN
Isle of Man                       NaN
Jersey                            NaN
Kosovo                            NaN
Liechtenstein                     NaN
Mayotte                           NaN
Monaco                            NaN
Norfolk Island                    NaN
Northern Cyprus                   NaN
Northern Mariana Islands          NaN
Pitcairn                          NaN
San Marino                        NaN
Serbia and Montenegro             NaN
Serbia excluding Kosovo           NaN
Somaliland                        NaN
South Ossetia                     NaN
South Sudan                       NaN
Svalbard                          NaN
Tokelau                           NaN
Transnistria                      NaN
Tuvalu                            NaN
West Germany                      NaN
Virgin Islands (U.S.)             NaN
Yugoslavia                        NaN
Åland                             NaN
dtype: float64

#### Observations

Now the top 10 is nearly all oil-rich countries. Nonetheless, we still have Luxembourg in the top 10, along with Netherlands Antilles. And other Caribbean island countries are near the top.

Also...the bottom results show that we have many rows without any values.

In [17]:
# how many rows without values?
co2.loc[co2.sum(1).isnull()]

,1751,1755,1762,1763,1764,1765,1766,1767,1768,1769,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
country,,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Channel Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cocos Island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
East Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Eritrea and Ethiopia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Guam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Guernsey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Holy See,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Isle of Man,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jersey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Liechtenstein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mayotte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Monaco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Norfolk Island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Northern Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Northern Mariana Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pitcairn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
San Marino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Serbia and Montenegro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Serbia excluding Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Somaliland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Ossetia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Svalbard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tokelau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Transnistria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
West Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yugoslavia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Åland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# remove rows without any data
co2 = co2.dropna(how = 'all')

# verify
co2.loc[co2.sum(1).isnull()]

Empty DataFrame
Columns: [1751, 1755, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, ...]
Index: []

[0 rows x 253 columns]

### Trim & add region data

CO2 patterns, I suspect, vary a lot by region and not just by country. 

For my analysis, I'd like to primarily focus on Europe since that's where I'm currently living.

In [19]:
co2.head()

,1751,1755,1762,1763,1764,1765,1766,1767,1768,1769,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.022704,0.027472,0.036780,0.047090,0.068312,0.131602,0.213325,0.262174,NaN,NaN
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.382066,1.332966,1.353789,1.224310,1.279420,1.297753,1.215055,1.336544,NaN,NaN
Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.899236,2.762220,3.257010,3.113135,3.312875,3.328945,3.564361,3.480977,3.562504,3.785654
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.414281,7.499690,7.390955,6.839940,6.622435,6.527241,6.178520,6.092100,NaN,NaN
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.587810,1.177610,1.161662,1.308849,1.435044,1.474353,1.500054,1.593918,NaN,NaN

In [20]:
# reset index so that 'country' is a column
co2 = co2.reset_index()

In [21]:
# verify
co2.head()

,country,1751,1755,1762,1763,1764,1765,1766,1767,1768,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.022704,0.027472,0.036780,0.047090,0.068312,0.131602,0.213325,0.262174,NaN,NaN
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.382066,1.332966,1.353789,1.224310,1.279420,1.297753,1.215055,1.336544,NaN,NaN
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.899236,2.762220,3.257010,3.113135,3.312875,3.328945,3.564361,3.480977,3.562504,3.785654
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.414281,7.499690,7.390955,6.839940,6.622435,6.527241,6.178520,6.092100,NaN,NaN
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.587810,1.177610,1.161662,1.308849,1.435044,1.474353,1.500054,1.593918,NaN,NaN

In [22]:
def prep_daf(df):
    # Make a copy & reshape df so it can 
    # be converted to long (tidy) format.
    # Assume 'country' is a column, not index
    df_copy = df.copy() 
    df_copy = df_copy.set_index('country')
    df_yr_ix = df_copy.T
    df_yr_ix = df_yr_ix.reset_index()
    df_yr_ix.rename(columns = {"index" : "year"}, inplace = True)
    
    # create list of country names for use as value columns
    cols = (list(df_yr_ix.columns.values))[1:]
    
    # convert to long format
    df_yr_long = pd.melt(df_yr_ix, id_vars = 'year', value_vars = cols)

    
    return df_yr_long

In [23]:
co2_long = prep_df(co2)

# verify by looking at country with data for all years
co2_long[co2_long.country == 'United Kingdom']

       year         country      value
47817  1751  United Kingdom   1.131253
47818  1755  United Kingdom   1.105193
47819  1762  United Kingdom   1.244749
47820  1763  United Kingdom   1.239133
47821  1764  United Kingdom   1.233543
47822  1765  United Kingdom   1.227977
47823  1766  United Kingdom   1.363424
47824  1767  United Kingdom   1.357226
47825  1768  United Kingdom   1.351055
47826  1769  United Kingdom   1.344913
47827  1770  United Kingdom   1.338798
47828  1771  United Kingdom   1.471770
47829  1772  United Kingdom   1.459377
47830  1773  United Kingdom   1.447089
47831  1774  United Kingdom   1.434904
47832  1775  United Kingdom   1.422822
47833  1776  United Kingdom   1.556476
47834  1777  United Kingdom   1.543331
47835  1778  United Kingdom   1.530297
47836  1779  United Kingdom   1.517373
47837  1780  United Kingdom   1.504924
47838  1781  United Kingdom   1.668550
47839  1782  United Kingdom   1.653940
47840  1783  United Kingdom   1.639815
47841  1784  United Kingdom   1.625457
47842  1785  United Kingdom   1.611575
47843  1786  United Kingdom   1.813282
47844  1787  United Kingdom   1.797702
47845  1788  United Kingdom   1.781915
47846  1789  United Kingdom   1.766604
...     ...             ...        ...
48040  1983  United Kingdom   9.678932
48041  1984  United Kingdom   9.378408
48042  1985  United Kingdom   9.905083
48043  1986  United Kingdom  10.044083
48044  1987  United Kingdom  10.075415
48045  1988  United Kingdom  10.024455
48046  1989  United Kingdom  10.194315
48047  1990  United Kingdom   9.979975
48048  1991  United Kingdom  10.184797
48049  1992  United Kingdom  10.047893
48050  1993  United Kingdom   9.682954
48051  1994  United Kingdom   9.598925
48052  1995  United Kingdom   9.580070
48053  1996  United Kingdom   9.823614
48054  1997  United Kingdom   9.354158
48055  1998  United Kingdom   9.322261
48056  1999  United Kingdom   9.127137
48057  2000  United Kingdom   9.233475
48058  2001  United Kingdom   9.315213
48059  2002  United Kingdom   8.963441
48060  2003  United Kingdom   9.069663
48061  2004  United Kingdom   9.022278
48062  2005  United Kingdom   9.001868
48063  2006  United Kingdom   8.952901
48064  2007  United Kingdom   8.684595
48065  2008  United Kingdom   8.526467
48066  2009  United Kingdom   7.705539
48067  2010  United Kingdom   7.954469
48068  2011  United Kingdom   7.324996
48069  2012  United Kingdom   7.502533

[253 rows x 3 columns]

In [24]:
co2_long.tail()

       year   country     value
50848  2008  Zimbabwe  0.654323
50849  2009  Zimbabwe  0.700177
50850  2010  Zimbabwe  0.749873
50851  2011  Zimbabwe       NaN
50852  2012  Zimbabwe       NaN

## Add region & sub-region columns

Data from http://www.internetworldstats.com/list1.htm

In [25]:
# add continent and region info for
# better grouping

regions = pd.read_json('data/all_countries.json')
regions = regions[['name', 'region', 'sub-region']]

In [26]:
regions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 249 entries, 0 to 248
Data columns (total 3 columns):
name          249 non-null object
region        240 non-null object
sub-region    240 non-null object
dtypes: object(3)
memory usage: 7.8+ KB

In [27]:
# what are the 9 rows with null region & sub-region?
regions.loc[regions.region.isnull()]

                                             name region sub-region
8                                      Antarctica   None       None
30                                  Bouvet Island   None       None
32                 British Indian Ocean Territory   None       None
46                               Christmas Island   None       None
47                        Cocos (Keeling) Islands   None       None
78                    French Southern Territories   None       None
96              Heard Island and McDonald Islands   None       None
206  South Georgia and the South Sandwich Islands   None       None
236          United States Minor Outlying Islands   None       None

In [28]:
# give better name to country column
# also easier for merging with gapminder df

regions = regions.rename(columns = {'name':'country'})

In [29]:
# drop countries without any region data
regions = regions.dropna(how = 'any')

# verify
regions.loc[regions.region.isnull()]

Empty DataFrame
Columns: [country, region, sub-region]
Index: []

The merge will be on the country. 

To simplify things, let's rename the regions.name column

In [30]:
# how many different regions?
regions.region.unique()

array([u'Asia', u'Europe', u'Africa', u'Oceania', u'Americas'], dtype=object)

In [31]:
# how many countries in the regions df?
len(regions.country)

240

In [32]:
# examine the join field for the merge
list(regions.country)

[u'Afghanistan',
 u'\xc5land Islands',
 u'Albania',
 u'Algeria',
 u'American Samoa',
 u'Andorra',
 u'Angola',
 u'Anguilla',
 u'Antigua and Barbuda',
 u'Argentina',
 u'Armenia',
 u'Aruba',
 u'Australia',
 u'Austria',
 u'Azerbaijan',
 u'Bahamas',
 u'Bahrain',
 u'Bangladesh',
 u'Barbados',
 u'Belarus',
 u'Belgium',
 u'Belize',
 u'Benin',
 u'Bermuda',
 u'Bhutan',
 u'Bolivia (Plurinational State of)',
 u'Bonaire, Sint Eustatius and Saba',
 u'Bosnia and Herzegovina',
 u'Botswana',
 u'Brazil',
 u'Brunei Darussalam',
 u'Bulgaria',
 u'Burkina Faso',
 u'Burundi',
 u'Cambodia',
 u'Cameroon',
 u'Canada',
 u'Cabo Verde',
 u'Cayman Islands',
 u'Central African Republic',
 u'Chad',
 u'Chile',
 u'China',
 u'Colombia',
 u'Comoros',
 u'Congo',
 u'Congo (Democratic Republic of the)',
 u'Cook Islands',
 u'Costa Rica',
 u"C\xf4te d'Ivoire",
 u'Croatia',
 u'Cuba',
 u'Cura\xe7ao',
 u'Cyprus',
 u'Czech Republic',
 u'Denmark',
 u'Djibouti',
 u'Dominica',
 u'Dominican Republic',
 u'Ecuador',
 u'Egypt',
 u'El Salvador',
 u'Equatorial Guinea',
 u'Eritrea',
 u'Estonia',
 u'Ethiopia',
 u'Falkland Islands (Malvinas)',
 u'Faroe Islands',
 u'Fiji',
 u'Finland',
 u'France',
 u'French Guiana',
 u'French Polynesia',
 u'Gabon',
 u'Gambia',
 u'Georgia',
 u'Germany',
 u'Ghana',
 u'Gibraltar',
 u'Greece',
 u'Greenland',
 u'Grenada',
 u'Guadeloupe',
 u'Guam',
 u'Guatemala',
 u'Guernsey',
 u'Guinea',
 u'Guinea-Bissau',
 u'Guyana',
 u'Haiti',
 u'Holy See',
 u'Honduras',
 u'Hong Kong',
 u'Hungary',
 u'Iceland',
 u'India',
 u'Indonesia',
 u'Iran (Islamic Republic of)',
 u'Iraq',
 u'Ireland',
 u'Isle of Man',
 u'Israel',
 u'Italy',
 u'Jamaica',
 u'Japan',
 u'Jersey',
 u'Jordan',
 u'Kazakhstan',
 u'Kenya',
 u'Kiribati',
 u"Korea (Democratic People's Republic of)",
 u'Korea (Republic of)',
 u'Kuwait',
 u'Kyrgyzstan',
 u"Lao People's Democratic Republic",
 u'Latvia',
 u'Lebanon',
 u'Lesotho',
 u'Liberia',
 u'Libya',
 u'Liechtenstein',
 u'Lithuania',
 u'Luxembourg',
 u'Macao',
 u'Macedonia (the former Yugoslav Republic of)',
 u'Madagascar',
 u'Malawi',
 u'Malaysia',
 u'Maldives',
 u'Mali',
 u'Malta',
 u'Marshall Islands',
 u'Martinique',
 u'Mauritania',
 u'Mauritius',
 u'Mayotte',
 u'Mexico',
 u'Micronesia (Federated States of)',
 u'Moldova (Republic of)',
 u'Monaco',
 u'Mongolia',
 u'Montenegro',
 u'Montserrat',
 u'Morocco',
 u'Mozambique',
 u'Myanmar',
 u'Namibia',
 u'Nauru',
 u'Nepal',
 u'Netherlands',
 u'New Caledonia',
 u'New Zealand',
 u'Nicaragua',
 u'Niger',
 u'Nigeria',
 u'Niue',
 u'Norfolk Island',
 u'Northern Mariana Islands',
 u'Norway',
 u'Oman',
 u'Pakistan',
 u'Palau',
 u'Palestine, State of',
 u'Panama',
 u'Papua New Guinea',
 u'Paraguay',
 u'Peru',
 u'Philippines',
 u'Pitcairn',
 u'Poland',
 u'Portugal',
 u'Puerto Rico',
 u'Qatar',
 u'R\xe9union',
 u'Romania',
 u'Russian Federation',
 u'Rwanda',
 u'Saint Barth\xe9lemy',
 u'Saint Helena, Ascension and Tristan da Cunha',
 u'Saint Kitts and Nevis',
 u'Saint Lucia',
 u'Saint Martin (French part)',
 u'Saint Pierre and Miquelon',
 u'Saint Vincent and the Grenadines',
 u'Samoa',
 u'San Marino',
 u'Sao Tome and Principe',
 u'Saudi Arabia',
 u'Senegal',
 u'Serbia',
 u'Seychelles',
 u'Sierra Leone',
 u'Singapore',
 u'Sint Maarten (Dutch part)',
 u'Slovakia',
 u'Slovenia',
 u'Solomon Islands',
 u'Somalia',
 u'South Africa',
 u'South Sudan',
 u'Spain',
 u'Sri Lanka',
 u'Sudan',
 u'Suriname',
 u'Svalbard and Jan Mayen',
 u'Swaziland',
 u'Sweden',
 u'Switzerland',
 u'Syrian Arab Republic',
 u'Taiwan, Province of China',
 u'Tajikistan',
 u'Tanzania, United Republic of',
 u'Thailand',
 u'Timor-Leste',
 u'Togo',
 u'Tokelau',
 u'Tonga',
 u'Trinidad and Tobago',
 u'Tunisia',
 u'Turkey',
 u'Turkmenistan',
 u'Turks and Caicos Islands',
 u'Tuvalu',
 u'Uganda',
 u'Ukraine',
 u'United Arab Emirates',
 u'United Kingdom of Great Britain and Northern Ireland',
 u'United States of America',
 u'Uruguay',
 u'Uzbekistan',
 u'Vanuatu',
 u'Venezuela (Bolivarian Republic of)',
 u'Viet Nam',
 u'Virgin Islands (British)',
 u'Virgin Islands (U.S.)',
 u'Wallis and Futuna',
 u'Western Sahara',
 u'Yemen',
 u'Zambia',
 u'Zimbabwe']

In [94]:
# how many countries remain in co2 df)?
#len(co2_long.country.unique())
len(co2)

201

In [95]:
# examine co2 join field
list(co2.country.unique())

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Faeroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong, China',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Macao, China',
 'Macedonia, FYR',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Fed. Sts.',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'Netherlands Antilles',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Reunion',
 'Romania',
 'Russia',
 'Rwanda',
 'Samoa',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovak Republic',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Wallis et Futuna',
 'Vanuatu',
 'Venezuela',
 'West Bank and Gaza',
 'Western Sahara',
 'Vietnam',
 'Zambia',
 'Zimbabwe']

So `regions` df has 39 more countries than `co2_long` df, which will be the driving table for the merge. This is easier to work with than vice versa.

Obvious problems:

* accents (in regions df only)
* long-winded names (us, uk of gb & n ireland)
* parenthesis (virgin islands)
* extra spaces

### Clean up 'country' column in both dataframes

In [35]:
# remove accents from countries in regions df
import unidecode
regions.country = regions.country.apply(unidecode.unidecode)

In [36]:
# verify
list(regions.country)

['Afghanistan',
 'Aland Islands',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia (Plurinational State of)',
 'Bonaire, Sint Eustatius and Saba',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cabo Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Congo (Democratic Republic of the)',
 'Cook Islands',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Falkland Islands (Malvinas)',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Holy See',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 "Korea (Democratic People's Republic of)",
 'Korea (Republic of)',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao',
 'Macedonia (the former Yugoslav Republic of)',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Micronesia (Federated States of)',
 'Moldova (Republic of)',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Norfolk Island',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine, State of',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Pitcairn',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Reunion',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Barthelemy',
 'Saint Helena, Ascension and Tristan da Cunha',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Martin (French part)',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Svalbard and Jan Mayen',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Taiwan, Province of China',
 'Tajikistan',
 'Tanzania, United Republic of',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tokelau',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom of Great Britain and Northern Ireland',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam',
 'Virgin Islands (British)',
 'Virgin Islands (U.S.)',
 'Wallis and Futuna',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [169]:
# remove special chars
import re

def remove_special_char(s):
    clean_s = re.sub('\W+',' ', s)
    return clean_s

In [96]:
co2.country = co2.country.apply(remove_special_char)

In [97]:
co2.country

0                   Afghanistan
1                       Albania
2                       Algeria
3                       Andorra
4                        Angola
5                      Anguilla
6           Antigua and Barbuda
7                     Argentina
8                       Armenia
9                         Aruba
10                    Australia
11                      Austria
12                   Azerbaijan
13                      Bahamas
14                      Bahrain
15                   Bangladesh
16                     Barbados
17                      Belarus
18                      Belgium
19                       Belize
20                        Benin
21                      Bermuda
22                       Bhutan
23                      Bolivia
24       Bosnia and Herzegovina
25                     Botswana
26                       Brazil
27       British Virgin Islands
28                       Brunei
29                     Bulgaria
                 ...
171                      Sweden
172                 Switzerland
173                       Syria
174                      Taiwan
175                  Tajikistan
176                    Tanzania
177                    Thailand
178                 Timor Leste
179                        Togo
180                       Tonga
181         Trinidad and Tobago
182                     Tunisia
183                      Turkey
184                Turkmenistan
185    Turks and Caicos Islands
186                      Uganda
187                     Ukraine
188        United Arab Emirates
189              United Kingdom
190               United States
191                     Uruguay
192                  Uzbekistan
193            Wallis et Futuna
194                     Vanuatu
195                   Venezuela
196          West Bank and Gaza
197              Western Sahara
198                     Vietnam
199                      Zambia
200                    Zimbabwe
Name: country, dtype: object

In [98]:
regions.country = regions.country.apply(remove_special_char)

In [99]:
regions.country

0                                            Afghanistan
1                                          Aland Islands
2                                                Albania
3                                                Algeria
4                                         American Samoa
5                                                Andorra
6                                                 Angola
7                                               Anguilla
9                                    Antigua and Barbuda
10                                             Argentina
11                                               Armenia
12                                                 Aruba
13                                             Australia
14                                               Austria
15                                            Azerbaijan
16                                               Bahamas
17                                               Bahrain
18                                            Bangladesh
19                                              Barbados
20                                               Belarus
21                                               Belgium
22                                                Belize
23                                                 Benin
24                                               Bermuda
25                                                Bhutan
26                       Bolivia Plurinational State of
27                       Bonaire Sint Eustatius and Saba
28                                Bosnia and Herzegovina
29                                              Botswana
31                                                Brazil
                             ...
218                                           Tajikistan
219                          Tanzania United Republic of
220                                             Thailand
221                                          Timor Leste
222                                                 Togo
223                                              Tokelau
224                                                Tonga
225                                  Trinidad and Tobago
226                                              Tunisia
227                                               Turkey
228                                         Turkmenistan
229                             Turks and Caicos Islands
230                                               Tuvalu
231                                               Uganda
232                                              Ukraine
233                                 United Arab Emirates
234    United Kingdom of Great Britain and Northern I...
235                             United States of America
237                                              Uruguay
238                                           Uzbekistan
239                                              Vanuatu
240                    Venezuela Bolivarian Republic of
241                                             Viet Nam
242                              Virgin Islands British
243                                  Virgin Islands U S
244                                    Wallis and Futuna
245                                       Western Sahara
246                                                Yemen
247                                               Zambia
248                                             Zimbabwe
Name: country, dtype: object

### Merge `co2_long` with `regions`

In [139]:
# merge co2 df with region df

co2_regions = co2.merge(regions, how = 'left', on='country')

In [140]:
# still have 201 countries?
len(co2_regions.country.unique())

201

In [141]:
co2_regions.head()

,country,1751,1755,1762,1763,1764,1765,1766,1767,1768,...,2005,2006,2007,2008,2009,2010,2011,2012,region,sub-region
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.036780,0.047090,0.068312,0.131602,0.213325,0.262174,NaN,NaN,Asia,Southern Asia
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.353789,1.224310,1.279420,1.297753,1.215055,1.336544,NaN,NaN,Europe,Southern Europe
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.257010,3.113135,3.312875,3.328945,3.564361,3.480977,3.562504,3.785654,Africa,Northern Africa
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.390955,6.839940,6.622435,6.527241,6.178520,6.092100,NaN,NaN,Europe,Southern Europe
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.161662,1.308849,1.435044,1.474353,1.500054,1.593918,NaN,NaN,Africa,Middle Africa

In [143]:
# how many countries didn't match up?
no_match = co2_regions.loc[co2_regions.region.isnull()].country.unique()
len(no_match)

25

In [144]:
no_match

array(['Bolivia', 'British Virgin Islands', 'Brunei', 'Cape Verde',
       'Congo Dem Rep ', 'Congo Rep ', 'Faeroe Islands', 'Hong Kong China',
       'Iran', 'Macao China', 'Macedonia FYR', 'Micronesia Fed Sts ',
       'Moldova', 'Netherlands Antilles', 'Russia', 'Slovak Republic',
       'Syria', 'Taiwan', 'Tanzania', 'United Kingdom', 'United States',
       'Wallis et Futuna', 'Venezuela', 'West Bank and Gaza', 'Vietnam'], dtype=object)

In [145]:
co2_regions.loc[co2_regions.country.isin(no_match)]

,country,1751,1755,1762,1763,1764,1765,1766,1767,1768,...,2005,2006,2007,2008,2009,2010,2011,2012,region,sub-region
23,Bolivia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.347341,1.601935,1.347951,1.431829,1.474029,1.556418,NaN,NaN,NaN,NaN
27,British Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.001819,4.448838,4.560733,4.671529,4.781154,5.047681,NaN,NaN,NaN,NaN
28,Brunei,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.116429,13.020376,26.952714,27.507506,23.206929,22.960326,NaN,NaN,NaN,NaN
35,Cape Verde,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.620308,0.643992,0.645242,0.631962,0.633957,0.717071,NaN,NaN,NaN,NaN
42,Congo Dem Rep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.038761,0.040894,0.042838,0.045133,0.042375,0.046079,NaN,NaN,NaN,NaN
43,Congo Rep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.411999,0.368833,0.385281,0.384220,0.478165,0.501538,NaN,NaN,NaN,NaN
59,Faeroe Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.879923,15.808836,15.928244,14.788293,13.724079,14.604035,NaN,NaN,NaN,NaN
81,Hong Kong China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.953476,5.641943,5.814144,5.568527,5.293808,5.144529,5.515206,5.341218,NaN,NaN
86,Iran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.729846,7.223400,7.555637,7.892211,7.895172,7.726537,7.824127,7.977037,NaN,NaN
105,Macao China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.816033,3.307877,2.776959,2.298460,2.450450,1.895194,NaN,NaN,NaN,NaN
106,Macedonia FYR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.533888,5.353490,5.555713,5.771918,5.546077,5.276066,NaN,NaN,NaN,NaN
118,Micronesia Fed Sts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.072331,0.935127,0.899248,0.897007,0.894503,0.924392,NaN,NaN,NaN,NaN
119,Moldova,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.299485,1.344294,1.276304,1.313321,1.261963,1.358753,NaN,NaN,NaN,NaN
130,Netherlands Antilles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.837012,29.341106,32.673229,30.781354,31.160844,23.550535,NaN,NaN,NaN,NaN
151,Russia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.231265,11.633096,11.636494,11.982718,11.003633,12.175716,12.651673,12.637522,NaN,NaN
161,Slovak Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.233132,7.178985,6.738570,6.901654,6.215615,6.607509,6.402683,6.482757,NaN,NaN
173,Syria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.739072,2.832062,2.972039,3.437245,3.096978,3.030434,NaN,NaN,NaN,NaN
174,Taiwan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.425282,11.723451,11.962582,11.233076,10.539552,11.313717,11.407625,11.351663,NaN,NaN
176,Tanzania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.144661,0.149243,0.149727,0.154673,0.148100,0.152665,NaN,NaN,NaN,NaN
189,United Kingdom,1.131253,1.105193,1.244749,1.239133,1.233543,1.227977,1.363424,1.357226,1.351055,...,9.001868,8.952901,8.684595,8.526467,7.705539,7.954469,7.324996,7.502533,NaN,NaN
190,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.627580,19.151450,19.280398,18.545992,17.262224,17.502718,16.983161,16.218200,NaN,NaN
193,Wallis et Futuna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.058913,2.076255,2.096886,1.589251,2.141432,2.162268,NaN,NaN,NaN,NaN
195,Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.811162,6.333104,6.369959,6.657570,6.498068,6.961007,6.836131,6.943023,NaN,NaN
196,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.771369,0.622923,0.623526,0.536602,0.531716,0.585513,NaN,NaN,NaN,NaN
198,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.177629,1.218507,1.336836,1.479347,1.611539,1.709945,1.790927,1.823500,NaN,NaN

In [146]:
# rearrange col order
cols = co2_regions[['region', 'sub-region']]

co2_regions.drop(labels=['region', 'sub-region'], axis=1,inplace = True)

In [147]:
co2_regions.insert(1, 'region', cols[[0]])
co2_regions.insert(2, 'sub_region', cols[[1]])

In [149]:
# verify
co2_regions.head()

,country,region,sub_region,1751,1755,1762,1763,1764,1765,1766,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
0,Afghanistan,Asia,Southern Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.022704,0.027472,0.036780,0.047090,0.068312,0.131602,0.213325,0.262174,NaN,NaN
1,Albania,Europe,Southern Europe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.382066,1.332966,1.353789,1.224310,1.279420,1.297753,1.215055,1.336544,NaN,NaN
2,Algeria,Africa,Northern Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.899236,2.762220,3.257010,3.113135,3.312875,3.328945,3.564361,3.480977,3.562504,3.785654
3,Andorra,Europe,Southern Europe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.414281,7.499690,7.390955,6.839940,6.622435,6.527241,6.178520,6.092100,NaN,NaN
4,Angola,Africa,Middle Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.587810,1.177610,1.161662,1.308849,1.435044,1.474353,1.500054,1.593918,NaN,NaN

In [148]:
co2_regions.loc[co2_regions.country.isin(no_match)]

,country,region,sub_region,1751,1755,1762,1763,1764,1765,1766,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
23,Bolivia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.602519,1.456394,1.347341,1.601935,1.347951,1.431829,1.474029,1.556418,NaN,NaN
27,British Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.590413,3.882571,4.001819,4.448838,4.560733,4.671529,4.781154,5.047681,NaN,NaN
28,Brunei,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.359649,15.060464,14.116429,13.020376,26.952714,27.507506,23.206929,22.960326,NaN,NaN
35,Cape Verde,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.549963,0.565572,0.620308,0.643992,0.645242,0.631962,0.633957,0.717071,NaN,NaN
42,Congo Dem Rep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.031381,0.034723,0.038761,0.040894,0.042838,0.045133,0.042375,0.046079,NaN,NaN
43,Congo Rep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.322520,0.342643,0.411999,0.368833,0.385281,0.384220,0.478165,0.501538,NaN,NaN
59,Faeroe Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.374565,16.605795,15.879923,15.808836,15.928244,14.788293,13.724079,14.604035,NaN,NaN
81,Hong Kong China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.872271,5.642391,5.953476,5.641943,5.814144,5.568527,5.293808,5.144529,5.515206,5.341218
86,Iran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.153554,6.494674,6.729846,7.223400,7.555637,7.892211,7.895172,7.726537,7.824127,7.977037
105,Macao China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.343809,3.673475,3.816033,3.307877,2.776959,2.298460,2.450450,1.895194,NaN,NaN
106,Macedonia FYR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.576435,5.504403,5.533888,5.353490,5.555713,5.771918,5.546077,5.276066,NaN,NaN
118,Micronesia Fed Sts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.353950,1.346480,1.072331,0.935127,0.899248,0.897007,0.894503,0.924392,NaN,NaN
119,Moldova,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.101014,1.189684,1.299485,1.344294,1.276304,1.313321,1.261963,1.358753,NaN,NaN
130,Netherlands Antilles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.365937,31.513646,30.837012,29.341106,32.673229,30.781354,31.160844,23.550535,NaN,NaN
151,Russia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.076901,11.106998,11.231265,11.633096,11.636494,11.982718,11.003633,12.175716,12.651673,12.637522
161,Slovak Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.300549,7.160089,7.233132,7.178985,6.738570,6.901654,6.215615,6.607509,6.402683,6.482757
173,Syria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.103545,2.838466,2.739072,2.832062,2.972039,3.437245,3.096978,3.030434,NaN,NaN
174,Taiwan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.936566,11.519480,11.425282,11.723451,11.962582,11.233076,10.539552,11.313717,11.407625,11.351663
176,Tanzania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.103457,0.115181,0.144661,0.149243,0.149727,0.154673,0.148100,0.152665,NaN,NaN
189,United Kingdom,NaN,NaN,1.131253,1.105193,1.244749,1.239133,1.233543,1.227977,1.363424,...,9.069663,9.022278,9.001868,8.952901,8.684595,8.526467,7.705539,7.954469,7.324996,7.502533
190,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.503354,19.690462,19.627580,19.151450,19.280398,18.545992,17.262224,17.502718,16.983161,16.218200
193,Wallis et Futuna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.779442,1.789241,2.058913,2.076255,2.096886,1.589251,2.141432,2.162268,NaN,NaN
195,Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.463581,6.421846,6.811162,6.333104,6.369959,6.657570,6.498068,6.961007,6.836131,6.943023
196,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.374235,0.535766,0.771369,0.622923,0.623526,0.536602,0.531716,0.585513,NaN,NaN
198,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.967840,1.100629,1.177629,1.218507,1.336836,1.479347,1.611539,1.709945,1.790927,1.823500

In [44]:
#co2_regions.head()
#missing_region = set(co2_regions[co2_regions.region.isnull()].country.unique())
#no_reg_no_vals = missing_region.intersection(all_nulls)
#list(no_reg_no_vals)

In [45]:
# countries missing regions but with co2 values
#no_reg_with_vals = co2_regions[co2_regions.country.isin(missing_region)]
#no_reg_with_vals = no_reg_with_vals[no_reg_with_vals.value.notnull()].country.unique()
#no_reg_with_vals

In [150]:
no_match = pd.Series(no_match)
no_match

0                    Bolivia
1     British Virgin Islands
2                     Brunei
3                 Cape Verde
4             Congo Dem Rep
5                 Congo Rep
6             Faeroe Islands
7            Hong Kong China
8                       Iran
9                Macao China
10             Macedonia FYR
11       Micronesia Fed Sts
12                   Moldova
13      Netherlands Antilles
14                    Russia
15           Slovak Republic
16                     Syria
17                    Taiwan
18                  Tanzania
19            United Kingdom
20             United States
21          Wallis et Futuna
22                 Venezuela
23        West Bank and Gaza
24                   Vietnam
dtype: object

In [151]:
country_lists = pd.Series(no_match).apply(str.split)
country_lists

0                      [Bolivia]
1     [British, Virgin, Islands]
2                       [Brunei]
3                  [Cape, Verde]
4              [Congo, Dem, Rep]
5                   [Congo, Rep]
6              [Faeroe, Islands]
7            [Hong, Kong, China]
8                         [Iran]
9                 [Macao, China]
10              [Macedonia, FYR]
11        [Micronesia, Fed, Sts]
12                     [Moldova]
13       [Netherlands, Antilles]
14                      [Russia]
15            [Slovak, Republic]
16                       [Syria]
17                      [Taiwan]
18                    [Tanzania]
19             [United, Kingdom]
20              [United, States]
21          [Wallis, et, Futuna]
22                   [Venezuela]
23       [West, Bank, and, Gaza]
24                     [Vietnam]
dtype: object

In [152]:
# create list of dicts of 

import pprint as pp
matches = []
for country in country_lists:
    if regions.country.str.startswith(country[0]).any():
        reg_country = regions[regions.country.str.startswith(country[0])].country.values[0]
        match = {'co2_country' : " ".join(country),
                 'regions_country': reg_country}
        matches.append(match)
    else:
        match = {'co2_country' : " ".join(country),
                 'regions_country': None}
        matches.append(match)
        
pp.pprint(matches)

[{'co2_country': 'Bolivia',
  'regions_country': 'Bolivia Plurinational State of '},
 {'co2_country': 'British Virgin Islands', 'regions_country': None},
 {'co2_country': 'Brunei', 'regions_country': 'Brunei Darussalam'},
 {'co2_country': 'Cape Verde', 'regions_country': None},
 {'co2_country': 'Congo Dem Rep', 'regions_country': 'Congo'},
 {'co2_country': 'Congo Rep', 'regions_country': 'Congo'},
 {'co2_country': 'Faeroe Islands', 'regions_country': None},
 {'co2_country': 'Hong Kong China', 'regions_country': 'Hong Kong'},
 {'co2_country': 'Iran', 'regions_country': 'Iran Islamic Republic of '},
 {'co2_country': 'Macao China', 'regions_country': 'Macao'},
 {'co2_country': 'Macedonia FYR',
  'regions_country': 'Macedonia the former Yugoslav Republic of '},
 {'co2_country': 'Micronesia Fed Sts',
  'regions_country': 'Micronesia Federated States of '},
 {'co2_country': 'Moldova', 'regions_country': 'Moldova Republic of '},
 {'co2_country': 'Netherlands Antilles', 'regions_country': 'Netherlands'},
 {'co2_country': 'Russia', 'regions_country': 'Russian Federation'},
 {'co2_country': 'Slovak Republic', 'regions_country': 'Slovakia'},
 {'co2_country': 'Syria', 'regions_country': 'Syrian Arab Republic'},
 {'co2_country': 'Taiwan', 'regions_country': 'Taiwan Province of China'},
 {'co2_country': 'Tanzania', 'regions_country': 'Tanzania United Republic of'},
 {'co2_country': 'United Kingdom', 'regions_country': 'United Arab Emirates'},
 {'co2_country': 'United States', 'regions_country': 'United Arab Emirates'},
 {'co2_country': 'Wallis et Futuna', 'regions_country': 'Wallis and Futuna'},
 {'co2_country': 'Venezuela',
  'regions_country': 'Venezuela Bolivarian Republic of '},
 {'co2_country': 'West Bank and Gaza', 'regions_country': 'Western Sahara'},
 {'co2_country': 'Vietnam', 'regions_country': None}]

In [52]:
len(matches)

25

### Caching workaround

In [ ]:
# flag which countries have a match in regions df

"""for dct in matches:
    if dct['regions_country'] == None:
        dct['matched'] = None
        pass
    else:
        print dct
        dct['matched'] = raw_input('Is this a match? ([y] or n) ') or 'y'"""

In [ ]:
# PROBLEM: would like to cache the data entry done above
# SOLUTION: install ipycache?

"""%load_ext ipycache
Then, create a cell with:

%%cache mycache.pkl var1 var2
var1 = 1
var2 = 2"""

In [153]:
# get col names to create a df
cols = matches[0].keys()

In [154]:
# save matches to pickle file
# so I don't have to do data entry

path = "data/matches.pkl"

"""matches_df = pd.DataFrame(matches, columns=cols)

matches_df.to_pickle(path)"""

'matches_df = pd.DataFrame(matches, columns=cols)\n\nmatches_df.to_pickle(path)'

In [164]:
# create df from pkl file

matches_df = pd.read_pickle(path)
matches_df

,co2_country,regions_country,matched
0,Bolivia,Bolivia (Plurinational State of),y
1,British Virgin Islands,None,None
2,Brunei,Brunei Darussalam,y
3,Cape Verde,None,None
4,Congo Dem Rep,Congo,n
5,Congo Rep,Congo,n
6,Faeroe Islands,None,None
7,Hong Kong China,Hong Kong,y
8,Iran,Iran (Islamic Republic of),y
9,Macao China,Macao,y
10,Macedonia FYR,Macedonia (the former Yugoslav Republic of),y
11,Micronesia Fed Sts,Micronesia (Federated States of),y
12,Moldova,Moldova (Republic of),y
13,Netherlands Antilles,Netherlands,n
14,Russia,Russian Federation,y
15,Slovak Republic,Slovakia,y
16,Syria,Syrian Arab Republic,y
17,Taiwan,"Taiwan, Province of China",y
18,Tanzania,"Tanzania, United Republic of",y
19,United Kingdom,United Arab Emirates,n
20,United States,United Arab Emirates,n
21,Wallis et Futuna,Wallis and Futuna,y
22,Venezuela,Venezuela (Bolivarian Republic of),y
23,West Bank and Gaza,Western Sahara,n
24,Vietnam,None,None

In [172]:
# remove special char AGAIN (TODO: redo pkl file)
matches_df.regions_country = matches_df.regions_country.apply(remove_special_char)

TypeError: expected string or buffer

In [156]:
# sanity check
matches_df.sort_values('matched')

,co2_country,regions_country,matched
13,Netherlands Antilles,Netherlands,n
20,United States,United Arab Emirates,n
19,United Kingdom,United Arab Emirates,n
23,West Bank and Gaza,Western Sahara,n
4,Congo Dem Rep,Congo,n
5,Congo Rep,Congo,n
7,Hong Kong China,Hong Kong,y
21,Wallis et Futuna,Wallis and Futuna,y
2,Brunei,Brunei Darussalam,y
18,Tanzania,"Tanzania, United Republic of",y
17,Taiwan,"Taiwan, Province of China",y
16,Syria,Syrian Arab Republic,y
15,Slovak Republic,Slovakia,y
22,Venezuela,Venezuela (Bolivarian Republic of),y
12,Moldova,Moldova (Republic of),y
11,Micronesia Fed Sts,Micronesia (Federated States of),y
10,Macedonia FYR,Macedonia (the former Yugoslav Republic of),y
9,Macao China,Macao,y
8,Iran,Iran (Islamic Republic of),y
14,Russia,Russian Federation,y
0,Bolivia,Bolivia (Plurinational State of),y
1,British Virgin Islands,None,None
3,Cape Verde,None,None
6,Faeroe Islands,None,None
24,Vietnam,None,None

In [ ]:
# update update matched countries in co2_regions df with region data
matched = matches_df.loc[matches_df['matched']=='y']
matched

In [166]:
matched = matched.rename(columns={"regions_country": "country"})

In [167]:
matched

           co2_country                                      country matched
0              Bolivia             Bolivia (Plurinational State of)       y
2               Brunei                            Brunei Darussalam       y
7      Hong Kong China                                    Hong Kong       y
8                 Iran                   Iran (Islamic Republic of)       y
9          Macao China                                        Macao       y
10       Macedonia FYR  Macedonia (the former Yugoslav Republic of)       y
11  Micronesia Fed Sts             Micronesia (Federated States of)       y
12             Moldova                        Moldova (Republic of)       y
14              Russia                           Russian Federation       y
15     Slovak Republic                                     Slovakia       y
16               Syria                         Syrian Arab Republic       y
17              Taiwan                    Taiwan, Province of China       y
18            Tanzania                 Tanzania, United Republic of       y
21    Wallis et Futuna                            Wallis and Futuna       y
22           Venezuela           Venezuela (Bolivarian Republic of)       y

In [162]:
# get region & subregion info
regions_manual_match = regions.loc[regions.country.isin(matched.country)]

In [163]:
# verify
regions_manual_match

                  country   region          sub-region
33      Brunei Darussalam     Asia  South-Eastern Asia
99              Hong Kong     Asia        Eastern Asia
130                 Macao     Asia        Eastern Asia
182    Russian Federation   Europe      Eastern Europe
201              Slovakia   Europe      Eastern Europe
216  Syrian Arab Republic     Asia        Western Asia
244     Wallis and Futuna  Oceania           Polynesia

In [71]:
# merge with matched
matched = matched.merge(regions_manual_match, on = 'country')

In [72]:
matched

,co2_country,country,matched,region,sub-region
0,Bolivia,Bolivia (Plurinational State of),y,Americas,South America
1,Brunei,Brunei Darussalam,y,Asia,South-Eastern Asia
2,Hong Kong China,Hong Kong,y,Asia,Eastern Asia
3,Iran,Iran (Islamic Republic of),y,Asia,Southern Asia
4,Macao China,Macao,y,Asia,Eastern Asia
5,Macedonia FYR,Macedonia (the former Yugoslav Republic of),y,Europe,Southern Europe
6,Micronesia Fed Sts,Micronesia (Federated States of),y,Oceania,Micronesia
7,Moldova,Moldova (Republic of),y,Europe,Eastern Europe
8,Russia,Russian Federation,y,Europe,Eastern Europe
9,Slovak Republic,Slovakia,y,Europe,Eastern Europe
10,Syria,Syrian Arab Republic,y,Asia,Western Asia
11,Taiwan,"Taiwan, Province of China",y,Asia,Eastern Asia
12,Tanzania,"Tanzania, United Republic of",y,Africa,Eastern Africa
13,Wallis et Futuna,Wallis and Futuna,y,Oceania,Polynesia
14,Venezuela,Venezuela (Bolivarian Republic of),y,Americas,South America

In [74]:
# remove extraneous cols
matched = matched.drop(['matched', 'country'], axis = 1)

In [75]:
matched = matched.rename(columns = {'co2_country': 'country'})

In [76]:
# verify
matched

               country    region          sub-region
0              Bolivia  Americas       South America
1               Brunei      Asia  South-Eastern Asia
2      Hong Kong China      Asia        Eastern Asia
3                 Iran      Asia       Southern Asia
4          Macao China      Asia        Eastern Asia
5        Macedonia FYR    Europe     Southern Europe
6   Micronesia Fed Sts   Oceania          Micronesia
7              Moldova    Europe      Eastern Europe
8               Russia    Europe      Eastern Europe
9      Slovak Republic    Europe      Eastern Europe
10               Syria      Asia        Western Asia
11              Taiwan      Asia        Eastern Asia
12            Tanzania    Africa      Eastern Africa
13    Wallis et Futuna   Oceania           Polynesia
14           Venezuela  Americas       South America

In [81]:
# remove special char from co2_regions df
# (same as what was done to matches)
co2_regions.country = co2_regions.country.apply(remove_special_char)

In [87]:
co2_regions.loc[co2_regions.country.isin(matched.country)] =\
co2_regions.loc[co2_regions.country.isin(matched.country)].update(matched)

In [93]:
co2_regions.loc[co2_regions.country == 'Canada']

      year country      value    region        sub-region
8602  1751  Canada        NaN  Americas  Northern America
8603  1755  Canada        NaN  Americas  Northern America
8604  1762  Canada        NaN  Americas  Northern America
8605  1763  Canada        NaN  Americas  Northern America
8606  1764  Canada        NaN  Americas  Northern America
8607  1765  Canada        NaN  Americas  Northern America
8608  1766  Canada        NaN  Americas  Northern America
8609  1767  Canada        NaN  Americas  Northern America
8610  1768  Canada        NaN  Americas  Northern America
8611  1769  Canada        NaN  Americas  Northern America
8612  1770  Canada        NaN  Americas  Northern America
8613  1771  Canada        NaN  Americas  Northern America
8614  1772  Canada        NaN  Americas  Northern America
8615  1773  Canada        NaN  Americas  Northern America
8616  1774  Canada        NaN  Americas  Northern America
8617  1775  Canada        NaN  Americas  Northern America
8618  1776  Canada        NaN  Americas  Northern America
8619  1777  Canada        NaN  Americas  Northern America
8620  1778  Canada        NaN  Americas  Northern America
8621  1779  Canada        NaN  Americas  Northern America
8622  1780  Canada        NaN  Americas  Northern America
8623  1781  Canada        NaN  Americas  Northern America
8624  1782  Canada        NaN  Americas  Northern America
8625  1783  Canada        NaN  Americas  Northern America
8626  1784  Canada        NaN  Americas  Northern America
8627  1785  Canada   0.006772  Americas  Northern America
8628  1786  Canada   0.006693  Americas  Northern America
8629  1787  Canada   0.006615  Americas  Northern America
8630  1788  Canada   0.006538  Americas  Northern America
8631  1789  Canada   0.006462  Americas  Northern America
...    ...     ...        ...       ...               ...
8825  1983  Canada  15.717344  Americas  Northern America
8826  1984  Canada  15.923864  Americas  Northern America
8827  1985  Canada  15.548714  Americas  Northern America
8828  1986  Canada  14.787601  Americas  Northern America
8829  1987  Canada  15.504518  Americas  Northern America
8830  1988  Canada  16.119051  Americas  Northern America
8831  1989  Canada  16.111423  Americas  Northern America
8832  1990  Canada  16.246274  Americas  Northern America
8833  1991  Canada  16.006597  Americas  Northern America
8834  1992  Canada  16.473038  Americas  Northern America
8835  1993  Canada  16.648134  Americas  Northern America
8836  1994  Canada  15.665822  Americas  Northern America
8837  1995  Canada  15.689961  Americas  Northern America
8838  1996  Canada  15.814938  Americas  Northern America
8839  1997  Canada  16.187127  Americas  Northern America
8840  1998  Canada  17.173833  Americas  Northern America
8841  1999  Canada  16.961932  Americas  Northern America
8842  2000  Canada  17.426831  Americas  Northern America
8843  2001  Canada  16.974144  Americas  Northern America
8844  2002  Canada  16.594853  Americas  Northern America
8845  2003  Canada  17.499531  Americas  Northern America
8846  2004  Canada  17.289814  Americas  Northern America
8847  2005  Canada  17.439926  Americas  Northern America
8848  2006  Canada  16.862318  Americas  Northern America
8849  2007  Canada  17.004124  Americas  Northern America
8850  2008  Canada  16.350399  Americas  Northern America
8851  2009  Canada  15.260099  Americas  Northern America
8852  2010  Canada  14.672016  Americas  Northern America
8853  2011  Canada  14.807039  Americas  Northern America
8854  2012  Canada  14.573717  Americas  Northern America

[253 rows x 5 columns]

In [ ]:
# use to update co2_regions df

test = co2_regions.copy()

In [4]:
test.loc[test.country.isin(matched.country)]

NameError: name 'test' is not defined

In [ ]:
merge_test

In [ ]:
merge_test = merge_test.update

In [ ]:
# manually searched for correct match for 'British Indian Ocean Territory':
co2_regions[co2_regions.country.str.contains('Ocean')].country.unique()

# no match found
matches.pop(1)
pp.pprint(matches)

In [ ]:
# look for matches to 'Netherlands': 'Netherlands Antilles'
regions[regions.country.str.contains('Curacao')].country
matches.append({'Curacao': matches[6].values()[0]})

pp.pprint(matches)

In [ ]:
# remove wrong entry for Netherlands antilles
matches.pop(6)
pp.pprint(matches)

In [ ]:
# fix the 'united' countries
print "From co2_regions:"
print co2_regions[co2_regions.country.str.startswith('United')].country.unique()
print 
print "From regions:"
(regions[regions.country.str.startswith('United')].country.values)

In [ ]:
matches.append({'United States of America': 'United States'})
matches.append({'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom'})
pp.pprint(matches)

In [ ]:
# remove UAE (it's ok in merged df)
matches.pop(12)
pp.pprint(matches)

In [ ]:
# find match for 'West Bank and Gaza'

regions[regions.country.str.contains('Palestin')].country

In [ ]:
len(matches)
matches.pop(14)

In [ ]:
matches.append({'Palestine, State of': 'West Bank and Gaza'})
pp.pprint(matches)

In [ ]:
for l in matches:
    print l.keys()[0]

In [ ]:
%timeit
for d in matches:
    print d.values()[0]
    #print d.keys()
    r = regions.loc[regions.country == d.keys()[0]].region.item()
    sr = regions.loc[regions.country == d.keys()[0]]['sub-region'].item()
    #print r
    #print sr
    co2_regions.loc[co2_regions.country == d.values()[0], 'region'] = r
    co2_regions.loc[co2_regions.country == d.values()[0], 'sub-region'] = sr
    
    #print regions[regions.country == d.keys()]
    #co2_regions[co2_regions.country == d.values()].region = regions[regions.country == d.keys()].region
    #co2_regions[co2_regions.country == d.values()].sub-region = regions[regions.country == d.keys()].sub-region
    #print d.keys()
    #print d.values()

In [ ]:
# how many countries are still missing regions?
missing_region = set(co2_regions[co2_regions.region.isnull()].country.unique())

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

In [ ]:
# plot

import seaborn as sns

sns.set(color_codes = True)
#sns.set_style({'axes.linewidth': '0.5'})


co2_regions.year = pd.Categorical(co2_regions.year, ordered = True)

#p = sns.factorplot(x = 'year', y = 'value', hue = 'country', 
#               col = 'sub-region', sharey = False, 
#                   data = co2_regions[co2_regions.region == 'Europe'])

#p.set_xticklabels(rotation=45)
#p.set(ylim=(0,None))

eur_subreg = co2_regions[co2_regions.region == 'Europe']['sub-region'].unique()


co2_regions.loc[co2_regions['sub-region'].isin(eur_subreg)].country.unique()

np.arange(int(co2_regions.year.min()), int(co2_regions.year.max()), 10.)

eur_subreg

co2_regions[co2_regions['sub-region'].isin(eur_subreg)].groupby(['sub-region', 'country']).sum()

# get a better legend?

for subreg in eur_subreg:
    df = co2_regions[co2_regions['sub-region'] == subreg]
    fignum = pd.Index(eur_subreg).get_loc(subreg)
    plt.figure(fignum)
    
    ax = sns.pointplot(x = 'year', y = 'value', hue = 'country', 
                   col = subreg, data = df, scale = .5)
    ax.legend(loc = 0)
    ax.set(ylim=(0,None))
    ax.set(xlim=(1950,None))
    #plt.xticks(np.arange(int(co2_regions.year.min()), int(co2_regions.year.max()), 10.))
    #ax.set_xticklabels(rotation=45)
    plt.title(subreg)
    

# which countries had no corresponding regional info
co2_totals = co2_regions[co2_regions.region.isnull()].groupby('country').sum()
co2_totals

In [ ]:
# which countries do not have a match in regions?
countries = list(co2[co2.columns[0]])
regions_list = list(regions['name'].values)

In [ ]:
no_region = [i for i in countries if i not in regions_list]
len(no_region)

In [ ]:
no_region

In [ ]:
# and vice-versa

no_country = [i for i in regions_list if i not in countries]
len(no_country)

In [ ]:
no_country

In [ ]:
# how many more matches did we get?
print "Before:"
print len(no_country)
print ""
print "After:"

regions_list = list(regions['name'].values)
no_country = [i for i in regions_list if i not in countries]
len(no_country)

In [ ]:
# more cleanup

bvi = 'British Virgin Islands'
vib = 'Virgin Islands (British)'

bvi = bvi.split()
vib = vib.split()
vib_clean = [i.strip("()") for i in vib]

for word in bvi:
    if word in vib_clean:
        print "match"
    else:
        print "no match"

In [ ]:
# TODO: remove words in ()
# str.replace(r"\(.*\)","")

vib = 'Virgin Islands (British)'
import re
#print re.sub(r'[^A-Za-z0-9 ]+', '', vib)
print re.sub('\W+',' ', vib )


#vib.replace("(","")

In [ ]:
test = ['South', 'Georgia', 'the', 'South', 'Sandwich', 'Islands']
for i in test: 
    if i in connector_words:
        test.remove(i)
        print test
    else:
        pass

In [ ]:
def remove_special_char(s):
    clean_s = re.sub('\W+',' ', s)
    return clean_s
    

names_cleaned = regions['name'].apply(remove_special_char)
names_cleaned_list = names_cleaned.str.split()
connector_words = ['and', 'et', 'of', 'the']

for l in names_cleaned_list:
    new_list = []
    for word in l:
        if word in connector_words:
            l.remove(word)
        else:
            pass
    new_list.append(l)
    print l

In [ ]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [ ]:
import seaborn as sns

sns.set(color_codes = True)
#sns.set_style({'axes.linewidth': '0.5'})


co2_my_countries_long.year = pd.Categorical(co2_my_countries_long.year, ordered = True)



p = sns.factorplot(x = 'year', y = 'value', hue = 'country', 
               row = 'region', size = 6, data = co2_my_countries_long)

p.set_xticklabels(rotation=45)
p.set(ylim=(0,None))


co2_my_countries_long.groupby(['sub-region', 'country']).describe()

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!