In [53]:
import numpy as np
import pandas as pd
from os import walk # to get list of filenames
import sys # to print function name within function
import pprint as pp

#for country name cleanup
import unidecode
import re

# Helper functions

In [2]:
# create dfs for later merging

def make_df(filename):
    name = filename.split('.')[0]
    f_type = filename.split('.')[1]
    if f_type=='xlsx':
        df = pd.read_excel(mypath + filename)
    elif f_type=='csv':
        df = pd.read_csv(mypath + filename)
    else:
        print 'Unknown file type'
    
    # make sure all DFs have a 'country' column
    # to simplify .join() later
    df.rename(columns={df.columns[0]:'country'}, inplace=True)
    
    # the .name attribute will provide be used
    # when reshaping, as the label for the value column
    df.name = name
    
    return df

In [3]:
# clean up country names before merging

# helper functions

# https://gist.github.com/gornostal/1f123aaf838506038710
def force_to_unicode(text):
    "If text is unicode, it is returned as is. If it's str, convert it to Unicode using UTF-8 encoding"
    return text if isinstance(text, unicode) else text.decode('utf8')

def remove_special_char(series):
    clean_series = re.sub('\W+',' ', series)
    return clean_series

def fix_country_col(df):
    country_col = str(df.columns[0])
    df.rename(columns = {country_col : 'country'}, inplace = True)
    return df

def clean_country_col(df):
    # trim, remove accents & special chars
    # make lowercase
    df['country'] = (
        df['country'].apply(force_to_unicode)
        .apply(remove_special_char)
        .str.lower().str.strip()
    )
    return df

def add_regions(df):
    regions = pd.read_csv('data/countries_with_regions.csv')
    regions = clean_country_col(regions)
    df = regions.merge(df, on='country', how='left')
    
    return df

def clean_gapminder_df(df):
    name = df.name
    df = fix_country_col(df)

    # remove special chars & accents
    df = clean_country_col(df)
    df['country'] = df['country'].apply(force_to_unicode).apply(remove_special_char).str.lower().str.strip()
    
    # restore title case
    df['country'] = df['country'].str.title()
    
    # re-assign original df name
    df.name = name

    return df

# create regions df
#regions = pd.read_json('data/all_countries.json')
#regions = regions[['name', 'region', 'sub-region']]

#regions = clean_gapminder_df(regions)

# save as csv
#regions.to_csv('data/regions_cleaned.csv', index = False)

In [4]:
# create list of filenames

def list_files(mypath):
    files = []
    [files.extend(filenames) for (dirpath, dirnames, filenames) in walk(mypath)]
    return files

In [38]:
# formatting stuff

def repeat_to_length(s, wanted):
    return (s * (wanted//len(s) + 1))[:wanted]

In [46]:
# inspect gapminder DF

def df_min_max(df):
    #print '\n'
    print sys._getframe().f_code.co_name
    print df.columns[1:].min()
    print df.columns[1:].max()

# any years with missing data?
def df_yrs_nan_vals(df):
    #print '\n'  
    print sys._getframe().f_code.co_name
    print df.isnull().any().sum()

# any countries that have no data at all?
def df_countries_no_data(df):
    #print '\n'   
    print sys._getframe().f_code.co_name
    print df.iloc[:,3:].isnull().all().sum()

def inspect_df(df):
    name = str.upper(df.name)
    #print '\n'  
    print 'Inspecting %s:' % name
    df_min_max(df)
    df_yrs_nan_vals(df)
    df_countries_no_data(df)
    print repeat_to_length('*', 30)
    raw_input('Press <ENTER> to continue')
    print '\n'
    print df.info()
    print repeat_to_length('*', 30)
    raw_input('Press <ENTER> to continue')
    print '\n'
    print df.head()
    raw_input('Press <ENTER> to continue')

In [6]:
def get_val_names(dfs):
    names = [df.name.split('_')[0] for df in dfs]
    return names

In [7]:
# reshape into long format for easier plotting

def reshape_for_plot(df):
    #df = df.reset_index().copy()
    #df = df.set_index(['region', 'sub-region', 'country'])
    name = df.name.split('_')[0]
    df = df.set_index(['region', 'sub-region', 'country'])
    df = df.sort_index(level = 0)

    t = df.T
    t = t.unstack(level = 1)
    df = pd.DataFrame(t)
    
    df = df.reset_index()
    df = df.rename(columns={'level_1':'year', 0: name})
    
    # make sure year column is int type
    #df['year'] = df['year'].astype('int64')
    df.name = name

    return df

# Look at source files

In [8]:
originalpath = 'data/original/'
cleanpath = 'data/cleaned/'
mypath = originalpath

originals = list_files(mypath)
originals

['!CO2_2013.csv',
 'energy use per person.xlsx',
 'hdi_human_development_index.csv',
 'income_per_person_gdppercapita_ppp_inflation_adjusted.csv',
 'motor_vehicles_per_1000_pop2010.xlsx',
 'population.xlsx',
 'roads_paved_percent_of_total_roads.csv',
 'sulfur_emissions_per_person_kg.csv',
 'surviving_kids_per_woman.csv']

# Convert to DF

In [9]:
# batch convert files to df's
# and save filename info in another df

# extract file extension as new column
files_df = pd.Series(originals).str.split('.', expand=True).rename(columns={0:'clean_name', 1:'type'})

# keep original filename
files_df['orig_name']=originals

# convert files to DF
dfs = files_df['orig_name'].apply(make_df)

# remove accents and special chars
dfs = dfs.apply(clean_gapminder_df)

files_df

,clean_name,type,orig_name
0,!CO2_2013,csv,!CO2_2013.csv
1,energy use per person,xlsx,energy use per person.xlsx
2,hdi_human_development_index,csv,hdi_human_development_index.csv
3,income_per_person_gdppercapita_ppp_inflation_a...,csv,income_per_person_gdppercapita_ppp_inflation_a...
4,motor_vehicles_per_1000_pop2010,xlsx,motor_vehicles_per_1000_pop2010.xlsx
5,population,xlsx,population.xlsx
6,roads_paved_percent_of_total_roads,csv,roads_paved_percent_of_total_roads.csv
7,sulfur_emissions_per_person_kg,csv,sulfur_emissions_per_person_kg.csv
8,surviving_kids_per_woman,csv,surviving_kids_per_woman.csv

# Clean filenames for use as labels

In [10]:
def clean_names(series):
    # replace spaces with undescores,
    # remove or shorten meaningless words
    series = series.str.upper()\
    .str.replace(' ', '_')\
    .str.replace('INDICATOR_', '')\
    .str.replace('PER_CAPITA', 'pc')\
    .str.replace('PER_PERSON', 'pc')\
    .str.lower()

    return series

In [11]:
files_df['clean_name'] = clean_names(files_df['clean_name'])

In [12]:
files_df

,clean_name,type,orig_name
0,!co2_2013,csv,!CO2_2013.csv
1,energy_use_pc,xlsx,energy use per person.xlsx
2,hdi_human_development_index,csv,hdi_human_development_index.csv
3,income_pc_gdppercapita_ppp_inflation_adjusted,csv,income_per_person_gdppercapita_ppp_inflation_a...
4,motor_vehicles_per_1000_pop2010,xlsx,motor_vehicles_per_1000_pop2010.xlsx
5,population,xlsx,population.xlsx
6,roads_paved_percent_of_total_roads,csv,roads_paved_percent_of_total_roads.csv
7,sulfur_emissions_pc_kg,csv,sulfur_emissions_per_person_kg.csv
8,surviving_kids_per_woman,csv,surviving_kids_per_woman.csv

In [13]:
# manually fix certain rows
fix_these_rows = [0,2,3,4,6]
needs_fixing = files_df.iloc[fix_these_rows]['clean_name']
needs_fixing.values

array(['!co2_2013', 'hdi_human_development_index',
       'income_pc_gdppercapita_ppp_inflation_adjusted',
       'motor_vehicles_per_1000_pop2010',
       'roads_paved_percent_of_total_roads'], dtype=object)

In [14]:
# copy-paste-modify
fixed = np.array(['CO2_pc','hdi',
       'income_pc',
       'motor_vehicles_per_1000',
       'roads_paved_%'])

In [15]:
# update rows with cleaned names
files_df['clean_name'].iloc[fix_these_rows] = fixed

In [16]:
# verify
files_df['clean_name']

0                      CO2_pc
1               energy_use_pc
2                         hdi
3                   income_pc
4     motor_vehicles_per_1000
5                  population
6               roads_paved_%
7      sulfur_emissions_pc_kg
8    surviving_kids_per_woman
Name: clean_name, dtype: object

In [17]:
# assign clean name as the df.name attribute
# these will be used later in plot titles
def update_name(df, clean_name):
    df.name = clean_name

# could not figure out how to do this with pd.Series.apply
map(update_name, dfs, files_df['clean_name'].values)

[None, None, None, None, None, None, None, None, None]

In [18]:
# update files_df to list df.names
dfnames = [df.name for df in dfs]
files_df['df_name'] = dfnames
files_df

,clean_name,type,orig_name,df_name
0,CO2_pc,csv,!CO2_2013.csv,CO2_pc
1,energy_use_pc,xlsx,energy use per person.xlsx,energy_use_pc
2,hdi,csv,hdi_human_development_index.csv,hdi
3,income_pc,csv,income_per_person_gdppercapita_ppp_inflation_a...,income_pc
4,motor_vehicles_per_1000,xlsx,motor_vehicles_per_1000_pop2010.xlsx,motor_vehicles_per_1000
5,population,xlsx,population.xlsx,population
6,roads_paved_%,csv,roads_paved_percent_of_total_roads.csv,roads_paved_%
7,sulfur_emissions_pc_kg,csv,sulfur_emissions_per_person_kg.csv,sulfur_emissions_pc_kg
8,surviving_kids_per_woman,csv,surviving_kids_per_woman.csv,surviving_kids_per_woman

In [19]:
# add value names to files_df
# for use later in long format df's
valnames = [name.split('_')[0] for name in dfnames]
files_df['val_name'] = valnames
files_df

,clean_name,type,orig_name,df_name,val_name
0,CO2_pc,csv,!CO2_2013.csv,CO2_pc,CO2
1,energy_use_pc,xlsx,energy use per person.xlsx,energy_use_pc,energy
2,hdi,csv,hdi_human_development_index.csv,hdi,hdi
3,income_pc,csv,income_per_person_gdppercapita_ppp_inflation_a...,income_pc,income
4,motor_vehicles_per_1000,xlsx,motor_vehicles_per_1000_pop2010.xlsx,motor_vehicles_per_1000,motor
5,population,xlsx,population.xlsx,population,population
6,roads_paved_%,csv,roads_paved_percent_of_total_roads.csv,roads_paved_%,roads
7,sulfur_emissions_pc_kg,csv,sulfur_emissions_per_person_kg.csv,sulfur_emissions_pc_kg,sulfur
8,surviving_kids_per_woman,csv,surviving_kids_per_woman.csv,surviving_kids_per_woman,surviving

In [20]:
# IS THIS STEP EVEN NEEDED?
# Save all to new CSV files
#dfs.apply(lambda df: df.to_csv(cleanpath + df.name + '.' + 'csv', index = False))

# Inspect each DF

In [45]:
[inspect_df(df) for df in dfs]

Inspecting CO2_PC:
df_min_max
1751
2013
df_yrs_nan_vals
263
df_countries_no_data
0
*******************************
Press <ENTER> to continue


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Columns: 264 entries, country to 2013
dtypes: float64(263), object(1)
memory usage: 472.4+ KB
None
*******************************


       country  1751  1752  1753  1754  1755  1756  1757  1758  1759   ...     \
0  Afghanistan   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   ...
1      Albania   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   ...
2      Algeria   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   ...
3      Andorra   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   ...
4       Angola   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   ...

      2004     2005     2006     2007     2008     2009     2010     2011  \
0  0.04041  0.05440  0.06552  0.08785  0.15895  0.24905  0.30291  0.42522
1  1.34203  1.37998  1.27761  1.30428  1.47382  1.49426  1.58449  1.81554
2  2.72677  3.21986  2.99727  3.19557  3.16824  3.42982  3.30686  3.30026
3  7.49969  7.39095  6.83994  6.62244  6.52724  6.17852  6.09210  5.70224
4  1.08651  1.06932  1.20077  1.31098  1.29557  1.35427  1.36921  1.38263

      2012     2013
0  0.68802  0.69312
1  1.63562  1.66974
2  3.47163  3.51446
3  5.61408  5.52625
4  1.47212  1.38437

[5 rows x 264 columns]
Press <ENTER> to continue
Inspecting ENERGY_USE_PC:
df_min_max
1960
2011
df_yrs_nan_vals
52
df_countries_no_data
0
*******************************
Press <ENTER> to continue


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 53 columns):
country    275 non-null object
1960       25 non-null float64
1961       25 non-null float64
1962       25 non-null float64
1963       25 non-null float64
1964       25 non-null float64
1965       26 non-null float64
1966       26 non-null float64
1967       26 non-null float64
1968       26 non-null float64
1969       26 non-null float64
1970       26 non-null float64
1971       109 non-null float64
1972       109 non-null float64
1973       109 non-null float64
1974       109 non-null float64
1975       109 non-null float64
1976       109 non-null float64
1977       109 non-null float64
1978       109 non-null float64
1979       109 non-null float64
1980       109 non-null float64
1981       110 non-null float64
1982       110 non-null float64
1983       110 non-null float64
1984       110 non-null float64
1985       111 non-null float64
1986       111 non-null float64
1987       111 non-null float64
1988       111 non-null float64
1989       111 non-null float64
1990       160 non-null float64
1991       132 non-null float64
1992       132 non-null float64
1993       132 non-null float64
1994       132 non-null float64
1995       134 non-null float64
1996       134 non-null float64
1997       134 non-null float64
1998       134 non-null float64
1999       134 non-null float64
2000       135 non-null float64
2001       135 non-null float64
2002       135 non-null float64
2003       135 non-null float64
2004       167 non-null float64
2005       168 non-null float64
2006       168 non-null float64
2007       168 non-null float64
2008       136 non-null float64
2009       136 non-null float64
2010       136 non-null float64
2011       34 non-null float64
dtypes: float64(52), object(1)
memory usage: 113.9+ KB
None
*******************************


                 country  1960  1961  1962  1963  1964  1965  1966  1967  \
0               Abkhazia   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1            Afghanistan   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  Akrotiri And Dhekelia   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3                Albania   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4                Algeria   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   1968  ...       2002      2003      2004      2005      2006      2007  \
0   NaN  ...        NaN       NaN       NaN       NaN       NaN       NaN
1   NaN  ...        NaN       NaN       NaN       NaN       NaN       NaN
2   NaN  ...        NaN       NaN       NaN       NaN       NaN       NaN
3   NaN  ...   0.649229  0.645355  0.705188  0.702235  0.662679  0.646799
4   NaN  ...   0.916100  0.962688  0.956879  0.984091  1.038732  1.086022

       2008      2009      2010  2011
0       NaN       NaN       NaN   NaN
1       NaN       NaN       NaN   NaN
2       NaN       NaN       NaN   NaN
3  0.655651  0.653179  0.648291   NaN
4  1.087619  1.165831  1.138239   NaN

[5 rows x 53 columns]
Press <ENTER> to continue
Inspecting HDI:
df_min_max
1990
2015
df_yrs_nan_vals
20
df_countries_no_data
0
*******************************
Press <ENTER> to continue


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 27 columns):
country    187 non-null object
1990       143 non-null float64
1991       143 non-null float64
1992       143 non-null float64
1993       143 non-null float64
1994       143 non-null float64
1995       147 non-null float64
1996       147 non-null float64
1997       147 non-null float64
1998       147 non-null float64
1999       150 non-null float64
2000       167 non-null float64
2001       167 non-null float64
2002       167 non-null float64
2003       169 non-null float64
2004       172 non-null float64
2005       181 non-null float64
2006       181 non-null float64
2007       181 non-null float64
2008       181 non-null float64
2009       181 non-null float64
2010       187 non-null float64
2011       187 non-null float64
2012       187 non-null float64
2013       187 non-null float64
2014       187 non-null float64
2015       187 non-null float64
dtypes: float64(26), object(1)
memory usage: 39.5+ KB
None
*******************************


       country   1990   1991   1992   1993   1994   1995   1996   1997   1998  \
0  Afghanistan  0.295  0.300  0.309  0.305  0.300  0.324  0.328  0.332  0.335
1      Albania  0.635  0.618  0.603  0.608  0.616  0.628  0.637  0.636  0.646
2      Algeria  0.577  0.581  0.587  0.591  0.595  0.600  0.609  0.617  0.627
3      Andorra    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4       Angola    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

   ...     2006   2007   2008   2009   2010   2011   2012   2013   2014   2015
0  ...    0.415  0.433  0.434  0.448  0.454  0.463  0.470  0.476  0.479  0.479
1  ...    0.703  0.713  0.721  0.725  0.738  0.752  0.759  0.761  0.762  0.764
2  ...    0.690  0.697  0.705  0.714  0.724  0.732  0.737  0.741  0.743  0.745
3  ...      NaN    NaN    NaN    NaN  0.819  0.819  0.843  0.850  0.857  0.858
4  ...    0.454  0.468  0.480  0.488  0.495  0.508  0.523  0.527  0.531  0.533

[5 rows x 27 columns]
Press <ENTER> to continue
Inspecting INCOME_PC:
df_min_max
1800
2018
df_yrs_nan_vals
0
df_countries_no_data
0
*******************************
Press <ENTER> to continue


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Columns: 220 entries, country to 2018
dtypes: int64(219), object(1)
memory usage: 331.8+ KB
None
*******************************


       country  1800  1801  1802  1803  1804  1805  1806  1807  1808  ...    \
0  Afghanistan   603   603   603   603   603   603   603   603   603  ...
1      Albania   667   667   667   667   667   668   668   668   668  ...
2      Algeria   715   716   717   718   719   720   721   722   723  ...
3      Andorra  1200  1200  1200  1200  1210  1210  1210  1210  1220  ...
4       Angola   618   620   623   626   628   631   634   637   640  ...

    2009   2010   2011   2012   2013   2014   2015   2016   2017   2018
0   1530   1610   1660   1840   1810   1780   1750   1740   1800   1870
1   9530   9930  10200  10400  10500  10700  11000  11400  11900  12400
2  12600  12900  13000  13200  13300  13500  13700  14000  13800  13700
3  41700  39000  42000  41900  43700  44900  46600  48200  49800  51500
4   5910   5900   5910   6000   6190   6260   6230   6030   5940   5850

[5 rows x 220 columns]

Press <ENTER> to continue
Inspecting MOTOR_VEHICLES_PER_1000:
df_min_max
2002
2007
df_yrs_nan_vals
6
df_countries_no_data
0
*******************************
Press <ENTER> to continue


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 7 columns):
country    161 non-null object
2002       82 non-null float64
2003       78 non-null float64
2004       65 non-null float64
2005       50 non-null float64
2006       38 non-null float64
2007       149 non-null float64
dtypes: float64(6), object(1)
memory usage: 8.9+ KB
None
*******************************


       country  2002  2003  2004       2005       2006        2007
0  Afghanistan   NaN   NaN   NaN        NaN        NaN   22.809539
1      Albania  73.0   NaN  85.0  87.475235  97.318069  102.212411
2      Algeria   NaN  88.0  89.0  91.000000        NaN         NaN
3       Angola   NaN   NaN   NaN        NaN        NaN   39.593660
4    Argentina   NaN   NaN   NaN        NaN        NaN  313.893647
Press <ENTER> to continue
Inspecting POPULATION:
df_min_max
1800
2015
df_yrs_nan_vals
81
df_countries_no_data
0
*******************************
Press <ENTER> to continue


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 82 columns):
country    275 non-null object
1800       229 non-null float64
1810       229 non-null float64
1820       229 non-null float64
1830       229 non-null float64
1840       229 non-null float64
1850       229 non-null float64
1860       229 non-null float64
1870       229 non-null float64
1880       229 non-null float64
1890       229 non-null float64
1900       229 non-null float64
1910       229 non-null float64
1920       229 non-null float64
1930       229 non-null float64
1940       229 non-null float64
1950       256 non-null float64
1951       256 non-null float64
1952       256 non-null float64
1953       256 non-null float64
1954       256 non-null float64
1955       256 non-null float64
1956       256 non-null float64
1957       256 non-null float64
1958       256 non-null float64
1959       256 non-null float64
1960       256 non-null float64
1961       256 non-null float64
1962       256 non-null float64
1963       256 non-null float64
1964       256 non-null float64
1965       256 non-null float64
1966       256 non-null float64
1967       256 non-null float64
1968       256 non-null float64
1969       256 non-null float64
1970       256 non-null float64
1971       256 non-null float64
1972       256 non-null float64
1973       256 non-null float64
1974       256 non-null float64
1975       256 non-null float64
1976       256 non-null float64
1977       256 non-null float64
1978       256 non-null float64
1979       256 non-null float64
1980       256 non-null float64
1981       256 non-null float64
1982       256 non-null float64
1983       256 non-null float64
1984       256 non-null float64
1985       256 non-null float64
1986       256 non-null float64
1987       256 non-null float64
1988       256 non-null float64
1989       256 non-null float64
1990       256 non-null float64
1991       256 non-null float64
1992       256 non-null float64
1993       256 non-null float64
1994       256 non-null float64
1995       256 non-null float64
1996       256 non-null float64
1997       256 non-null float64
1998       256 non-null float64
1999       256 non-null float64
2000       256 non-null float64
2001       256 non-null float64
2002       256 non-null float64
2003       256 non-null float64
2004       256 non-null float64
2005       256 non-null float64
2006       256 non-null float64
2007       256 non-null float64
2008       256 non-null float64
2009       238 non-null float64
2010       238 non-null float64
2011       233 non-null float64
2012       233 non-null float64
2013       233 non-null float64
2014       231 non-null float64
2015       231 non-null float64
dtypes: float64(81), object(1)
memory usage: 176.2+ KB
None
*******************************


                 country       1800       1810       1820       1830  \
0               Abkhazia        NaN        NaN        NaN        NaN
1            Afghanistan  3280000.0  3280000.0  3323519.0  3448982.0
2  Akrotiri And Dhekelia        NaN        NaN        NaN        NaN
3                Albania   410445.0   423591.0   438671.0   457234.0
4                Algeria  2503218.0  2595056.0  2713079.0  2880355.0

        1840       1850       1860       1870       1880     ...      \
0        NaN        NaN        NaN        NaN        NaN     ...
1  3625022.0  3810047.0  3973968.0  4169690.0  4419695.0     ...
2        NaN        NaN        NaN        NaN        NaN     ...
3   478227.0   506889.0   552800.0   610036.0   672544.0     ...
4  3082721.0  3299305.0  3536468.0  3811028.0  4143163.0     ...

         2006        2007        2008        2009        2010        2011  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1  25183615.0  25877544.0  26528741.0  27207291.0  27962207.0  28809167.0
2     15700.0     15700.0     15700.0         NaN         NaN         NaN
3   3050741.0   3010849.0   2968026.0   2929886.0   2901883.0   2886010.0
4  33749328.0  34261971.0  34811059.0  35401790.0  36036159.0  36717132.0

         2012        2013        2014        2015
0         NaN         NaN         NaN         NaN
1  29726803.0  30682500.0  31627506.0  32526562.0
2         NaN         NaN         NaN         NaN
3   2880667.0   2883281.0   2889676.0   2896679.0
4  37439427.0  38186135.0  38934334.0  39666519.0

[5 rows x 82 columns]
Press <ENTER> to continue
Inspecting ROADS_PAVED_%:
df_min_max
1990
2009
df_yrs_nan_vals
20
df_countries_no_data
0
*******************************
Press <ENTER> to continue


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 21 columns):
country    181 non-null object
1990       130 non-null float64
1991       135 non-null float64
1992       135 non-null float64
1993       134 non-null float64
1994       138 non-null float64
1995       141 non-null float64
1996       138 non-null float64
1997       123 non-null float64
1998       128 non-null float64
1999       124 non-null float64
2000       121 non-null float64
2001       93 non-null float64
2002       56 non-null float64
2003       74 non-null float64
2004       77 non-null float64
2005       60 non-null float64
2006       61 non-null float64
2007       60 non-null float64
2008       63 non-null float64
2009       56 non-null float64
dtypes: float64(20), object(1)
memory usage: 29.8+ KB
None
*******************************


               country  1990  1991  1992  1993  1994  1995  1996  1997  1998  \
0          Afghanistan   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1              Albania   NaN   NaN   NaN   NaN   NaN  39.0  39.0  39.0  39.0
2              Algeria  67.0  70.0  66.0  66.7  68.0  68.9  68.9  68.9  68.9
3               Angola   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  Antigua And Barbuda   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   ...   2000  2001  2002  2003  2004  2005  2006  2007  2008  2009
0  ...    NaN   NaN   NaN   NaN  23.7  27.5  29.3   NaN   NaN   NaN
1  ...   39.0  39.0  39.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  ...   68.9   NaN   NaN   NaN  70.2   NaN   NaN   NaN  73.5  74.0
3  ...   10.4  10.4   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  ...    NaN   NaN  33.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[5 rows x 21 columns]
Press <ENTER> to continue
Inspecting SULFUR_EMISSIONS_PC_KG:
df_min_max
1850
2000
df_yrs_nan_vals
0
df_countries_no_data
0
*******************************
Press <ENTER> to continue


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Columns: 152 entries, country to 2000
dtypes: float64(151), object(1)
memory usage: 194.8+ KB
None
*******************************


               country     1850     1851     1852     1853     1854     1855  \
0          Afghanistan  0.00000  0.00007  0.00013  0.00020  0.00026  0.00033
1              Albania  0.00017  0.00019  0.00024  0.00026  0.00030  0.00034
2              Algeria  0.00000  0.00200  0.00398  0.00593  0.00786  0.00976
3               Angola  0.00003  0.00003  0.00005  0.00008  0.00011  0.00013
4  Antigua And Barbuda  0.00240  0.00160  0.00301  0.00271  0.00336  0.00325

      1856     1857     1858  ...     1991   1992   1993   1994   1995   1996  \
0  0.00039  0.00045  0.00051  ...     3.99   3.73   3.40   3.23   3.16   3.14
1  0.00039  0.00042  0.00048  ...    10.40   3.77   2.96   2.46   2.20   2.19
2  0.01170  0.01350  0.01540  ...     4.76   4.93   5.01   4.92   5.17   4.98
3  0.00016  0.00018  0.00021  ...     7.61   7.62   6.98   7.58   6.89   6.45
4  0.00447  0.00512  0.00539  ...    23.50  23.20  23.40  24.10  22.90  24.10

    1997   1998   1999   2000
0   3.12   3.11   3.09   3.14
1   1.56   1.58   1.19   1.15
2   5.51   5.79   6.45   6.92
3   6.22   6.02   5.75   4.75
4  24.40  24.10  24.50  24.20

[5 rows x 152 columns]

Press <ENTER> to continue
Inspecting SURVIVING_KIDS_PER_WOMAN:
df_min_max
1760
2015
df_yrs_nan_vals
195
df_countries_no_data
5
*******************************
Press <ENTER> to continue


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Columns: 257 entries, country to 2015
dtypes: float64(256), object(1)
memory usage: 361.5+ KB
None
*******************************


       country  1760  1761  1762  1763  1764  1765  1766  1767  1768  ...   \
0  Afghanistan   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
1      Albania   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
2      Algeria   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
3       Angola   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
4    Argentina   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

   2006  2007  2008  2009  2010  2011  2012  2013  2014  2015
0  4.54  4.45  4.44  4.35  4.26   NaN   NaN   NaN   NaN   NaN
1  1.61  1.56  1.52  1.49  1.48   NaN   NaN   NaN   NaN   NaN
2  2.25  2.22  2.19  2.17  2.12   NaN   NaN   NaN   NaN   NaN
3  4.19  4.08  4.04  3.93  3.90   NaN   NaN   NaN   NaN   NaN
4  2.15  2.13  2.13  2.13  2.11   NaN   NaN   NaN   NaN   NaN

[5 rows x 257 columns]
Press <ENTER> to continue

[None, None, None, None, None, None, None, None, None]

## Surviving DF contains projections

Unlike the other DFs, this one looks into the future, which will create NANs all over the place in the merged DF.

Let's drop these projections.

In [22]:
# find which DF this is
files_df

,clean_name,type,orig_name,df_name,val_name
0,CO2_pc,csv,!CO2_2013.csv,CO2_pc,CO2
1,energy_use_pc,xlsx,energy use per person.xlsx,energy_use_pc,energy
2,hdi,csv,hdi_human_development_index.csv,hdi,hdi
3,income_pc,csv,income_per_person_gdppercapita_ppp_inflation_a...,income_pc,income
4,motor_vehicles_per_1000,xlsx,motor_vehicles_per_1000_pop2010.xlsx,motor_vehicles_per_1000,motor
5,population,xlsx,population.xlsx,population,population
6,roads_paved_%,csv,roads_paved_percent_of_total_roads.csv,roads_paved_%,roads
7,sulfur_emissions_pc_kg,csv,sulfur_emissions_per_person_kg.csv,sulfur_emissions_pc_kg,sulfur
8,surviving_kids_per_woman,csv,surviving_kids_per_woman.csv,surviving_kids_per_woman,surviving

In [23]:
# it's the final (8th) df
# remove projection years (post 2015) for Surviving DF

##TODO: store dfs as col in files_df?

start = dfs[8].columns.get_loc('2016')
end = dfs[8].columns.get_loc('2099') + 1

dfs[8].drop(dfs[8].columns[start:end], axis=1, inplace=True)

In [24]:
# verify
dfs[8].tail()

,country,1760,1761,1762,1763,1764,1765,1766,1767,1768,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
175,Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.44,2.42,2.39,2.36,2.33,NaN,NaN,NaN,NaN,NaN
176,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.78,1.77,1.76,1.75,1.73,NaN,NaN,NaN,NaN,NaN
177,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.82,4.77,4.68,4.64,4.55,NaN,NaN,NaN,NaN,NaN
178,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.92,4.02,4.12,4.22,4.33,NaN,NaN,NaN,NaN,NaN
179,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.26,2.27,2.28,2.32,2.32,NaN,NaN,NaN,NaN,NaN

In [25]:
# are there still rows that are all NaNs?
dfs[8].set_index('country').loc[dfs[8].set_index('country').isnull().all(1)]

Empty DataFrame
Columns: [1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, ...]
Index: []

[0 rows x 256 columns]

# Create long DFs

In [26]:
dfs[0].head()

,country,1751,1752,1753,1754,1755,1756,1757,1758,1759,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.04041,0.05440,0.06552,0.08785,0.15895,0.24905,0.30291,0.42522,0.68802,0.69312
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.34203,1.37998,1.27761,1.30428,1.47382,1.49426,1.58449,1.81554,1.63562,1.66974
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.72677,3.21986,2.99727,3.19557,3.16824,3.42982,3.30686,3.30026,3.47163,3.51446
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.49969,7.39095,6.83994,6.62244,6.52724,6.17852,6.09210,5.70224,5.61408,5.52625
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.08651,1.06932,1.20077,1.31098,1.29557,1.35427,1.36921,1.38263,1.47212,1.38437

In [27]:
def make_df_long(df):
    vals = df.columns[1:].values
    df_long = pd.melt(
        df, id_vars=['country'], value_vars=vals
    ).sort_values(
        ['country', 'variable']).rename(
        columns={'value':df.name, 'variable':'year'}
                         ).reset_index(drop=True
                                      )
    df_long.name = df.name
    df_long['year']=df_long['year'].astype('str')
    return df_long

In [28]:
long_dfs = [make_df_long(dfs[i]) for i, _ in enumerate(dfs)]
len(long_dfs)

9

# Join long DFs

In [106]:
# thank you http://notconfusing.com/joining-many-dataframes-at-once-in-pandas-n-ary-join/
def merge_dfs(ldf, rdf):
    right_on = list(rdf.columns[0:2])
    left_on = list(ldf.columns[0:2])
    return ldf.merge(rdf, how='left', left_on=left_on, right_on=right_on)

In [279]:
final_df = reduce(merge_dfs, long_dfs) #that's the magic
final_df.tail(20)

,country,year,CO2_pc,energy_use_pc,hdi,income_pc,motor_vehicles_per_1000,population,roads_paved_%,sulfur_emissions_pc_kg,surviving_kids_per_woman
60207,Zimbabwe,1994,1.53736,0.842736,0.475,2520.0,NaN,11476807.0,54.9,7.72,3.47
60208,Zimbabwe,1995,1.29491,0.842225,0.465,2480.0,NaN,11683136.0,48.0,7.25,3.24
60209,Zimbabwe,1996,1.26229,0.824112,0.460,2690.0,NaN,11877664.0,47.4,6.82,3.04
60210,Zimbabwe,1997,1.19457,0.802734,0.451,2710.0,NaN,12059858.0,47.4,6.30,2.85
60211,Zimbabwe,1998,1.16567,0.809675,0.442,2750.0,NaN,12226742.0,47.4,6.64,2.67
60212,Zimbabwe,1999,1.27951,0.853539,0.434,2690.0,NaN,12374019.0,NaN,7.30,2.56
60213,Zimbabwe,2000,1.11379,0.790319,0.427,2570.0,NaN,12499981.0,NaN,7.15,2.46
60214,Zimbabwe,2001,0.99929,0.772111,0.427,2580.0,NaN,12603988.0,NaN,NaN,2.36
60215,Zimbabwe,2002,0.94271,0.770138,0.418,2320.0,NaN,12691431.0,19.0,NaN,2.28
60216,Zimbabwe,2003,0.83413,0.754592,0.407,1910.0,NaN,12774162.0,NaN,NaN,2.25
60217,Zimbabwe,2004,0.73716,0.737199,0.406,1780.0,NaN,12867828.0,NaN,NaN,2.23
60218,Zimbabwe,2005,0.82938,0.771889,0.408,1650.0,NaN,12984418.0,NaN,NaN,2.25
60219,Zimbabwe,2006,0.79573,0.770384,0.414,1580.0,NaN,13127942.0,NaN,NaN,2.26
60220,Zimbabwe,2007,0.74338,0.778872,0.421,1490.0,105.687465,13297798.0,NaN,NaN,2.27
60221,Zimbabwe,2008,0.57572,0.744783,0.419,1210.0,NaN,13495462.0,NaN,NaN,2.28
60222,Zimbabwe,2009,0.60741,0.754557,0.436,1290.0,NaN,13720997.0,NaN,NaN,2.32
60223,Zimbabwe,2010,0.66307,0.764014,0.452,1460.0,NaN,13973897.0,NaN,NaN,2.32
60224,Zimbabwe,2011,0.81561,NaN,0.464,1660.0,NaN,14255592.0,NaN,NaN,NaN
60225,Zimbabwe,2012,0.88788,NaN,0.488,1850.0,NaN,14565482.0,NaN,NaN,NaN
60226,Zimbabwe,2013,0.92491,NaN,0.498,1900.0,NaN,14898092.0,NaN,NaN,NaN

## Add region & sub_region columns

In [280]:
regions = pd.read_csv('data/countries_with_regions.csv')

# make 'country' lowercase in both df's
regions['country'] = regions['country'].str.lower()
final_df['country'] = final_df['country'].str.lower()

final_df = final_df.merge(regions, on='country', how='left')
final_df.head()

,country,year,CO2_pc,energy_use_pc,hdi,income_pc,motor_vehicles_per_1000,population,roads_paved_%,sulfur_emissions_pc_kg,surviving_kids_per_woman,region,sub-region
0,afghanistan,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia,Southern Asia
1,afghanistan,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia,Southern Asia
2,afghanistan,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia,Southern Asia
3,afghanistan,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia,Southern Asia
4,afghanistan,1755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia,Southern Asia

In [273]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60227 entries, 0 to 60226
Data columns (total 13 columns):
country                     60227 non-null object
year                        60227 non-null object
CO2_pc                      17055 non-null float64
energy_use_pc               5366 non-null float64
hdi                         3948 non-null float64
income_pc                   40660 non-null float64
motor_vehicles_per_1000     457 non-null float64
population                  17769 non-null float64
roads_paved_%               2031 non-null float64
sulfur_emissions_pc_kg      24613 non-null float64
surviving_kids_per_woman    31527 non-null float64
region                      51548 non-null object
sub-region                  51548 non-null object
dtypes: float64(9), object(4)
memory usage: 6.4+ MB

## Remove rows without CO2

This process can add rows without CO2 values. 

Since I'm most primarily interested by CO2, might as well remove those rows: less visual clutter, and it saves memory.

In [281]:
# how many rows are missing CO2 emission values?,
len(final_df.loc[final_df['CO2_pc'].isnull()])

43172

In [282]:
# drop all countries missing CO2 data
no_co2 = final_df[final_df['CO2_pc'].isnull()].index
final_df.drop(no_co2, inplace=True)
final_df.reset_index(inplace=True, drop=True)

In [283]:
final_df.head()

,country,year,CO2_pc,energy_use_pc,hdi,income_pc,motor_vehicles_per_1000,population,roads_paved_%,sulfur_emissions_pc_kg,surviving_kids_per_woman,region,sub-region
0,afghanistan,1949,0.00182,NaN,NaN,1030.0,NaN,NaN,NaN,0.0477,NaN,Asia,Southern Asia
1,afghanistan,1950,0.01088,NaN,NaN,1040.0,NaN,7752118.0,NaN,0.0758,2.89,Asia,Southern Asia
2,afghanistan,1951,0.01169,NaN,NaN,1060.0,NaN,7839426.0,NaN,0.0932,2.89,Asia,Southern Asia
3,afghanistan,1952,0.01155,NaN,NaN,1070.0,NaN,7934798.0,NaN,0.1100,3.02,Asia,Southern Asia
4,afghanistan,1953,0.01323,NaN,NaN,1120.0,NaN,8038312.0,NaN,0.1260,3.02,Asia,Southern Asia

In [284]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17055 entries, 0 to 17054
Data columns (total 13 columns):
country                     17055 non-null object
year                        17055 non-null object
CO2_pc                      17055 non-null float64
energy_use_pc               5324 non-null float64
hdi                         3898 non-null float64
income_pc                   14969 non-null float64
motor_vehicles_per_1000     456 non-null float64
population                  12517 non-null float64
roads_paved_%               1977 non-null float64
sulfur_emissions_pc_kg      11230 non-null float64
surviving_kids_per_woman    13919 non-null float64
region                      15328 non-null object
sub-region                  15328 non-null object
dtypes: float64(9), object(4)
memory usage: 1.7+ MB

## Fill in missing regions

In [356]:
# troubleshooting
country = missing_regions['country'].unique()
countries = pd.DataFrame(country, columns=['country'])
countries['possible_matches'] = ""
countries

                          country possible_matches
0        central african republic
1                christmas island
2                   congo dem rep
3                       congo rep
4                         cook is
5                         cura ao
6                  czech republic
7                  czechoslovakia
8              dominican republic
9                    east germany
10           falkland is malvinas
11                kyrgyz republic
12                            lao
13                  liechtenstein
14             micronesia fed sts
15                    north korea
16             north yemen former
17                      palestine
18                    puerto rico
19          serbia and montenegro
20                    south korea
21                    south sudan
22             south yemen former
23                      st helena
24             st kitts and nevis
25                       st lucia
26          st pierre et miquelon
27  st vincent and the grenadines
28            united korea former
29                           ussr
30                   west germany
31                          yemen
32                     yugoslavia

In [404]:
# troubleshooting cont'd

def match_first_word(country):
    first_word = country.split()[0]
    possible_matches = regions['country'].loc[regions['country'].str.startswith(first_word)].to_dict()
    return possible_matches

In [405]:
countries['possible_matches'] = countries['country'].apply(match_first_word)
countries

,country,possible_matches
0,central african republic,{42: u'central african republic'}
1,christmas island,{46: u'christmas island'}
2,congo dem rep,"{50: u'congo', 51: u'congo democratic republic..."
3,congo rep,"{50: u'congo', 51: u'congo democratic republic..."
4,cook is,{52: u'cook islands'}
5,cura ao,{57: u'curacao'}
6,czech republic,{59: u'czech republic'}
7,czechoslovakia,{}
8,dominican republic,{63: u'dominican republic'}
9,east germany,{}
10,falkland is malvinas,{71: u'falkland islands malvinas '}
11,kyrgyz republic,{120: u'kyrgyzstan'}
12,lao,{121: u'lao people s democratic republic'}
13,liechtenstein,{127: u'liechtenstein'}
14,micronesia fed sts,{144: u'micronesia federated states of '}
15,north korea,{164: u'northern mariana islands'}
16,north yemen former,{164: u'northern mariana islands'}
17,palestine,{169: u'palestine state of'}
18,puerto rico,{178: u'puerto rico'}
19,serbia and montenegro,{196: u'serbia'}
20,south korea,"{205: u'south africa', 206: u'south georgia an..."
21,south sudan,"{205: u'south africa', 206: u'south georgia an..."
22,south yemen former,"{205: u'south africa', 206: u'south georgia an..."
23,st helena,{}
24,st kitts and nevis,{}
25,st lucia,{}
26,st pierre et miquelon,{}
27,st vincent and the grenadines,{}
28,united korea former,"{233: u'united arab emirates', 234: u'united k..."
29,ussr,{}
30,west germany,{245: u'western sahara'}
31,yemen,{246: u'yemen'}
32,yugoslavia,{}

In [412]:
# and it continues with the troubleshooting (er, testing)

def match_second_word(country):
    if len(country.split()) > 1:
        second_word = country.split()[1]
        possible_matches = regions['country'].loc[regions['country'].str.contains(second_word)].to_dict()
        return possible_matches
    else:
        pass

In [414]:
countries['more_matches'] = countries['country'].apply(match_second_word)
countries

,country,possible_matches,more_matches
0,central african republic,{42: u'central african republic'},{42: u'central african republic'}
1,christmas island,{46: u'christmas island'},"{96: u'heard island and mcdonald islands', 1: ..."
2,congo dem rep,"{50: u'congo', 51: u'congo democratic republic...","{121: u'lao people s democratic republic', 51:..."
3,congo rep,"{50: u'congo', 51: u'congo democratic republic...",{131: u'macedonia the former yugoslav republic...
4,cook is,{52: u'cook islands'},"{0: u'afghanistan', 1: u'aland islands', 236: ..."
5,cura ao,{57: u'curacao'},"{57: u'curacao', 130: u'macao', 193: u'sao tom..."
6,czech republic,{59: u'czech republic'},{131: u'macedonia the former yugoslav republic...
7,czechoslovakia,{},None
8,dominican republic,{63: u'dominican republic'},{131: u'macedonia the former yugoslav republic...
9,east germany,{},{82: u'germany'}
10,falkland is malvinas,{71: u'falkland islands malvinas '},"{0: u'afghanistan', 1: u'aland islands', 236: ..."
11,kyrgyz republic,{120: u'kyrgyzstan'},{131: u'macedonia the former yugoslav republic...
12,lao,{121: u'lao people s democratic republic'},None
13,liechtenstein,{127: u'liechtenstein'},None
14,micronesia fed sts,{144: u'micronesia federated states of '},"{144: u'micronesia federated states of ', 182:..."
15,north korea,{164: u'northern mariana islands'},{117: u'korea democratic people s republic of ...
16,north yemen former,{164: u'northern mariana islands'},{246: u'yemen'}
17,palestine,{169: u'palestine state of'},None
18,puerto rico,{178: u'puerto rico'},{178: u'puerto rico'}
19,serbia and montenegro,{196: u'serbia'},"{1: u'aland islands', 5: u'andorra', 9: u'anti..."
20,south korea,"{205: u'south africa', 206: u'south georgia an...",{117: u'korea democratic people s republic of ...
21,south sudan,"{205: u'south africa', 206: u'south georgia an...","{210: u'sudan', 207: u'south sudan'}"
22,south yemen former,"{205: u'south africa', 206: u'south georgia an...",{246: u'yemen'}
23,st helena,{},{185: u'saint helena ascension and tristan da ...
24,st kitts and nevis,{},{186: u'saint kitts and nevis'}
25,st lucia,{},{187: u'saint lucia'}
26,st pierre et miquelon,{},{189: u'saint pierre and miquelon'}
27,st vincent and the grenadines,{},{190: u'saint vincent and the grenadines'}
28,united korea former,"{233: u'united arab emirates', 234: u'united k...",{117: u'korea democratic people s republic of ...
29,ussr,{},None
30,west germany,{245: u'western sahara'},{82: u'germany'}
31,yemen,{246: u'yemen'},None
32,yugoslavia,{},None

In [ ]:
# make country & year index
final_df.set_index(['country', 'year'], inplace=True)

# how many countries missing region data?
missing_regions = final_df.loc[final_df['region'].isnull()]

# save this index to later assign filled in region data to final_df
missing_idx = final_df['region'].isnull().index

# reset index, as 'country' column is needed now
final_df.reset_index(inplace=True)
final_df.head()

In [288]:
missing_regions.reset_index(inplace=True)
print(missing_regions['country'].unique())
print(len(missing_regions['country'].unique()))

[u'central african republic' u'christmas island' u'congo dem rep'
 u'congo rep' u'cook is' u'cura ao' u'czech republic' u'czechoslovakia'
 u'dominican republic' u'east germany' u'falkland is malvinas'
 u'kyrgyz republic' u'lao' u'liechtenstein' u'micronesia fed sts'
 u'north korea' u'north yemen former' u'palestine' u'puerto rico'
 u'serbia and montenegro' u'south korea' u'south sudan'
 u'south yemen former' u'st helena' u'st kitts and nevis' u'st lucia'
 u'st pierre et miquelon' u'st vincent and the grenadines'
 u'united korea former' u'ussr' u'west germany' u'yemen' u'yugoslavia']
33

In [289]:
# try matching with original json regions file
regions = pd.read_csv('data/regions_cleaned.csv')

# make 'country' lowercase in this df
regions['country'] = regions['country'].str.lower()

# drop region & sub-region first, since this 2nd 'merge' will add them
missing_regions = missing_regions.drop( 
    ['region', 'sub-region'], axis=1).merge(
    regions, on='country', how='left'
)

In [290]:
# how many countries found matches?
len(missing_regions['country'].loc[~missing_regions['region'].isnull()].unique())

7

## Painful partial-string matching

It's not elegant, but it works in *most* cases.
Would love feedback on how to make this better.

### Troubleshooting matches

In [297]:
# since partial string matching isn't working for 
# country names where keyword is NOT the first word

print(regions.loc[regions['country'].str.contains('kitt')])

# were there matches in final_df?
print(final_df['country'].loc[final_df['country'].str.contains('kitt')]).unique()

                   country    region sub-region
186  saint kitts and nevis  Americas  Caribbean
[u'st kitts and nevis']

### Resume partial-string matching

In [318]:
# how many countries _still_ missing region data?
missing_regions
#still_missing = missing_regions['country'].loc[missing_regions['region'].isnull()].unique()
#len(still_missing)

,country,year,CO2_pc,energy_use_pc,hdi,income_pc,motor_vehicles_per_1000,population,roads_paved_%,sulfur_emissions_pc_kg,surviving_kids_per_woman,region,sub-region
0,central african republic,1959,0.06692,NaN,NaN,1440.0,NaN,1479472.0,NaN,8.24,2.92,Asia,Western Asia
1,central african republic,1960,0.05853,NaN,NaN,1430.0,NaN,1503501.0,NaN,7.51,2.94,Asia,Western Asia
2,central african republic,1961,0.05755,NaN,NaN,1450.0,NaN,1529229.0,NaN,7.74,3.04,Asia,Western Asia
3,central african republic,1962,0.04711,NaN,NaN,1380.0,NaN,1556656.0,NaN,7.90,3.06,Asia,Western Asia
4,central african republic,1963,0.04624,NaN,NaN,1350.0,NaN,1585765.0,NaN,7.50,3.16,Asia,Western Asia
5,central african republic,1964,0.04537,NaN,NaN,1340.0,NaN,1616515.0,NaN,8.36,3.17,Asia,Western Asia
6,central african republic,1965,0.05337,NaN,NaN,1320.0,NaN,1648830.0,NaN,8.88,3.26,Asia,Western Asia
7,central african republic,1966,0.05011,NaN,NaN,1280.0,NaN,1682874.0,NaN,8.54,3.27,Asia,Western Asia
8,central african republic,1967,0.05334,NaN,NaN,1310.0,NaN,1718558.0,NaN,8.07,3.36,Asia,Western Asia
9,central african republic,1968,0.10445,NaN,NaN,1290.0,NaN,1755260.0,NaN,8.55,3.44,Asia,Western Asia
10,central african republic,1969,0.10434,NaN,NaN,1320.0,NaN,1792150.0,NaN,8.18,3.44,Asia,Western Asia
11,central african republic,1970,0.11429,NaN,NaN,1350.0,NaN,1828710.0,NaN,8.40,3.53,Asia,Western Asia
12,central african republic,1971,0.09831,NaN,NaN,1270.0,NaN,1864757.0,NaN,8.50,3.62,Asia,Western Asia
13,central african republic,1972,0.08874,NaN,NaN,1220.0,NaN,1900702.0,NaN,8.45,3.70,Asia,Western Asia
14,central african republic,1973,0.08327,NaN,NaN,1240.0,NaN,1937383.0,NaN,8.99,3.70,Asia,Western Asia
15,central african republic,1974,0.05752,NaN,NaN,1180.0,NaN,1975968.0,NaN,9.37,3.79,Asia,Western Asia
16,central african republic,1975,0.05089,NaN,NaN,1170.0,NaN,2017379.0,NaN,8.27,3.87,Asia,Western Asia
17,central african republic,1976,0.06225,NaN,NaN,1190.0,NaN,2061552.0,NaN,7.89,3.95,Asia,Western Asia
18,central african republic,1977,0.06087,NaN,NaN,1250.0,NaN,2108417.0,NaN,8.28,3.95,Asia,Western Asia
19,central african republic,1978,0.06794,NaN,NaN,1240.0,NaN,2158844.0,NaN,8.02,4.03,Asia,Western Asia
20,central african republic,1979,0.04637,NaN,NaN,1130.0,NaN,2213888.0,NaN,8.14,4.03,Asia,Western Asia
21,central african republic,1980,0.04676,NaN,NaN,1090.0,NaN,2274095.0,NaN,8.25,4.11,Asia,Western Asia
22,central african republic,1981,0.05797,NaN,NaN,1080.0,NaN,2340259.0,NaN,8.21,4.12,Asia,Western Asia
23,central african republic,1982,0.05929,NaN,NaN,1070.0,NaN,2411693.0,NaN,7.80,4.12,Asia,Western Asia
24,central african republic,1983,0.05900,NaN,NaN,973.0,NaN,2485666.0,NaN,7.49,4.20,Asia,Western Asia
25,central african republic,1984,0.05876,NaN,NaN,1010.0,NaN,2558432.0,NaN,7.31,4.19,Asia,Western Asia
26,central african republic,1985,0.06140,NaN,NaN,987.0,NaN,2627424.0,NaN,7.11,4.18,Asia,Western Asia
27,central african republic,1986,0.05995,NaN,NaN,980.0,NaN,2691312.0,NaN,6.95,4.17,Asia,Western Asia
28,central african republic,1987,0.09463,NaN,NaN,931.0,NaN,2751163.0,NaN,6.95,4.15,Asia,Western Asia
29,central african republic,1988,0.08221,NaN,NaN,922.0,NaN,2809720.0,NaN,6.73,4.05,Asia,Western Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1697,yugoslavia,1962,2.03547,NaN,NaN,NaN,NaN,18501105.0,NaN,NaN,NaN,Asia,Western Asia
1698,yugoslavia,1963,2.24201,NaN,NaN,NaN,NaN,18679169.0,NaN,NaN,NaN,Asia,Western Asia
1699,yugoslavia,1964,2.51753,NaN,NaN,NaN,NaN,18858421.0,NaN,NaN,NaN,Asia,Western Asia
1700,yugoslavia,1965,2.56501,NaN,NaN,NaN,NaN,19037222.0,NaN,NaN,NaN,Asia,Western Asia
1701,yugoslavia,1966,2.51747,NaN,NaN,NaN,NaN,19216550.0,NaN,NaN,NaN,Asia,Western Asia
1702,yugoslavia,1967,2.52067,NaN,NaN,NaN,NaN,19387937.0,NaN,NaN,NaN,Asia,Western Asia
1703,yugoslavia,1968,2.67365,NaN,NaN,NaN,NaN,19549164.0,NaN,NaN,NaN,Asia,Western Asia
1704,yugoslavia,1969,2.75061,NaN,NaN,NaN,NaN,19698958.0,NaN,NaN,NaN,Asia,Western Asia
1705,yugoslavia,1970,3.57006,NaN,NaN,NaN,NaN,19853091.0,NaN,NaN,NaN,Asia,Western Asia
1706,yugoslavia,1971,3.81403,NaN,NaN,NaN,NaN,20017270.0,NaN,NaN,NaN,Asia,Western Asia
1707,yugoslavia,1972,3.54240,NaN,NaN,NaN,NaN,20193164.0,NaN,NaN,NaN,Asia,Western Asia
1708,yugoslavia,1973,4.19641,NaN,NaN,NaN,NaN,20371551.0,NaN,NaN,NaN,Asia,Western Asia
1709,yugoslavia,1974,4.17737,NaN,NaN,NaN,NaN,20549722.0,NaN,NaN,NaN,Asia,Western Asia
1710,yugoslavia,1975,4.32052,NaN,NaN,NaN,NaN,20737095.0,NaN,NaN,NaN,Asia,Western Asia
1711,yugoslavia,1976,4.41727,NaN,NaN,NaN,NaN,20929122.0,NaN,NaN,NaN,Asia,Western Asia
1712,yugoslavia,1977,4.25577,NaN,NaN,NaN,NaN,21121527.0,NaN,NaN,NaN,Asia,Western Asia
1713,yugoslavia,1978,4.71488,NaN,NaN,NaN,NaN,21308445.0,NaN,NaN,NaN,Asia,Western Asia
1714,yugoslavia,1979,5.08515,NaN,NaN,NaN,NaN,21471502.0,NaN,NaN,NaN,Asia,Western Asia
1715,yugoslavia,1980,4.97150,NaN,NaN,NaN,NaN,21604186.0,NaN,NaN,NaN,Asia,Western Asia
1716,yugoslavia,1981,5.38752,NaN,NaN,NaN,NaN,21735672.0,NaN,NaN,NaN,Asia,Western Asia
1717,yugoslavia,1982,4.90939,NaN,NaN,NaN,NaN,21870039.0,NaN,NaN,NaN,Asia,Western Asia
1718,yugoslavia,1983,5.25451,NaN,NaN,NaN,NaN,21996567.0,NaN,NaN,NaN,Asia,Western Asia
1719,yugoslavia,1984,5.52403,NaN,NaN,NaN,NaN,22107018.0,NaN,NaN,NaN,Asia,Western Asia
1720,yugoslavia,1985,5.60214,NaN,NaN,NaN,NaN,22214111.0,NaN,NaN,NaN,Asia,Western Asia
1721,yugoslavia,1986,5.81841,NaN,NaN,NaN,NaN,22330236.0,NaN,NaN,NaN,Asia,Western Asia
1722,yugoslavia,1987,5.75711,NaN,NaN,NaN,NaN,22436996.0,NaN,NaN,NaN,Asia,Western Asia
1723,yugoslavia,1988,5.93155,NaN,NaN,NaN,NaN,22535350.0,NaN,NaN,NaN,Asia,Western Asia
1724,yugoslavia,1989,5.89289,NaN,NaN,NaN,NaN,22630149.0,NaN,NaN,NaN,Asia,Western Asia
1725,yugoslavia,1990,5.86612,NaN,NaN,NaN,NaN,22807408.0,NaN,NaN,NaN,Asia,Western Asia
1726,yugoslavia,1991,4.08659,NaN,NaN,NaN,NaN,22958130.0,NaN,NaN,NaN,Asia,Western Asia

In [298]:
# partial string matching
matches = []
for country in still_missing:
    country = str(country)
    poss_match = {'co2_country': country}
    country_split = str.split(country)
    
    # does the field start with country name?
    if regions['country'].str.startswith(country).any():
            poss_match['regions_country'] = dict(regions[regions['country'].str.startswith(country)].country)
    
    # does the field contain the first word of the country match?
    elif regions['country'].str.contains(country_split[0]).any():
            poss_match['regions_country'] = dict(regions[regions['country'].str.contains(country_split[0])].country)
            
    # does the field contain the second word of the country?
    elif len(country_split) > 1: 
        if regions['country'].str.contains(country_split[1]).any():
            poss_match['regions_country'] = dict(regions[regions['country'].str.contains(country_split[1])].country)
        else: 
            poss_match['regions_country'] = None
    else:
        poss_match['regions_country'] = None
        
    matches.append(poss_match)

In [299]:
# confirm matches when there is only one suggested match found
for dct in matches:
    if dct['regions_country'] == None:
        dct['matched'] = "n"
    elif  len(dct['regions_country']) > 1:
        dct['matched'] = 'n'
    elif len(dct['regions_country']) == 1:
        print dct
        dct['matched'] = raw_input('Is this a match? ([y] or n) ') or 'y'
        if dct['matched'] == 'y':
            #print dct['regions_country'].keys()[0]
            matching_key = dct['regions_country'].keys()[0]
            dct['regions_country'] = dct['regions_country'].values()[0]
            dct['matched'] = 'y'
            
            
            
            # add region & sub-region values from regions df
            missing_regions['region'] = regions['region'].at[int(matching_key)]
            missing_regions['sub-region'] = regions['sub-region'].at[int(matching_key)]
            
            # remove from this list
            matches.remove(dct)
            
    else:
        dct['matched'] = 'n'

{'co2_country': 'christmas island', 'regions_country': {46: 'christmas island'}}
Is this a match? ([y] or n) y
{'co2_country': 'cook is', 'regions_country': {52: 'cook islands'}}
Is this a match? ([y] or n)
{'co2_country': 'east germany', 'regions_country': {82: 'germany'}}
Is this a match? ([y] or n)
{'co2_country': 'kyrgyz republic', 'regions_country': {120: 'kyrgyzstan'}}
Is this a match? ([y] or n)
{'co2_country': 'micronesia fed sts', 'regions_country': {144: 'micronesia federated states of '}}
Is this a match? ([y] or n)
{'co2_country': 'palestine', 'regions_country': {169: 'palestine state of'}}
Is this a match? ([y] or n)
{'co2_country': 'west germany', 'regions_country': {245: 'western sahara'}}
Is this a match? ([y] or n) n

In [300]:
# what does this look like now?
pp.pprint(matches)

[{'co2_country': 'congo dem rep',
  'regions_country': {50: 'congo', 51: 'congo democratic republic of the '}},
 {'co2_country': 'congo rep',
  'matched': 'n',
  'regions_country': {50: 'congo', 51: 'congo democratic republic of the '}},
 {'co2_country': 'cura ao', 'regions_country': {57: 'curacao'}},
 {'co2_country': 'czechoslovakia', 'matched': 'n', 'regions_country': None},
 {'co2_country': 'falkland is malvinas',
  'regions_country': {71: 'falkland islands malvinas '}},
 {'co2_country': 'lao',
  'regions_country': {121: 'lao people s democratic republic'}},
 {'co2_country': 'north korea',
  'regions_country': {164: 'northern mariana islands',
                      234: 'united kingdom of great britain and northern ireland'}},
 {'co2_country': 'north yemen former',
  'matched': 'n',
  'regions_country': {164: 'northern mariana islands',
                      234: 'united kingdom of great britain and northern ireland'}},
 {'co2_country': 'serbia and montenegro', 'regions_country': {196: 'serbia'}},
 {'co2_country': 'south korea',
  'matched': 'n',
  'regions_country': {78: 'french southern territories',
                      205: 'south africa',
                      206: 'south georgia and the south sandwich islands',
                      207: 'south sudan'}},
 {'co2_country': 'south yemen former',
  'matched': 'n',
  'regions_country': {78: 'french southern territories',
                      205: 'south africa',
                      206: 'south georgia and the south sandwich islands',
                      207: 'south sudan'}},
 {'co2_country': 'st helena',
  'matched': 'n',
  'regions_country': {0: 'afghanistan',
                      13: 'australia',
                      14: 'austria',
                      26: 'bolivia plurinational state of ',
                      27: 'bonaire sint eustatius and saba',
                      46: 'christmas island',
                      53: 'costa rica',
                      69: 'estonia',
                      114: 'kazakhstan',
                      120: 'kyrgyzstan',
                      127: 'liechtenstein',
                      144: 'micronesia federated states of ',
                      167: 'pakistan',
                      169: 'palestine state of',
                      185: 'saint helena ascension and tristan da cunha',
                      218: 'tajikistan',
                      221: 'timor leste',
                      228: 'turkmenistan',
                      235: 'united states of america',
                      236: 'united states minor outlying islands',
                      238: 'uzbekistan',
                      245: 'western sahara'}},
 {'co2_country': 'st kitts and nevis',
  'matched': 'n',
  'regions_country': {0: 'afghanistan',
                      13: 'australia',
                      14: 'austria',
                      26: 'bolivia plurinational state of ',
                      27: 'bonaire sint eustatius and saba',
                      46: 'christmas island',
                      53: 'costa rica',
                      69: 'estonia',
                      114: 'kazakhstan',
                      120: 'kyrgyzstan',
                      127: 'liechtenstein',
                      144: 'micronesia federated states of ',
                      167: 'pakistan',
                      169: 'palestine state of',
                      185: 'saint helena ascension and tristan da cunha',
                      218: 'tajikistan',
                      221: 'timor leste',
                      228: 'turkmenistan',
                      235: 'united states of america',
                      236: 'united states minor outlying islands',
                      238: 'uzbekistan',
                      245: 'western sahara'}},
 {'co2_country': 'st lucia',
  'matched': 'n',
  'regions_country': {0: 'afghanistan',
                      13: 'australia',
                      14: 'austria',
                      26: 'bolivia plurinational state of ',
                      27: 'bonaire sint eustatius and saba',
                      46: 'christmas island',
                      53: 'costa rica',
                      69: 'estonia',
                      114: 'kazakhstan',
                      120: 'kyrgyzstan',
                      127: 'liechtenstein',
                      144: 'micronesia federated states of ',
                      167: 'pakistan',
                      169: 'palestine state of',
                      185: 'saint helena ascension and tristan da cunha',
                      218: 'tajikistan',
                      221: 'timor leste',
                      228: 'turkmenistan',
                      235: 'united states of america',
                      236: 'united states minor outlying islands',
                      238: 'uzbekistan',
                      245: 'western sahara'}},
 {'co2_country': 'st pierre et miquelon',
  'matched': 'n',
  'regions_country': {0: 'afghanistan',
                      13: 'australia',
                      14: 'austria',
                      26: 'bolivia plurinational state of ',
                      27: 'bonaire sint eustatius and saba',
                      46: 'christmas island',
                      53: 'costa rica',
                      69: 'estonia',
                      114: 'kazakhstan',
                      120: 'kyrgyzstan',
                      127: 'liechtenstein',
                      144: 'micronesia federated states of ',
                      167: 'pakistan',
                      169: 'palestine state of',
                      185: 'saint helena ascension and tristan da cunha',
                      218: 'tajikistan',
                      221: 'timor leste',
                      228: 'turkmenistan',
                      235: 'united states of america',
                      236: 'united states minor outlying islands',
                      238: 'uzbekistan',
                      245: 'western sahara'}},
 {'co2_country': 'st vincent and the grenadines',
  'matched': 'n',
  'regions_country': {0: 'afghanistan',
                      13: 'australia',
                      14: 'austria',
                      26: 'bolivia plurinational state of ',
                      27: 'bonaire sint eustatius and saba',
                      46: 'christmas island',
                      53: 'costa rica',
                      69: 'estonia',
                      114: 'kazakhstan',
                      120: 'kyrgyzstan',
                      127: 'liechtenstein',
                      144: 'micronesia federated states of ',
                      167: 'pakistan',
                      169: 'palestine state of',
                      185: 'saint helena ascension and tristan da cunha',
                      218: 'tajikistan',
                      221: 'timor leste',
                      228: 'turkmenistan',
                      235: 'united states of america',
                      236: 'united states minor outlying islands',
                      238: 'uzbekistan',
                      245: 'western sahara'}},
 {'co2_country': 'united korea former',
  'matched': 'n',
  'regions_country': {219: 'tanzania united republic of',
                      233: 'united arab emirates',
                      234: 'united kingdom of great britain and northern ireland',
                      235: 'united states of america',
                      236: 'united states minor outlying islands'}},
 {'co2_country': 'ussr', 'matched': 'n', 'regions_country': None},
 {'co2_country': 'west germany',
  'matched': 'n',
  'regions_country': {245: 'western sahara'}},
 {'co2_country': 'yugoslavia', 'matched': 'n', 'regions_country': None}]

In [314]:
##### for multiple matches (stored as dict), select correct country
## TODO: confirm selected key, then drop that key from dict

for dct in matches:
    if dct['matched'] != 'y': 
        pp.pprint(dct)
        matching_key = raw_input('Enter the key number of the matching country. If none match, type \'n\'.')
        if matching_key == 'n':
            dct['regions_country'] = None
            dct['matched'] = matching_key

        elif matching_key != 'n':
            while int(matching_key) not in dct['regions_country'].keys():
                print "Error: you entered "+ matching_key
                print "This is not a valid key number. Please try again."
                print "Valid keys are:"
                print dct['regions_country'].keys()
                matching_key = raw_input('Enter the key number of the matching country. If none match, type \'n\'.')


            print "You selected " + dct['regions_country'][int(matching_key)] + "."
            dct['regions_country'] = dct['regions_country'][int(matching_key)]
            dct['matched'] = 'y'

            # add region & sub-region values from regions df
            missing_regions['region'] = regions.region.at[int(matching_key)]
            missing_regions['sub-region'] = regions['sub-region'].at[int(matching_key)]
            matches.remove(dct)

            # remove this country from all other 'possible match' dicts in matches
            #for __,dct in enumerate(matches):
                #if int(matching_key) in dct['regions_country'].keys():
                    #del dct['regions_country'][int(matching_key)]
                #else:
                    #pass

{'co2_country': 'czechoslovakia', 'matched': 'n', 'regions_country': None}
Enter the key number of the matching country. If none match, type 'n'.n
{'co2_country': 'north korea', 'matched': 'n', 'regions_country': None}
Enter the key number of the matching country. If none match, type 'n'.n
{'co2_country': 'north yemen former', 'matched': 'n', 'regions_country': None}
Enter the key number of the matching country. If none match, type 'n'.n
{'co2_country': 'south korea', 'matched': 'n', 'regions_country': None}
Enter the key number of the matching country. If none match, type 'n'.n
{'co2_country': 'south yemen former', 'matched': 'n', 'regions_country': None}
Enter the key number of the matching country. If none match, type 'n'.n
{'co2_country': 'st kitts and nevis', 'matched': 'n', 'regions_country': None}
Enter the key number of the matching country. If none match, type 'n'.n
{'co2_country': 'st lucia', 'matched': 'n', 'regions_country': None}
Enter the key number of the matching country. If none match, type 'n'.n
{'co2_country': 'st pierre et miquelon',
 'matched': 'n',
 'regions_country': None}
Enter the key number of the matching country. If none match, type 'n'.n
{'co2_country': 'st vincent and the grenadines',
 'matched': 'n',
 'regions_country': None}
Enter the key number of the matching country. If none match, type 'n'.n
{'co2_country': 'united korea former', 'matched': 'n', 'regions_country': None}
Enter the key number of the matching country. If none match, type 'n'.n
{'co2_country': 'ussr', 'matched': 'n', 'regions_country': None}

KeyboardInterrupt:

In [160]:
matches

[{'co2_country': 'christmas island',
  'matched': 'y',
  'region': nan,
  'regions_country': 'christmas island',
  'sub-region': nan},
 {'co2_country': 'congo dem rep',
  'matched': 'y',
  'region': 'Africa',
  'regions_country': 'congo democratic republic of the ',
  'sub-region': 'Middle Africa'},
 {'co2_country': 'congo rep',
  'matched': 'y',
  'region': 'Africa',
  'regions_country': 'congo',
  'sub-region': 'Middle Africa'},
 {'co2_country': 'cook is',
  'matched': 'y',
  'region': 'Oceania',
  'regions_country': 'cook islands',
  'sub-region': 'Polynesia'},
 {'co2_country': 'cura ao',
  'matched': 'y',
  'region': 'Americas',
  'regions_country': 'curacao',
  'sub-region': 'Caribbean'},
 {'co2_country': 'czechoslovakia', 'matched': 'n', 'regions_country': None},
 {'co2_country': 'east germany', 'matched': 'n', 'regions_country': None},
 {'co2_country': 'falkland is malvinas',
  'matched': 'y',
  'region': 'Americas',
  'regions_country': 'falkland islands malvinas ',
  'sub-region': 'South America'},
 {'co2_country': 'kyrgyz republic',
  'matched': 'y',
  'region': 'Asia',
  'regions_country': 'kyrgyzstan',
  'sub-region': 'Central Asia'},
 {'co2_country': 'lao',
  'matched': 'y',
  'region': 'Asia',
  'regions_country': 'lao people s democratic republic',
  'sub-region': 'South-Eastern Asia'},
 {'co2_country': 'micronesia fed sts',
  'matched': 'y',
  'region': 'Oceania',
  'regions_country': 'micronesia federated states of ',
  'sub-region': 'Micronesia'},
 {'co2_country': 'north korea', 'matched': 'n', 'regions_country': None},
 {'co2_country': 'north yemen former',
  'matched': 'n',
  'regions_country': None},
 {'co2_country': 'palestine',
  'matched': 'y',
  'region': 'Asia',
  'regions_country': 'palestine state of',
  'sub-region': 'Western Asia'},
 {'co2_country': 'serbia and montenegro',
  'matched': 'y',
  'region': 'Europe',
  'regions_country': 'serbia',
  'sub-region': 'Southern Europe'},
 {'co2_country': 'south korea', 'matched': 'n', 'regions_country': None},
 {'co2_country': 'south yemen former',
  'matched': 'n',
  'regions_country': None},
 {'co2_country': 'st helena',
  'matched': 'y',
  'region': 'Africa',
  'regions_country': 'saint helena ascension and tristan da cunha',
  'sub-region': 'Western Africa'},
 {'co2_country': 'st kitts and nevis',
  'matched': 'n',
  'regions_country': None},
 {'co2_country': 'st lucia', 'matched': 'n', 'regions_country': None},
 {'co2_country': 'st pierre et miquelon',
  'matched': 'n',
  'regions_country': None},
 {'co2_country': 'st vincent and the grenadines',
  'matched': 'n',
  'regions_country': None},
 {'co2_country': 'united korea former',
  'matched': 'n',
  'regions_country': None},
 {'co2_country': 'ussr', 'matched': 'n', 'regions_country': None},
 {'co2_country': 'west germany', 'matched': 'n', 'regions_country': None},
 {'co2_country': 'yugoslavia', 'matched': 'n', 'regions_country': None}]

In [ ]:
def add_missing_regions(merged_df, matching_key, current_country):
    # update merged_df with region & sub-region values
    reg, sub_reg = regions.loc[matching_key, ['region', 'sub-region']]
    merged_df.loc[merged_df['country']== current_country, 'region'] = reg
    merged_df.loc[merged_df['country']== current_country, 'sub-region'] = sub_reg
    return merged_df

## Rearrange columns

In [31]:
# rearrange column order so region info beside country col
cols = final_df.columns.tolist()

newcols = [cols[0]]
newcols.extend(cols[-2:])
newcols.extend(cols[1:-2])

newcols

['country',
 'region',
 'sub-region',
 'year',
 'CO2_pc',
 'energy_use_pc',
 'hdi',
 'income_pc',
 'motor_vehicles_per_1000',
 'population',
 'roads_paved_%',
 'sulfur_emissions_pc_kg',
 'surviving_kids_per_woman']

In [32]:
final_df = final_df[newcols]
final_df.head()

,country,region,sub-region,year,CO2_pc,energy_use_pc,hdi,income_pc,motor_vehicles_per_1000,population,roads_paved_%,sulfur_emissions_pc_kg,surviving_kids_per_woman
0,Afghanistan,Asia,Southern Asia,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,Asia,Southern Asia,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,Asia,Southern Asia,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Asia,Southern Asia,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Asia,Southern Asia,1755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [863]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17055 entries, 198 to 60226
Data columns (total 13 columns):
country                     17055 non-null object
region                      14970 non-null object
sub-region                  14970 non-null object
year                        17055 non-null object
CO2_pc                      17055 non-null float64
energy_use_pc               5324 non-null float64
hdi                         3898 non-null float64
income_pc                   14969 non-null float64
motor_vehicles_per_1000     456 non-null float64
population                  12517 non-null float64
roads_paved_%               1977 non-null float64
sulfur_emissions_pc_kg      11230 non-null float64
surviving_kids_per_woman    13919 non-null float64
dtypes: float64(9), object(4)
memory usage: 1.8+ MB

In [865]:
# save as csv
final_df.to_csv('data/final/final_df.csv', index=False)

# Updates

The original CO2 dataset went up to 2012, but 2010 was the last year there was substantial data.
I'd seen references online to 2014 data, but finding the actual data files was a challenge. I had several false starts.

Finally, it was the [Open Numbers github account](https://github.com/open-numbers/ddf--gapminder--co2_emission) that helped me.

In [746]:
# load data
url_co2 = 'https://raw.githubusercontent.com/open-numbers/ddf--gapminder--co2_emission/master/ddf--datapoints--co2_emissions_tonnes_per_person--by--country--year.csv'
url_countries = 'https://raw.githubusercontent.com/open-numbers/ddf--gapminder--co2_emission/master/ddf--entities--country.csv'

co2 = pd.read_csv(url_co2) # emissions values
countries = pd.read_csv(url_countries) # country key

df = countries.merge(co2, on='country')

# hoping this fixes concat issues when trying add rows from previous version of DF
df['year'] = df['year'].astype('str')

# put into standard wide format
df['country'] = df['name']
df = df.drop('name', axis=1).rename(columns={'co2_emissions_tonnes_per_person': 'CO2'})
df = df.pivot('country', 'year', 'CO2').reset_index()
df.name = 'CO2_2013'
df.head()

year,country,1751,1752,1753,1754,1755,1756,1757,1758,1759,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.04041,0.05440,0.06552,0.08785,0.15895,0.24905,0.30291,0.42522,0.68802,0.69312
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.34203,1.37998,1.27761,1.30428,1.47382,1.49426,1.58449,1.81554,1.63562,1.66974
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.72677,3.21986,2.99727,3.19557,3.16824,3.42982,3.30686,3.30026,3.47163,3.51446
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.49969,7.39095,6.83994,6.62244,6.52724,6.17852,6.09210,5.70224,5.61408,5.52625
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.08651,1.06932,1.20077,1.31098,1.29557,1.35427,1.36921,1.38263,1.47212,1.38437

In [747]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Columns: 264 entries, country to 2013
dtypes: float64(263), object(1)
memory usage: 472.4+ KB

In [748]:
# compare with previous co2 data (last complete year: 2010)
df_old = pd.read_csv('data/archive/1indicator CDIAC carbon_dioxide_emissions_per_capita.csv')
df_old.rename(columns={'CO2 per capita': 'country'}, inplace=True)
df_old.head()

,country,1751,1755,1762,1763,1764,1765,1766,1767,1768,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.022704,0.027472,0.036780,0.047090,0.068312,0.131602,0.213325,0.262174,NaN,NaN
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.382066,1.332966,1.353789,1.224310,1.279420,1.297753,1.215055,1.336544,NaN,NaN
4,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.899236,2.762220,3.257010,3.113135,3.312875,3.328945,3.564361,3.480977,3.562504,3.785654

In [743]:
df_old.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Columns: 254 entries, country to 2012
dtypes: float64(253), object(1)
memory usage: 466.4+ KB

In [749]:
# df_old has 235 countries, 6 more than the current df
# But the current df has _9_ more columns (years) than df old.

# the most crucial diff is the countries in the old df that are not in the current one.

# first clean colums in each df
df_old_clean = clean_country_col(df_old)
df_clean = clean_country_col(df)

In [752]:
# 2010 countries NOT in 2013 dataset
notin_2013 = df_old.loc[~df_old['country'].isin(df['country'])]
notin_2013

,country,1751,1755,1762,1763,1764,1765,1766,1767,1768,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
0,abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,akrotiri and dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,american samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,channel islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,cocos island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,eritrea and ethiopia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,guam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,guernsey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,holy see,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,isle of man,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,jersey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,mayotte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,monaco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,norfolk island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,northern cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,northern mariana islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,pitcairn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,san marino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,serbia excluding kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,somaliland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,south ossetia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,svalbard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,tokelau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,transnistria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,west bank and gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.374235,0.535766,0.771369,0.622923,0.623526,0.536602,0.531716,0.585513,NaN,NaN
228,western sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.612034,0.572680,0.541090,0.516309,0.496383,0.479618,0.464255,0.449262,NaN,NaN
230,virgin islands u s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,land,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

OMG. 30 countries. But they seem be mostly NANs.
Let's verify

In [753]:
# of these countries, how many actually have data?
notin_2013.set_index('country', inplace=True)
notin_2013.isnull().all(1)

country
abkhazia                     True
akrotiri and dhekelia        True
american samoa               True
channel islands              True
cocos island                 True
eritrea and ethiopia         True
guam                         True
guernsey                     True
holy see                     True
isle of man                  True
jersey                       True
kosovo                       True
mayotte                      True
monaco                       True
norfolk island               True
northern cyprus              True
northern mariana islands     True
pitcairn                     True
san marino                   True
serbia excluding kosovo      True
somaliland                   True
south ossetia                True
svalbard                     True
tokelau                      True
transnistria                 True
tuvalu                       True
west bank and gaza          False
western sahara              False
virgin islands u s           True
land                         True
dtype: bool

In [754]:
# drop all-NaN rows
notin_2013 = notin_2013.dropna(how='all')
notin_2013

,1751,1755,1762,1763,1764,1765,1766,1767,1768,1769,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
country,,,,,,,,,,,,,,,,,,,,,
west bank and gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.374235,0.535766,0.771369,0.622923,0.623526,0.536602,0.531716,0.585513,NaN,NaN
western sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.612034,0.572680,0.541090,0.516309,0.496383,0.479618,0.464255,0.449262,NaN,NaN

In [755]:
# add notin_2013 rows to the current df

df.set_index('country', inplace=True)
df_appended = df.append(notin_2013)

# there now should be 231 rows instead of 229
df_appended.info()

<class 'pandas.core.frame.DataFrame'>
Index: 231 entries, afghanistan to western sahara
Columns: 263 entries, 1751 to 2013
dtypes: float64(263)
memory usage: 476.4+ KB

In [757]:
df_appended.tail()

,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
country,,,,,,,,,,,,,,,,,,,,,
yugoslavia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.182930,0.189980,0.169390,0.139600,0.166350,0.187030,0.194700,0.20451,0.23533,0.25084
zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.737160,0.829380,0.795730,0.743380,0.575720,0.607410,0.663070,0.81561,0.88788,0.92491
west bank and gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.535766,0.771369,0.622923,0.623526,0.536602,0.531716,0.585513,NaN,NaN,NaN
western sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.572680,0.541090,0.516309,0.496383,0.479618,0.464255,0.449262,NaN,NaN,NaN

In [758]:
# save as a csv so it can be 
# batched-processed with the other datasets
co2_2013.to_csv(originalpath + '!CO2_2013.csv', index=False)