In [1]:
import pandas as pd
from os import walk # to get list of filenames
import sys # to print function name within function

#for country name cleanup
import unidecode
import re

# Helper functions

In [2]:
# create dfs for later merging

def make_df(filename):
    df = pd.read_csv(mypath + filename)
    df.name = filename.split('.')[0]
    val_name = df.name.split('_')[0]
    df.rename(columns={df.columns[0]:'country'}, inplace=True)
    #df.columns = map(lambda col: 
                    #'{}_{}'.format(str(col), name), df.columns)
    
    return df

In [3]:
# clean up country names before merging

# helper functions
def remove_special_char(series):
    clean_series = re.sub('\W+',' ', series)
    return clean_series

def fix_country_col(df):
    country_col = str(df.columns[0])
    df.rename(columns = {country_col : 'country'}, inplace = True)
    return df

def add_regions(df):
    regions = pd.read_csv('data/countries_with_regions.csv')
    df = regions.merge(df, on='country', how='outer')
    return df

def clean_gapminder_df(df):
    df = fix_country_col(df)

    # remove special chars & accents
    df['country'] = df['country'].apply(unidecode.unidecode)
    df['country'] = df['country'].apply(remove_special_char)
    
    # add continent & sub-continent data
    df = add_regions(df)
    
    return df

# create df
#regions = pd.read_json('data/all_countries.json')
#regions = regions[['name', 'region', 'sub-region']]

#regions = clean_gapminder_df(regions)

# save as csv
#regions.to_csv('data/regions_cleaned.csv', index = False)

In [4]:
# create list of filenames

mypath = 'data/original/'
def list_files(mypath):
    files = []
    [files.extend(filenames) for (dirpath, dirnames, filenames) in walk(mypath)]
    return files

In [5]:
# inspect DF

def df_min_max(df):
    #print '\n'
    print sys._getframe().f_code.co_name
    print df.columns[1:].min()
    print df.columns[1:].max()

# any years with missing data?
def df_yrs_nan_vals(df):
    #print '\n'  
    print sys._getframe().f_code.co_name
    print df.isnull().any().sum()

# any countries that have no data at all?
def df_countries_no_data(df):
    #print '\n'   
    print sys._getframe().f_code.co_name
    print df.iloc[:,3:].isnull().all().sum()

def inspect_df(df):
    name = df.name
    #print '\n'  
    print 'Inspect %s dataframe:' % name
    df_min_max(df)
    df_yrs_nan_vals(df)
    df_countries_no_data(df)
    print '\n'
    print df.head()
    raw_input('Press <ENTER> to continue')

In [6]:
def get_val_names(dfs):
    names = [df.name.split('_')[0] for df in dfs]
    return names

In [7]:
# reshape into long format for easier plotting

def reshape_for_plot(df, val_name):
    #df = df.reset_index().copy()
    #df = df.set_index(['region', 'sub-region', 'country'])
    name = df.name.split('_')[0]
    df = df.set_index(['country'])
    df = df.sort_index(level = 0)

    t = df.T
    t = t.unstack(level = 1)
    df = pd.DataFrame(t)
    
    df = df.reset_index()
    df = df.rename(columns={'level_1':'year', 0: val_name})
    df.name = name

    return df

# Look at source files

In [41]:
originals = list_files(mypath)
originals

['Coal Consumption per capita.xlsx',
 'energy use per person.xlsx',
 'hdi_human_development_index.csv',
 'income_per_person_gdppercapita_ppp_inflation_adjusted.csv',
 'indicator CDIAC carbon_dioxide_emissions_per_capita.csv',
 'indicator undata total_fertility.xlsx',
 'Indicator_Electricity consumption per capita.xlsx',
 'motor_vehicles_per_1000_pop2010.xlsx',
 'population.xlsx',
 'roads_paved_percent_of_total_roads.csv',
 'sulfur_emissions_per_person_kg.csv',
 'surviving_kids_per_woman.csv']

In [44]:
# replace spaces with undescores,
# remove or shorten meaningless words
fixed_filenames = pd.Series(originals).str.upper()\
.str.replace(' ', '_').str.replace('INDICATOR_', '')\
.str.replace('PER_CAPITA', 'pc').str.lower()

fixed_filenames

0                              coal_consumption_pc.xlsx
1                            energy_use_per_person.xlsx
2                       hdi_human_development_index.csv
3     income_per_person_gdppercapita_ppp_inflation_a...
4                 cdiac_carbon_dioxide_emissions_pc.csv
5                           undata_total_fertility.xlsx
6                       electricity_consumption_pc.xlsx
7                  motor_vehicles_per_1000_pop2010.xlsx
8                                       population.xlsx
9                roads_paved_percent_of_total_roads.csv
10                   sulfur_emissions_per_person_kg.csv
11                         surviving_kids_per_woman.csv
dtype: object

In [50]:
# identify type of file

filetype = fixed_filenames.str.split('.', expand=True)
filetype[1]

0     xlsx
1     xlsx
2      csv
3      csv
4      csv
5     xlsx
6     xlsx
7     xlsx
8     xlsx
9      csv
10     csv
11     csv
Name: 1, dtype: object

In [57]:
files_df = pd.concat([fixed_filenames, filetype[1]], axis=1)
files_df

                                                    0     1
0                            coal_consumption_pc.xlsx  xlsx
1                          energy_use_per_person.xlsx  xlsx
2                     hdi_human_development_index.csv   csv
3   income_per_person_gdppercapita_ppp_inflation_a...   csv
4               cdiac_carbon_dioxide_emissions_pc.csv   csv
5                         undata_total_fertility.xlsx  xlsx
6                     electricity_consumption_pc.xlsx  xlsx
7                motor_vehicles_per_1000_pop2010.xlsx  xlsx
8                                     population.xlsx  xlsx
9              roads_paved_percent_of_total_roads.csv   csv
10                 sulfur_emissions_per_person_kg.csv   csv
11                       surviving_kids_per_woman.csv   csv

# Create wide DFs

In [7]:
co2_regions = pd.read_pickle('data/co2_regions.pkl')
co2_regions.to_csv('data/original/co2_regions.csv')

In [92]:
files = list_files(mypath)
print len(files)
files

8

['!co2_regions.csv',
 'children_per_woman_total_fertility.csv',
 'energy_regions_matched.csv',
 'hdi_human_development_index.csv',
 'income_per_person_gdppercapita_ppp_inflation_adjusted.csv',
 'pop_regions.csv',
 'roads_paved_percent_of_total_roads.csv',
 'surviving_kids_per_woman.csv']

In [82]:
# verify
dfs = [make_df(filename) for filename in files]
len(dfs)

8

In [39]:
[inspect_df(df) for df in dfs]

Inspect !co2_regions dataframe:
df_min_max
1751
sub-region
df_yrs_nan_vals
249
df_countries_no_data
0


       country  region       sub-region  1751  1755  1762  1763  1764  1765  \
0  Afghanistan    Asia    Southern Asia   NaN   NaN   NaN   NaN   NaN   NaN
1      Albania  Europe  Southern Europe   NaN   NaN   NaN   NaN   NaN   NaN
2      Algeria  Africa  Northern Africa   NaN   NaN   NaN   NaN   NaN   NaN
3      Andorra  Europe  Southern Europe   NaN   NaN   NaN   NaN   NaN   NaN
4       Angola  Africa    Middle Africa   NaN   NaN   NaN   NaN   NaN   NaN

   1766    ...         2003      2004      2005      2006      2007      2008  \
0   NaN    ...     0.022704  0.027472  0.036780  0.047090  0.068312  0.131602
1   NaN    ...     1.382066  1.332966  1.353789  1.224310  1.279420  1.297753
2   NaN    ...     2.899236  2.762220  3.257010  3.113135  3.312875  3.328945
3   NaN    ...     7.414281  7.499690  7.390955  6.839940  6.622435  6.527241
4   NaN    ...     0.587810  1.177610  1.161662  1.308849  1.435044  1.474353

       2009      2010      2011      2012
0  0.213325  0.262174       NaN       NaN
1  1.215055  1.336544       NaN       NaN
2  3.564361  3.480977  3.562504  3.785654
3  6.178520  6.092100       NaN       NaN
4  1.500054  1.593918       NaN       NaN

[5 rows x 256 columns]
Press <ENTER> to continue
Inspect children_per_woman_total_fertility dataframe:
df_min_max
1800
2018
df_yrs_nan_vals
0
df_countries_no_data
0


               country  1800  1801  1802  1803  1804  1805  1806  1807  1808  \
0          Afghanistan  7.00  7.00  7.00  7.00  7.00  7.00  7.00  7.00  7.00
1              Albania  4.60  4.60  4.60  4.60  4.60  4.60  4.60  4.60  4.60
2              Algeria  6.99  6.99  6.99  6.99  6.99  6.99  6.99  6.99  6.99
3               Angola  6.93  6.93  6.93  6.93  6.93  6.93  6.93  6.94  6.94
4  Antigua and Barbuda  5.00  5.00  4.99  4.99  4.99  4.98  4.98  4.97  4.97

   ...   2009  2010  2011  2012  2013  2014  2015  2016  2017  2018
0  ...   6.04  5.82  5.60  5.38  5.17  4.98  4.80  4.64  4.48  4.33
1  ...   1.65  1.65  1.67  1.69  1.70  1.71  1.71  1.71  1.71  1.71
2  ...   2.83  2.89  2.93  2.94  2.92  2.89  2.84  2.78  2.71  2.64
3  ...   6.24  6.16  6.08  6.00  5.92  5.84  5.77  5.69  5.62  5.55
4  ...   2.15  2.13  2.12  2.10  2.09  2.08  2.06  2.05  2.04  2.03

[5 rows x 220 columns]
Press <ENTER> to continue
Inspect energy_regions_matched dataframe:
df_min_max
1960
sub-region
df_yrs_nan_vals
54
df_countries_no_data
0


               country    region       sub-region  1960  1961  1962  1963  \
0              Albania    Europe  Southern Europe   NaN   NaN   NaN   NaN
1              Algeria    Africa  Northern Africa   NaN   NaN   NaN   NaN
2               Angola    Africa    Middle Africa   NaN   NaN   NaN   NaN
3  Antigua and Barbuda  Americas        Caribbean   NaN   NaN   NaN   NaN
4            Argentina  Americas    South America   NaN   NaN   NaN   NaN

   1964  1965  1966  ...       2002      2003      2004      2005      2006  \
0   NaN   NaN   NaN  ...   0.649229  0.645355  0.705188  0.702235  0.662679
1   NaN   NaN   NaN  ...   0.916100  0.962688  0.956879  0.984091  1.038732
2   NaN   NaN   NaN  ...   0.557683  0.583848  0.611989  0.568569  0.599436
3   NaN   NaN   NaN  ...        NaN       NaN  1.629687  1.632585  1.683304
4   NaN   NaN   NaN  ...   1.470794  1.553825  1.755383  1.731413  1.873916

       2007      2008      2009      2010  2011
0  0.646799  0.655651  0.653179  0.648291   NaN
1  1.086022  1.087619  1.165831  1.138239   NaN
2  0.625843  0.657618  0.679069  0.716494   NaN
3  1.698959       NaN       NaN       NaN   NaN
4  1.871389  1.930173  1.860435  1.846824   NaN

[5 rows x 55 columns]
Press <ENTER> to continue
Inspect hdi_human_development_index dataframe:
df_min_max
1990
2015
df_yrs_nan_vals
20
df_countries_no_data
0


       country   1990   1991   1992   1993   1994   1995   1996   1997   1998  \
0  Afghanistan  0.295  0.300  0.309  0.305  0.300  0.324  0.328  0.332  0.335
1      Albania  0.635  0.618  0.603  0.608  0.616  0.628  0.637  0.636  0.646
2      Algeria  0.577  0.581  0.587  0.591  0.595  0.600  0.609  0.617  0.627
3      Andorra    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4       Angola    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

   ...     2006   2007   2008   2009   2010   2011   2012   2013   2014   2015
0  ...    0.415  0.433  0.434  0.448  0.454  0.463  0.470  0.476  0.479  0.479
1  ...    0.703  0.713  0.721  0.725  0.738  0.752  0.759  0.761  0.762  0.764
2  ...    0.690  0.697  0.705  0.714  0.724  0.732  0.737  0.741  0.743  0.745
3  ...      NaN    NaN    NaN    NaN  0.819  0.819  0.843  0.850  0.857  0.858
4  ...    0.454  0.468  0.480  0.488  0.495  0.508  0.523  0.527  0.531  0.533

[5 rows x 27 columns]
Press <ENTER> to continue
Inspect income_per_person_gdppercapita_ppp_inflation_adjusted dataframe:
df_min_max
1800
2018
df_yrs_nan_vals
0
df_countries_no_data
0


       country  1800  1801  1802  1803  1804  1805  1806  1807  1808  ...    \
0  Afghanistan   603   603   603   603   603   603   603   603   603  ...
1      Albania   667   667   667   667   667   668   668   668   668  ...
2      Algeria   715   716   717   718   719   720   721   722   723  ...
3      Andorra  1200  1200  1200  1200  1210  1210  1210  1210  1220  ...
4       Angola   618   620   623   626   628   631   634   637   640  ...

    2009   2010   2011   2012   2013   2014   2015   2016   2017   2018
0   1530   1610   1660   1840   1810   1780   1750   1740   1800   1870
1   9530   9930  10200  10400  10500  10700  11000  11400  11900  12400
2  12600  12900  13000  13200  13300  13500  13700  14000  13800  13700
3  41700  39000  42000  41900  43700  44900  46600  48200  49800  51500
4   5910   5900   5910   6000   6190   6260   6230   6030   5940   5850

[5 rows x 220 columns]
Press <ENTER> to continue
Inspect pop_regions dataframe:
df_min_max
1800
sub-region
df_yrs_nan_vals
83
df_countries_no_data
0


       country  region       sub-region       1800       1810       1820  \
0  Afghanistan    Asia    Southern Asia  3280000.0  3280000.0  3323519.0
1      Albania  Europe  Southern Europe   410445.0   423591.0   438671.0
2      Algeria  Africa  Northern Africa  2503218.0  2595056.0  2713079.0
3      Andorra  Europe  Southern Europe     2654.0     2654.0     2700.0
4       Angola  Africa    Middle Africa  1567028.0  1567028.0  1597530.0

        1830       1840       1850       1860     ...            2006  \
0  3448982.0  3625022.0  3810047.0  3973968.0     ...      25183615.0
1   457234.0   478227.0   506889.0   552800.0     ...       3050741.0
2  2880355.0  3082721.0  3299305.0  3536468.0     ...      33749328.0
3     2835.0     3026.0     3230.0     3436.0     ...         83373.0
4  1686390.0  1813100.0  1949329.0  2110747.0     ...      18541467.0

         2007        2008        2009        2010        2011        2012  \
0  25877544.0  26528741.0  27207291.0  27962207.0  28809167.0  29726803.0
1   3010849.0   2968026.0   2929886.0   2901883.0   2886010.0   2880667.0
2  34261971.0  34811059.0  35401790.0  36036159.0  36717132.0  37439427.0
3     84878.0     85616.0     85474.0     84419.0     82326.0     79316.0
4  19183907.0  19842251.0  20520103.0  21219954.0  21942296.0  22685632.0

         2013        2014        2015
0  30682500.0  31627506.0  32526562.0
1   2883281.0   2889676.0   2896679.0
2  38186135.0  38934334.0  39666519.0
3     75902.0     72786.0     70473.0
4  23448202.0  24227524.0  25021974.0

[5 rows x 84 columns]
Press <ENTER> to continue
Inspect roads_paved_percent_of_total_roads dataframe:
df_min_max
1990
2009
df_yrs_nan_vals
20
df_countries_no_data
0


               country  1990  1991  1992  1993  1994  1995  1996  1997  1998  \
0          Afghanistan   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1              Albania   NaN   NaN   NaN   NaN   NaN  39.0  39.0  39.0  39.0
2              Algeria  67.0  70.0  66.0  66.7  68.0  68.9  68.9  68.9  68.9
3               Angola   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  Antigua and Barbuda   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   ...   2000  2001  2002  2003  2004  2005  2006  2007  2008  2009
0  ...    NaN   NaN   NaN   NaN  23.7  27.5  29.3   NaN   NaN   NaN
1  ...   39.0  39.0  39.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  ...   68.9   NaN   NaN   NaN  70.2   NaN   NaN   NaN  73.5  74.0
3  ...   10.4  10.4   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  ...    NaN   NaN  33.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[5 rows x 21 columns]

Press <ENTER> to continue
Inspect surviving_kids_per_woman dataframe:
df_min_max
1760
2099
df_yrs_nan_vals
275
df_countries_no_data
85


       country  1760  1761  1762  1763  1764  1765  1766  1767  1768  ...   \
0  Afghanistan   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
1      Albania   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
2      Algeria   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
3       Angola   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
4    Argentina   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

   2090  2091  2092  2093  2094  2095  2096  2097  2098  2099
0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  1.78
1   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  1.94
2   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  1.93
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  1.75
4   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  1.92

[5 rows x 341 columns]
Press <ENTER> to continue

[None, None, None, None, None, None, None, None]

## Surviving DF contains projections

Unlike the other DFs, this one looks into the future, which will create NANs all over the place in the merged DF.

Let's drop these projections.

In [86]:
# remove projection years (post 2015) for Surviving DF

start = dfs[7].columns.get_loc('2016')
end = dfs[7].columns.get_loc('2099') + 1

dfs[7].drop(dfs[7].columns[start:end], axis=1, inplace=True)

In [88]:
# verify
dfs[7].tail()

,country,1760,1761,1762,1763,1764,1765,1766,1767,1768,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
175,Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.44,2.42,2.39,2.36,2.33,NaN,NaN,NaN,NaN,NaN
176,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.78,1.77,1.76,1.75,1.73,NaN,NaN,NaN,NaN,NaN
177,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.82,4.77,4.68,4.64,4.55,NaN,NaN,NaN,NaN,NaN
178,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.92,4.02,4.12,4.22,4.33,NaN,NaN,NaN,NaN,NaN
179,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.26,2.27,2.28,2.32,2.32,NaN,NaN,NaN,NaN,NaN

# Create long DFs

In [94]:
# extract first word of each file
# these will be the label for'value' column 
# of each long DF
val_names = get_val_names(dfs)
val_names

['!co2', 'children', 'energy', 'hdi', 'income', 'pop', 'roads', 'surviving']

In [96]:
long_dfs = [reshape_for_plot(dfs[i], val_names[i]) for i, _ in enumerate(dfs)]
len(long_dfs)

8

# Join long DFs

In [18]:
#new_df = pd.merge(A_df, B_df,  how='left', left_on=['A_c1','c2'], right_on = ['B_c1','c2'])

In [97]:
# thank you http://notconfusing.com/joining-many-dataframes-at-once-in-pandas-n-ary-join/
def merge_dfs(ldf, rdf):
    right_on = list(rdf.columns[0:2])
    left_on = list(ldf.columns[0:2])
    return ldf.merge(rdf, how='outer', left_on=left_on, right_on=right_on)
    

final_df = reduce(merge_dfs, long_dfs) #that's the magic
final_df.head()

,country,year,!co2,children,energy,hdi,income,pop,roads,surviving
0,Afghanistan,region,Asia,NaN,NaN,NaN,NaN,Asia,NaN,NaN
1,Afghanistan,sub-region,Southern Asia,NaN,NaN,NaN,NaN,Southern Asia,NaN,NaN
2,Afghanistan,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
# drop region & subregion rows
final_df.drop(final_df.index[:2], inplace=True)
final_df.reset_index(inplace=True, drop=True)
final_df.head()

       country  year !co2  children energy  hdi  income  pop  roads  surviving
0  Afghanistan  1751  NaN       NaN    NaN  NaN     NaN  NaN    NaN        NaN
1  Afghanistan  1755  NaN       NaN    NaN  NaN     NaN  NaN    NaN        NaN
2  Afghanistan  1762  NaN       NaN    NaN  NaN     NaN  NaN    NaN        NaN
3  Afghanistan  1763  NaN       NaN    NaN  NaN     NaN  NaN    NaN        NaN
4  Afghanistan  1764  NaN       NaN    NaN  NaN     NaN  NaN    NaN        NaN

In [99]:
# add region data as columns
countries_regions = pd.read_csv('data/countries_with_regions.csv')
final_df = final_df.merge(countries_regions, on='country', how='left')

In [102]:
# rearrange column order so region info beside country col
cols = final_df.columns.tolist()

newcols = [cols[0]]
newcols.extend(cols[-2:])
newcols.extend(cols[1:-2])

newcols

['country',
 'region',
 'sub-region',
 'year',
 '!co2',
 'children',
 'energy',
 'hdi',
 'income',
 'pop',
 'roads',
 'surviving']

In [ ]:
final_df = final_df[newcols]
final_df.head()

In [104]:
# save as csv
final_df.to_csv('data/cleaned/final_df.csv', index=False)