
# Data Prep: Energy Consumption per capita


## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pprint as pp
%matplotlib inline

from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [34]:
# read data

energy = pd.read_excel("data/energy use per person.xlsx")

In [35]:
# how big is the dataset?
print energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 53 columns):
Energy use, per capita (toe)    275 non-null object
1960                            25 non-null float64
1961                            25 non-null float64
1962                            25 non-null float64
1963                            25 non-null float64
1964                            25 non-null float64
1965                            26 non-null float64
1966                            26 non-null float64
1967                            26 non-null float64
1968                            26 non-null float64
1969                            26 non-null float64
1970                            26 non-null float64
1971                            109 non-null float64
1972                            109 non-null float64
1973                            109 non-null float64
1974                            109 non-null float64
1975                            109 non-null float64
1976                            109 non-null float64
1977                            109 non-null float64
1978                            109 non-null float64
1979                            109 non-null float64
1980                            109 non-null float64
1981                            110 non-null float64
1982                            110 non-null float64
1983                            110 non-null float64
1984                            110 non-null float64
1985                            111 non-null float64
1986                            111 non-null float64
1987                            111 non-null float64
1988                            111 non-null float64
1989                            111 non-null float64
1990                            160 non-null float64
1991                            132 non-null float64
1992                            132 non-null float64
1993                            132 non-null float64
1994                            132 non-null float64
1995                            134 non-null float64
1996                            134 non-null float64
1997                            134 non-null float64
1998                            134 non-null float64
1999                            134 non-null float64
2000                            135 non-null float64
2001                            135 non-null float64
2002                            135 non-null float64
2003                            135 non-null float64
2004                            167 non-null float64
2005                            168 non-null float64
2006                            168 non-null float64
2007                            168 non-null float64
2008                            136 non-null float64
2009                            136 non-null float64
2010                            136 non-null float64
2011                            34 non-null float64
dtypes: float64(52), object(1)
memory usage: 113.9+ KB
None

In [36]:
# what does it look like?
energy.head()

,"Energy use, per capita (toe)",1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.649229,0.645355,0.705188,0.702235,0.662679,0.646799,0.655651,0.653179,0.648291,NaN
4,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.916100,0.962688,0.956879,0.984091,1.038732,1.086022,1.087619,1.165831,1.138239,NaN

In [37]:
# give country col better name
energy.rename(columns = {'Energy use, per capita (toe)' : 'country'}, inplace = True)

In [38]:
energy

,country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.649229,0.645355,0.705188,0.702235,0.662679,0.646799,0.655651,0.653179,0.648291,NaN
4,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.916100,0.962688,0.956879,0.984091,1.038732,1.086022,1.087619,1.165831,1.138239,NaN
5,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.557683,0.583848,0.611989,0.568569,0.599436,0.625843,0.657618,0.679069,0.716494,NaN
8,Anguilla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.629687,1.632585,1.683304,1.698959,NaN,NaN,NaN,NaN
10,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.470794,1.553825,1.755383,1.731413,1.873916,1.871389,1.930173,1.860435,1.846824,NaN
11,Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.610103,0.643766,0.680195,0.817054,0.829407,0.925555,0.973201,0.843184,0.790845,NaN
12,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Australia,3.063554,3.115787,3.172975,3.284051,3.349414,3.463216,3.546538,3.692808,3.763558,...,5.570153,5.573862,5.514906,5.600235,5.605497,5.683007,5.778817,5.738863,5.593221,5.295940
14,Austria,1.546261,1.554035,1.675874,1.823995,1.855085,1.851844,1.902756,1.920212,2.045828,...,3.767459,3.966704,4.000780,4.103304,4.085860,4.022449,4.023801,3.796843,4.033582,3.875007
15,Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.396911,1.454833,1.532110,1.649878,1.588338,1.411961,1.515481,1.305221,1.307460,NaN
16,Bahamas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.109685,2.179372,2.178569,2.155926,NaN,NaN,NaN,NaN
17,Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.019426,10.432929,10.375165,10.348064,10.193248,9.456594,8.784708,8.096254,7.753675,NaN
18,Bangladesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.154673,0.159039,0.162563,0.169543,0.177722,0.183203,0.191053,0.200106,0.208843,NaN
19,Barbados,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.389162,1.441759,1.468299,1.476338,NaN,NaN,NaN,NaN
20,Belarus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.544244,2.633089,2.735835,2.749004,2.941621,2.891956,2.931196,2.815187,2.922029,NaN
21,Belgium,2.519159,2.570532,2.809731,3.043221,3.021711,3.116016,3.051303,3.182923,3.590004,...,5.454730,5.709104,5.650965,5.600428,5.509344,5.366718,5.469582,5.288913,5.585584,5.082476
22,Belize,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.548478,0.551748,0.570697,0.571429,NaN,NaN,NaN,NaN
23,Benin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.327530,0.334663,0.336788,0.327525,0.374768,0.395343,0.392489,0.399896,0.412814,NaN
24,Bermuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Bhutan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.280199,0.309422,0.312740,0.354352,NaN,NaN,NaN,NaN
26,Bolivia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.407906,0.418254,0.403238,0.565673,0.688964,0.567544,0.617865,0.634815,0.737363,NaN
27,Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.167210,1.163302,1.272274,1.333530,1.401901,1.403685,1.577569,1.601535,1.703368,NaN
28,Botswana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.059887,1.041910,1.002680,1.027916,1.028819,1.054541,1.100672,1.020428,1.127810,NaN
29,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.091558,1.095123,1.141815,1.157275,1.184936,1.240032,1.296541,1.243310,1.362549,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Vanuatu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.145942,0.142066,0.143015,0.157390,NaN,NaN,NaN,NaN
246,Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.294266,2.073242,2.173854,2.517723,2.495949,2.310920,2.511814,2.469466,2.668646,NaN
247,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,West Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.420442,0.436329,0.478497,0.503139,0.509822,0.543534,0.575456,0.621322,0.681375,NaN
251,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,North Yemen (former),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,South Yemen (former),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.270832,0.291546,0.308719,0.319081,0.322905,0.325349,0.315671,0.315646,0.297891,NaN
255,Yugoslavia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.620291,0.624269,0.625888,0.629215,0.629469,0.613705,0.617251,0.618029,0.627806,NaN
257,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.770138,0.754592,0.737199,0.771889,0.770384,0.778872,0.744783,0.754557,0.764014,NaN
258,Åland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,South Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,Christian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,Coastline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,Curaçao,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,Sint Maarten (Dutch part),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,St. Martin (French part),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,Antarctica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,"Virgin Islands, British",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,Hawaiian Trade Zone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,U.S. Pacific Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,Wake Island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,Bonaire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,Sark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,Chinese Taipei,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,Saint Eustatius,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,Saba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Observations

* Data limited: 1960 to 2011 only
* More countries than for either Regions or for CO2 data sets
* Need to clean up special characters and accents

In [39]:
# summary stats
energy.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
count,25.000000,25.000000,25.000000,25.000000,25.000000,26.000000,26.000000,26.000000,26.000000,26.000000,...,135.000000,135.000000,167.000000,168.000000,168.000000,168.000000,136.000000,136.000000,136.000000,34.000000
mean,2.293823,2.328809,2.423456,2.555181,2.664216,2.702039,2.771418,2.842704,3.031177,3.213208,...,2.400366,2.490554,2.189576,2.183482,2.228795,2.229288,2.583925,2.480361,2.552229,4.354986
std,2.115968,2.101996,2.086214,2.104460,2.215092,2.165483,2.112981,2.106078,2.239071,2.371650,...,2.856155,2.953796,2.913443,2.814490,2.847418,2.829414,2.966619,2.882564,2.929312,2.908761
min,0.289057,0.322491,0.350101,0.367811,0.410252,0.433786,0.451751,0.472460,0.486300,0.501897,...,0.154673,0.159039,0.013679,0.015975,0.009110,0.009021,0.136886,0.142316,0.141716,1.550560
25%,1.318812,1.396466,1.412730,1.453962,1.522195,1.448053,1.515146,1.732269,1.895476,2.026350,...,0.570778,0.600391,0.501537,0.529688,0.519396,0.551980,0.645838,0.661271,0.692568,2.795252
50%,1.827976,1.894103,2.052054,2.182993,2.320013,2.326527,2.354048,2.318151,2.460666,2.654348,...,1.272482,1.326524,1.006898,1.060038,1.111236,1.104978,1.491151,1.380585,1.431341,3.671400
75%,2.698792,2.742123,2.887236,3.080414,3.212535,3.276062,3.246943,3.304896,3.544039,3.691779,...,3.353006,3.503907,2.793516,2.738130,2.877123,2.855199,3.419548,3.253202,3.260683,5.151622
max,10.523407,10.534018,10.414541,10.465813,11.150050,10.926395,10.480606,10.361973,11.114667,11.974193,...,19.375244,20.098118,23.071099,20.473801,18.749562,17.445729,16.868468,16.904904,16.882499,17.983310

In [40]:
# how many countries have data from 1960?
energy['1960'].count()

25

In [41]:
# Which country has data starting from that year?
energy.loc[pd.notnull(energy['1960'])]

,country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
13,Australia,3.063554,3.115787,3.172975,3.284051,3.349414,3.463216,3.546538,3.692808,3.763558,...,5.570153,5.573862,5.514906,5.600235,5.605497,5.683007,5.778817,5.738863,5.593221,5.295940
14,Austria,1.546261,1.554035,1.675874,1.823995,1.855085,1.851844,1.902756,1.920212,2.045828,...,3.767459,3.966704,4.000780,4.103304,4.085860,4.022449,4.023801,3.796843,4.033582,3.875007
21,Belgium,2.519159,2.570532,2.809731,3.043221,3.021711,3.116016,3.051303,3.182923,3.590004,...,5.454730,5.709104,5.650965,5.600428,5.509344,5.366718,5.469582,5.288913,5.585584,5.082476
37,Canada,4.251210,4.307821,4.451560,4.694120,4.903608,5.153932,5.272665,5.557292,5.871520,...,7.914379,8.272314,8.364289,8.424041,8.236770,8.251850,7.945846,7.433974,7.379626,7.426204
59,Denmark,1.922974,2.023308,2.296290,2.502928,2.600156,2.822735,3.067428,3.061110,3.203752,...,3.535165,3.726408,3.594966,3.485343,3.724567,3.618512,3.495099,3.322982,3.470399,3.141668
75,Finland,2.196953,2.252779,2.361744,2.478912,2.678383,2.887694,3.065439,3.126426,3.342703,...,6.694238,7.047664,7.098453,6.529459,7.086904,6.957265,6.638823,6.227018,6.787212,6.358825
76,France,1.699542,1.744665,1.860525,1.982963,2.084690,2.109459,2.122623,2.247891,2.359811,...,4.224798,4.270583,4.301043,4.283718,4.191468,4.116148,4.113622,3.916691,4.030517,3.842635
82,Germany,1.952534,1.994321,2.124826,2.281288,2.341159,2.378350,2.387710,2.388411,2.561521,...,4.104246,4.135561,4.159426,4.101618,4.135783,4.025570,4.068954,3.871738,4.003264,3.758410
85,Greece,0.289057,0.322491,0.350101,0.367811,0.433559,0.478756,0.547197,0.607702,0.652082,...,2.577529,2.643513,2.685582,2.724029,2.710933,2.699663,2.706980,2.608921,2.440492,2.348195
100,Iceland,3.082712,2.916706,3.028298,3.279602,3.306816,3.444551,3.639771,3.594362,3.924134,...,11.423796,11.305961,11.531687,11.729269,13.690215,15.522149,16.868468,16.904904,16.882499,17.983310
105,Ireland,1.318812,1.396466,1.412730,1.453962,1.522195,1.511905,1.629592,1.767425,1.881149,...,3.704764,3.596080,3.588298,3.479163,3.464668,3.463176,3.379305,3.229943,3.217686,3.011987
108,Italy,0.794821,0.890680,1.007045,1.119730,1.221732,1.316464,1.431076,1.551519,1.698428,...,3.016166,3.114726,3.128308,3.137385,3.084926,3.024804,2.941636,2.738843,2.814639,2.717429
110,Japan,0.873910,0.962907,1.003752,1.136485,1.260475,1.361587,1.476997,1.720550,1.938457,...,4.004815,3.963719,4.089581,4.073946,4.068745,4.032163,3.878907,3.701072,3.898371,3.584391
130,Luxembourg,10.523407,10.534018,10.414541,10.465813,11.150050,10.926395,10.480606,10.361973,11.114667,...,8.154173,8.499666,9.331423,9.433496,9.179768,8.767505,8.609796,7.938957,8.342547,8.027161
157,Netherlands,1.825735,1.878975,2.080965,2.268426,2.349149,2.493192,2.605559,2.762729,3.042743,...,4.687982,4.807931,4.856639,4.829936,4.700183,4.843796,4.837167,4.729160,5.020998,4.644802
160,New Zealand,1.731465,1.808444,1.820008,1.967054,2.217402,2.274703,2.320385,2.208881,2.339832,...,4.335665,4.183351,4.255055,4.075089,4.054330,4.049826,4.079142,4.044953,4.166425,4.086158
169,Norway,1.906175,1.937645,2.052054,2.182993,2.320013,2.539598,2.710078,2.815688,3.052897,...,5.489420,5.919067,5.756449,5.787937,5.817682,5.849374,6.250025,5.831168,6.637364,6.032853
179,Poland,1.827976,1.894103,1.976834,1.984224,2.031594,2.088015,2.140893,2.199042,2.290229,...,2.324202,2.384658,2.393027,2.420429,2.549495,2.539933,2.567613,2.463505,2.657011,2.685342
180,Portugal,0.336914,0.365840,0.363164,0.394939,0.410252,0.440883,0.451751,0.486585,0.497129,...,2.490622,2.406715,2.459618,2.508875,2.333477,2.385064,2.299879,2.271502,2.213051,2.176045
212,Spain,0.530838,0.557599,0.605224,0.623518,0.683686,0.714722,0.790792,0.881383,0.993665,...,3.120079,3.172161,3.257794,3.269025,3.212914,3.204822,3.051899,2.776293,2.772667,2.723007
218,Sweden,2.698792,2.742123,2.887236,3.080414,3.273509,3.437541,3.636644,3.630194,4.000823,...,5.802110,5.650438,5.847344,5.711127,5.529078,5.472135,5.379959,4.883200,5.468217,5.225873
219,Switzerland,1.398655,1.454755,1.568911,1.869587,1.819435,1.943601,1.966692,2.040828,2.172604,...,3.554391,3.543079,3.531475,3.488805,3.619761,3.412123,3.501334,3.483225,3.348752,3.227096
232,Turkey,0.379604,0.375499,0.400010,0.409869,0.421837,0.433786,0.465932,0.472460,0.486300,...,1.134488,1.173258,1.202597,1.238262,1.347093,1.428791,1.388840,1.359302,1.445082,1.550560
239,United Kingdom,3.032780,3.006684,3.087379,3.196831,3.212535,3.329410,3.306782,3.345553,3.406144,...,3.682234,3.731118,3.706627,3.692301,3.613890,3.459246,3.394364,3.188321,3.254089,3.017258
240,United States,5.641735,5.612053,5.774613,5.986795,6.136961,6.307897,6.591338,6.809858,7.073474,...,7.843393,7.794173,7.881754,7.846805,7.697188,7.758206,7.487930,7.057277,7.164462,7.069233

Ok, Western Europe, Canada, US, NZ & AUS

In [42]:
# How many countries do not have data in the last year?

missing_recent = energy.loc[energy['2011'].isnull()]
len(missing_recent)

241

###  Sanity checks

Which countries have the highest cumulative energy consumption?

In [43]:
# change index for simpler aggregating
energy = energy.set_index('country')

In [44]:
# sum across columns
energy.sum(1).sort_values(ascending = False).head(10)

country
Qatar                   596.898621
Luxembourg              490.929908
Iceland                 412.410403
United States           388.084671
Canada                  370.498718
United Arab Emirates    366.442692
Bahrain                 351.186422
Kuwait                  317.606625
Brunei                  268.355709
Finland                 263.473843
dtype: float64

#### Observations

Most of the top 10 are unsurprising: oil-producing countries, and/or cold countries. 

However, once again we see Luxembourg. Perhaps this is reflects data that goes back further for those countries. 

Let's compare with the means.

In [45]:
# which countries have the highest mean CO2?
energy.mean(1).sort_values(ascending = False).head(10)

country
Qatar                   14.922466
Luxembourg               9.440960
United Arab Emirates     9.161067
Bahrain                  8.779661
Kuwait                   8.583963
Iceland                  7.930969
United States            7.463167
Canada                   7.124975
Brunei                   6.708893
Trinidad and Tobago      6.414252
dtype: float64

In [46]:
# which countries have the lowest mean CO2?
energy.mean(1).sort_values(ascending = False).tail(10)

country
Antarctica                NaN
Virgin Islands, British   NaN
Hawaiian Trade Zone       NaN
U.S. Pacific Islands      NaN
Wake Island               NaN
Bonaire                   NaN
Sark                      NaN
Chinese Taipei            NaN
Saint Eustatius           NaN
Saba                      NaN
dtype: float64

In [47]:
#How many countries are all null?
drop = list(energy.loc[energy.mean(1).isnull()].index)

In [48]:
# drop null rows
energy = energy.drop(drop)

In [49]:
len(energy)

169

#### Observations

Now the top 10 is nearly all oil-rich countries. Nonetheless, we still have Luxembourg in the top 10, along with Trinidad & Tobago.

Also...the bottom results show that we have many rows without any values.

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

## Data Cleaning

### Remove empty rows

In [50]:
# how many rows without values?
len(energy.loc[energy.sum(1).isnull()])

0

## Add region & sub-region columns

Data from https://github.com/lukes/ISO-3166-Countries-with-Regional-Codes/blob/master/all/all.csv

CO2 patterns, I suspect, vary a lot by region and not just by country. 

For my analysis, I'd like to primarily focus on Europe since that's where I'm currently living.

In [51]:
energy.reset_index(inplace = True)

In [52]:
energy['country']

0                     Albania
1                     Algeria
2                      Angola
3         Antigua and Barbuda
4                   Argentina
5                     Armenia
6                   Australia
7                     Austria
8                  Azerbaijan
9                     Bahamas
10                    Bahrain
11                 Bangladesh
12                   Barbados
13                    Belarus
14                    Belgium
15                     Belize
16                      Benin
17                     Bhutan
18                    Bolivia
19     Bosnia and Herzegovina
20                   Botswana
21                     Brazil
22                     Brunei
23                   Bulgaria
24                   Cambodia
25                   Cameroon
26                     Canada
27                 Cape Verde
28                      Chile
29                      China
                ...
139                     Spain
140                 Sri Lanka
141                     Sudan
142                  Suriname
143                 Swaziland
144                    Sweden
145               Switzerland
146                     Syria
147                Tajikistan
148                  Tanzania
149                  Thailand
150               Timor-Leste
151                      Togo
152                     Tonga
153       Trinidad and Tobago
154                   Tunisia
155                    Turkey
156              Turkmenistan
157                   Ukraine
158      United Arab Emirates
159            United Kingdom
160             United States
161                   Uruguay
162                Uzbekistan
163                   Vanuatu
164                 Venezuela
165                   Vietnam
166                     Yemen
167                    Zambia
168                  Zimbabwe
Name: country, Length: 169, dtype: object

### Create regions df

In [53]:
# based on cleaned json file
regions = pd.read_csv('data/regions_cleaned.csv')
regions.head()

          country   region       sub-region
0     Afghanistan     Asia    Southern Asia
1   Aland Islands   Europe  Northern Europe
2         Albania   Europe  Southern Europe
3         Algeria   Africa  Northern Africa
4  American Samoa  Oceania        Polynesia

In [54]:
regions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 3 columns):
country       249 non-null object
region        240 non-null object
sub-region    240 non-null object
dtypes: object(3)
memory usage: 5.9+ KB

So `regions` df has many more countries than `energy` df, which will be the driving table for the merge. This is easier to work with than vice versa.

### Clean up 'country' column

In [55]:
# remove accents from countries in regions df
import unidecode
energy['country'] = energy['country'].apply(unidecode.unidecode)

In [56]:
energy = energy.reset_index()

In [57]:
from regions_clean import remove_special_char
energy['country'] = energy['country'].apply(remove_special_char)

In [58]:
list(energy['country'])

['Albania',
 'Algeria',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo Dem Rep ',
 'Congo Rep ',
 'Costa Rica',
 'Cote d Ivoire',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong China',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'North Korea',
 'South Korea',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Macedonia FYR',
 'Malaysia',
 'Maldives',
 'Malta',
 'Marshall Islands',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'St Kitts and Nevis',
 'St Lucia',
 'St Vincent and the Grenadines',
 'Samoa',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Singapore',
 'Slovak Republic',
 'Slovenia',
 'Solomon Islands',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

## Merge `energy` with `regions`

In [59]:
# merge co2 df with region df

energy_regions = energy.merge(regions, how = 'left', on='country')

In [60]:
# rearrange col order
cols = energy_regions[['region', 'sub-region']]

energy_regions.drop(labels=['index','region', 'sub-region'], axis=1, inplace = True)
energy_regions.insert(1, 'region', cols['region'])
energy_regions.insert(2, 'sub-region', cols['sub-region'])

### Match countries using partial string matching

When entering search queries, spellcheck puts a lot of weight on the first character, assuming that because it's so important, it's far less likely for users to missspell it. 

I am guessing that we can match up most countries by assuming the key word is the **first** word in the `country` field.

In [65]:
def add_missing_regions(merged_df, matching_key, current_country):
    # update merged_df with region & sub-region values
    reg, sub_reg = regions.loc[matching_key, ['region', 'sub-region']]
    merged_df.loc[merged_df['country']== current_country, 'region'] = reg
    merged_df.loc[merged_df['country']== current_country, 'sub-region'] = sub_reg
    return merged_df

In [66]:
# create df of countries that didn't have any matches in regions df

def match_countries(merged_df, regions_df):
    # loop through countries without region data
    # and look for partial string matches
    
    # check for correct index type
    '''if isinstance(merged_df.index, pd.Index):
        merged_df.reset_index(inplace = True)
    else:
        pass'''
    no_match = merged_df.loc[merged_df.region.isnull()].country
    #return no_match

    matches = []
    for country in no_match:
        poss_match = {'merged_country': country}
        country_split = str.split(country)

        # does the field start with country name?
        if regions.country.str.startswith(country).any():
                poss_match['regions_country'] = dict(regions[regions.country.str.startswith(country)].country)

        # does the field contain the first word of the country match?
        elif regions.country.str.contains(country_split[0]).any():
                poss_match['regions_country'] = dict(regions[regions.country.str.contains(country_split[0])].country)

        # does the field contain the second word of the country?
        elif len(country_split) > 1: 
            if regions.country.str.contains(country_split[1]).any():
                poss_match['regions_country'] = dict(regions[regions.country.str.contains(country_split[1])].country)
            else: 
                poss_match['regions_country'] = None
        else:
            poss_match['regions_country'] = None

        matches.append(poss_match)
        
    
    for dct in matches:
        ### TODO: try first assigning a 'matched' status to ALL rows, THEN confirm matches.
        #################
        ### confirm matches when there is only one suggested match found
        if dct['regions_country'] == None:
            dct['matched'] = "n"
            
        elif len(dct['regions_country']) > 1:
            dct['matched'] = 'multiple'
            
        elif len(dct['regions_country']) == 1:
            print dct
            dct['matched'] = raw_input('Is this a match? ([y] or n) ') or 'y'
            if dct['matched'] == 'y':
                matching_key = dct['regions_country'].keys()[0]
                #dct['regions_country'] = dct['regions_country'].values()[0]
                current_country = dct['merged_country']

                # update merged_df with region & sub-region values
                '''reg, sub_reg = regions.loc[matching_key, ['region', 'sub-region']]
                energy_regions.loc[energy_regions['country']== dct['merged_country'], 'region'] = reg
                energy_regions.loc[energy_regions['country']== dct['merged_country'], 'sub-region'] = sub_reg'''
                
                merged_df = add_missing_regions(merged_df, matching_key, current_country)
                
                # remove this country from matches
                matches.remove(dct)
        
            else:
                dct['matched'] = 'n'
                
            
    
    return matches, merged_df

In [71]:
matches, energy_regions = match_countries(energy_regions, regions)

In [72]:
energy_regions.loc[energy_regions['region'].isnull()]

,country,region,sub-region,1960,1961,1962,1963,1964,1965,1966,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
32,Congo Dem Rep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.339893,0.342031,0.344920,0.347751,0.350483,0.353022,0.355989,0.356968,0.360174,NaN
33,Congo Rep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.264049,0.296907,0.296096,0.306485,0.317979,0.324156,0.328359,0.359252,0.363457,NaN
82,North Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.841002,0.854500,0.868473,0.898305,0.902083,0.762212,0.835761,0.791154,0.761160,NaN
83,South Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.171743,4.235713,4.335731,4.366124,4.415774,4.571104,4.636383,4.659794,5.059912,5.174671
84,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.063366,1.120450,1.126870,1.089584,1.090722,1.123934,1.209314,1.344213,1.372143,NaN
125,St Kitts and Nevis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.565622,1.606573,1.585995,1.645030,NaN,NaN,NaN,NaN
126,St Lucia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.738762,0.748494,0.715200,0.760375,NaN,NaN,NaN,NaN
127,St Vincent and the Grenadines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.607925,0.616064,0.642685,0.641849,NaN,NaN,NaN,NaN
160,United States,NaN,NaN,5.641735,5.612053,5.774613,5.986795,6.136961,6.307897,6.591338,...,7.843393,7.794173,7.881754,7.846805,7.697188,7.758206,7.487930,7.057277,7.164462,7.069233
165,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.420442,0.436329,0.478497,0.503139,0.509822,0.543534,0.575456,0.621322,0.681375,NaN

In [73]:
# manually fix the US
energy_regions.loc[energy_regions['country']== 'United States', 'region'] = 'Americas'
energy_regions.loc[energy_regions['country']== 'United States', 'sub-region'] = 'Northern America'

# verify
energy_regions.loc[energy_regions['region'].isnull()]

,country,region,sub-region,1960,1961,1962,1963,1964,1965,1966,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
32,Congo Dem Rep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.339893,0.342031,0.344920,0.347751,0.350483,0.353022,0.355989,0.356968,0.360174,NaN
33,Congo Rep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.264049,0.296907,0.296096,0.306485,0.317979,0.324156,0.328359,0.359252,0.363457,NaN
82,North Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.841002,0.854500,0.868473,0.898305,0.902083,0.762212,0.835761,0.791154,0.761160,NaN
83,South Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.171743,4.235713,4.335731,4.366124,4.415774,4.571104,4.636383,4.659794,5.059912,5.174671
84,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.063366,1.120450,1.126870,1.089584,1.090722,1.123934,1.209314,1.344213,1.372143,NaN
125,St Kitts and Nevis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.565622,1.606573,1.585995,1.645030,NaN,NaN,NaN,NaN
126,St Lucia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.738762,0.748494,0.715200,0.760375,NaN,NaN,NaN,NaN
127,St Vincent and the Grenadines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.607925,0.616064,0.642685,0.641849,NaN,NaN,NaN,NaN
165,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.420442,0.436329,0.478497,0.503139,0.509822,0.543534,0.575456,0.621322,0.681375,NaN

In [74]:
# save to csv
energy_regions.to_csv('data/cleaned/energy_regions_matched.csv', index = False)

In [ ]:
'''

### for multiple matches (stored as dict), select correct country
        #elif isinstance(dct['regions_country'], dict):
        elif  len(dct['regions_country']) > 1:
            #dct['matched'] = 'n'
            pp.pprint(dct)
            matching_key = raw_input('Enter the key number of the matching country. If none match, type \'n\'.')
            if matching_key == 'n':
                dct['regions_country'] = None
                dct['matched'] = matching_key

            elif matching_key != 'n':
                while int(matching_key) not in dct['regions_country'].keys():
                    print "Error: you entered "+ matching_key
                    print "This is not a valid key number. Please try again."
                    print "Valid keys are:"
                    print dct['regions_country'].keys()
                    matching_key = raw_input('Enter the key number of the matching country. If none match, type \'n\'.')


                print "You selected " + dct['regions_country'][int(matching_key)] + "."
                dct['regions_country'] = dct['regions_country'][int(matching_key)]
                dct['matched'] = 'y'

                # add region & sub-region values from regions df
                dct['region'] = regions.region.at[int(matching_key)]
                dct['sub-region'] = regions['sub-region'].at[int(matching_key)]

            else:
                pass
'''

In [ ]:
matches_df = pd.DataFrame(matches)

### Less straightforward matching

In [ ]:
# what's left?
matches_df.loc[matches_df.matched == 'n']

Since none of these countries are the focus of my analysis, I'm going to ignore them for now.

In [ ]:
# add missing info for Netherland Antilles

def fill_empty_cols(regions_ix, matches_ix):
    regions_cntry= regions.loc[regions_ix].country # get country string from source df
    val_dict = create_val_dict(regions_cntry) # create dict of col values from source df
    matches_df = iloc_fillna(matches_ix, val_dict) # update columns in target df
    return matches_df

In [ ]:
# verify
matches_df.loc[matches_df.matched=='n']

### Merge missing region data into main df

In [ ]:
matches_df.head()

In [ ]:
energy_regions.head()

In [ ]:
# make sure source & target df's have same index vals
matches_df = matches_df.set_index('source_country')

In [ ]:
matches_df.loc[matches_df['region'].isnull()]

In [ ]:
energy_regions.set_index('country', inplace = True)

In [ ]:
# replace missing values in co2_regions df 
# with cols from matches df
co2_regions['region'] = co2_regions['region'].fillna(matches_df['region'])
co2_regions['sub-region'] = co2_regions['sub-region'].fillna(matches_df['sub-region'])

In [ ]:
# verify the coutries with previously missing region data are now complete
co2_regions.loc[matches_df.index.values][['region', 'sub-region']]

In [ ]:
# verify no more missing values
co2_regions.loc[co2_regions.region.isnull()]

In [ ]:
# save as pkl file
co2_regions.to_pickle('data/co2_regions.pkl')

## Visualize

In [ ]:
energy_eur = energy_regions.loc[energy_regions['region'] == 'Europe']

In [ ]:
# reshape df for plotting

def prep_for_plotly(df):
    #df = df.reset_index()
    df = df.set_index(['region', 'sub-region', 'country'])
    df = df.sort_index(level = 0)
    df = df.T.unstack(level = 1)
    df = pd.DataFrame(df)
    df = df.reset_index()
    df = df.rename(columns={'level_3': 'year', 0: 'value'})
    df = df.set_index('year')
    df = df.reset_index()
    return df

In [ ]:
df = prep_for_plotly(energy_eur)

In [ ]:
# make interactive
import plotly as py
import cufflinks as cf
import plotly.tools as tls
tls.embed('https://plot.ly/~cufflinks/8')

In [ ]:
for sub in df['sub-region']:
    sub_df = df.loc[df['sub-region']==sub].pivot('year', 'country', 'value')
    print sub_df
    break

In [ ]:
for sub in df['sub-region'].unique():
    sub_df = df.loc[df['sub-region']==sub].pivot('year', 'country', 'value')
    fig = sub_df.iplot(asFigure = True,\
                        title = sub,\
                        yTitle = 'Metric tons per person',\
                        theme = 'ggplot')
    py.offline.iplot(fig)

# CO2 kg per USD of GDP

In [ ]:
# read data
datafile = 'data/co2_kg_per_USD.csv'

co2_usd = pd.read_csv(datafile)

# how big is the dataset?
print co2_usd.info()

In [ ]:
co2_usd.head()

In [ ]:
# give better name to first columns
co2_usd.rename(columns = {'CO2 emissions (kg per 2005 PPP $ of GDP)' : 'country'}, inplace = True)

In [ ]:
co2_usd['country']