
# Data Prep: Car ownership per 1000


## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

In [147]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pprint as pp
%matplotlib inline

from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [148]:
# read data

cars = pd.read_excel("data/motor_vehicles_per_1000_pop2010.xlsx")
cars.head()

,"Motor vehicles (not 2-wheelers) per 1,000 population",2002,2003,2004,2005,2006,2007
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,22.809539
1,Albania,73.0,NaN,85.0,87.475235,97.318069,102.212411
2,Algeria,NaN,88.0,89.0,91.000000,NaN,NaN
3,Angola,NaN,NaN,NaN,NaN,NaN,39.593660
4,Argentina,NaN,NaN,NaN,NaN,NaN,313.893647

In [149]:
# how big is the dataset?
print cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 7 columns):
Motor vehicles (not 2-wheelers) per 1,000 population    161 non-null object
2002                                                    82 non-null float64
2003                                                    78 non-null float64
2004                                                    65 non-null float64
2005                                                    50 non-null float64
2006                                                    38 non-null float64
2007                                                    149 non-null float64
dtypes: float64(6), object(1)
memory usage: 8.9+ KB
None

In [150]:
# Rename country column
country_col = str(cars.columns[0])
cars.rename(columns = {country_col : 'country'}, inplace = True)

In [151]:
# verify
cars.head()

       country  2002  2003  2004       2005       2006        2007
0  Afghanistan   NaN   NaN   NaN        NaN        NaN   22.809539
1      Albania  73.0   NaN  85.0  87.475235  97.318069  102.212411
2      Algeria   NaN  88.0  89.0  91.000000        NaN         NaN
3       Angola   NaN   NaN   NaN        NaN        NaN   39.593660
4    Argentina   NaN   NaN   NaN        NaN        NaN  313.893647

#### Observations

* Data limited: 1960 to 2011 only
* More countries than for either Regions or for CO2 data sets
* Need to clean up special characters and accents

In [152]:
# summary stats
cars.info()
#cars.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 7 columns):
country    161 non-null object
2002       82 non-null float64
2003       78 non-null float64
2004       65 non-null float64
2005       50 non-null float64
2006       38 non-null float64
2007       149 non-null float64
dtypes: float64(6), object(1)
memory usage: 8.9+ KB

In [153]:
# how many countries have data from the beginning?
first_year = cars.columns[1]
cars[first_year].count()

82

In [154]:
# Which country has data starting from that year?
cars.loc[pd.notnull(cars[first_year])]

,country,2002,2003,2004,2005,2006,2007
1,Albania,73.000000,NaN,85.000000,87.475235,97.318069,102.212411
7,Austria,588.000000,595.000000,599.000000,NaN,551.637024,556.499023
8,Azerbaijan,58.000000,61.000000,66.000000,61.000000,NaN,NaN
10,Bahrain,382.000000,383.000000,NaN,NaN,NaN,481.888735
12,Barbados,337.000000,377.000000,375.000000,NaN,NaN,405.920216
14,Belgium,526.000000,524.000000,529.000000,NaN,534.749023,539.445966
15,Belize,155.000000,162.000000,NaN,NaN,NaN,178.376991
17,Bhutan,17.000000,NaN,NaN,NaN,NaN,38.288069
20,Botswana,85.000000,96.000000,105.000000,113.000000,NaN,113.485366
23,Bulgaria,325.000000,338.000000,360.000000,NaN,NaN,295.135046
26,Canada,582.000000,582.000000,NaN,NaN,NaN,597.164514
30,Chile,135.000000,135.000000,NaN,149.838135,157.229248,163.941020
31,China,13.000000,15.000000,21.000000,24.000000,28.046000,32.238630
36,Costa Rica,146.000000,190.000000,198.000000,NaN,NaN,151.788369
37,Croatia,313.000000,356.000000,337.000000,349.000000,365.997986,377.114470
39,Cyprus,506.000000,521.000000,553.000000,742.000000,NaN,622.139696
40,Czech Republic,394.000000,NaN,NaN,NaN,NaN,469.870797
41,Denmark,424.000000,NaN,430.000000,437.000000,NaN,465.690355
42,Dominican Republic,111.000000,105.000000,110.000000,115.000000,NaN,122.645575
46,Estonia,358.000000,427.000000,459.000000,477.000000,NaN,444.362706
47,Ethiopia,2.000000,2.000000,NaN,NaN,NaN,2.995806
50,France,593.000000,594.000000,595.000000,596.000000,598.080017,600.466021
51,Gambia,8.000000,8.000000,7.000000,NaN,NaN,7.281017
52,Georgia,70.000000,71.000000,NaN,NaN,NaN,116.082707
53,Germany,576.000000,576.000000,580.000000,585.000000,597.780029,623.059860
54,Ghana,19.000000,21.000000,NaN,NaN,17.879999,32.958767
55,Greece,435.000000,453.000000,476.000000,497.000000,521.606995,112.204408
57,Guinea-Bissau,1.000000,NaN,NaN,NaN,NaN,32.901159
61,Hungary,300.000000,316.000000,NaN,NaN,373.970001,383.854674
62,Iceland,638.000000,656.000000,685.000000,724.000000,NaN,773.483346
...,...,...,...,...,...,...,...
102,Netherlands Antilles,472.000000,400.000000,445.000000,NaN,NaN,1213.830627
103,New Zealand,738.000000,681.000000,701.000000,720.000000,721.669983,729.293806
104,Nicaragua,39.000000,42.000000,46.000000,NaN,NaN,47.799146
105,Niger,5.000000,5.000000,5.000000,5.000000,NaN,NaN
107,Norway,521.000000,525.000000,535.000000,546.000000,NaN,571.878213
109,Pakistan,8.000000,NaN,14.000000,NaN,NaN,11.062971
110,Panama,103.000000,NaN,NaN,NaN,NaN,187.829592
113,Peru,47.000000,47.000000,47.000000,NaN,NaN,51.701828
114,Philippines,35.000000,NaN,NaN,34.000000,NaN,32.004514
115,Poland,347.000000,357.000000,386.000000,386.000000,416.282989,451.118058
118,Qatar,508.000000,NaN,NaN,NaN,NaN,724.449276
126,Seychelles,114.000000,121.000000,NaN,NaN,NaN,173.243014
127,Sierra Leone,4.000000,NaN,NaN,NaN,NaN,5.206562
128,Singapore,133.000000,133.000000,134.000000,137.000000,140.733993,148.749074
129,Slovak Republic,280.000000,288.000000,256.000000,NaN,287.130005,281.549100
130,Slovenia,483.739685,492.198364,504.952789,518.327393,530.739990,547.030853
131,South Africa,144.000000,NaN,136.000000,143.000000,151.082993,158.893559
132,South Korea,293.000000,303.000000,311.000000,319.000000,328.410004,338.284324
133,Spain,559.000000,550.000000,NaN,NaN,NaN,600.767220
134,Sri Lanka,42.000000,NaN,NaN,51.237274,54.666752,57.941979
135,St. Vincent and the Grenadines,126.000000,138.000000,NaN,NaN,NaN,204.056197
138,Swaziland,82.000000,84.000000,NaN,NaN,NaN,88.987954
139,Sweden,501.000000,NaN,508.000000,513.000000,516.030029,522.634993
140,Switzerland,550.000000,554.000000,559.000000,563.000000,564.331970,569.339227
141,Syria,34.709999,36.220001,37.630001,42.459999,47.889999,51.545543
146,Tunisia,89.000000,NaN,95.000000,NaN,NaN,103.400943
147,Turkey,90.000000,91.000000,108.000000,117.000000,124.000000,130.656274
150,Ukraine,135.000000,139.000000,125.000000,128.000000,NaN,140.435031
152,United Kingdom,505.000000,496.000000,510.000000,517.000000,NaN,526.611374
157,Vietnam,8.000000,NaN,NaN,NaN,NaN,13.461486

In [155]:
# How many countries do not have data in the last year?
last_year = cars.columns[-1]

missing_recent = cars.loc[cars[last_year].isnull()]
len(missing_recent)

12

###  Sanity checks

Which countries have the highest cumulative car ownership?

In [156]:
# change index for simpler aggregating
cars = cars.set_index('country')

In [157]:
# which countries have the highest mean car ownership?
cars.mean(1).sort_values(ascending = False).head(10)

country
Monaco                  871.529052
United States           774.696444
New Zealand             715.160631
Brunei                  696.064452
Iceland                 695.296669
Luxembourg              667.661761
Italy                   665.764056
Australia               655.329764
Puerto Rico             641.910221
Netherlands Antilles    632.707657
dtype: float64

In [158]:
# which countries have the lowest?
cars.mean(1).sort_values(ascending = False).tail(10)

country
Niger                       5.000000
Congo, Dem. Rep.            4.996552
Sierra Leone                4.603281
Rwanda                      3.884735
Liberia                     2.865627
Ethiopia                    2.331935
Sao Tome and Principe       2.158050
Bangladesh                  2.155022
Togo                        1.979005
Central African Republic    0.295501
dtype: float64

#### Observations

Now the top 10 is nearly all oil-rich countries. Nonetheless, we still have Luxembourg in the top 10, along with Trinidad & Tobago.

Also...the bottom results show that we have many rows without any values.

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

## Data Cleaning

In [159]:
# any empty rows?
len(cars.loc[cars.sum(1).isnull()])

0

In [160]:
# drop null rows

#energy = energy.drop(drop)
#len(energy)

### Remove empty rows

## Add region & sub-region columns

Data from https://github.com/lukes/ISO-3166-Countries-with-Regional-Codes/blob/master/all/all.csv

CO2 patterns, I suspect, vary a lot by region and not just by country. 

For my analysis, I'd like to primarily focus on Europe since that's where I'm currently living.

In [161]:
cars.reset_index(inplace = True)

In [162]:
cars['country']

0                         Afghanistan
1                             Albania
2                             Algeria
3                              Angola
4                           Argentina
5                             Armenia
6                           Australia
7                             Austria
8                          Azerbaijan
9                             Bahamas
10                            Bahrain
11                         Bangladesh
12                           Barbados
13                            Belarus
14                            Belgium
15                             Belize
16                              Benin
17                             Bhutan
18                            Bolivia
19             Bosnia and Herzegovina
20                           Botswana
21                             Brazil
22                             Brunei
23                           Bulgaria
24                       Burkina Faso
25                            Burundi
26                             Canada
27                         Cape Verde
28           Central African Republic
29                               Chad
                    ...
131                      South Africa
132                       South Korea
133                             Spain
134                         Sri Lanka
135    St. Vincent and the Grenadines
136                             Sudan
137                          Suriname
138                         Swaziland
139                            Sweden
140                       Switzerland
141                             Syria
142                        Tajikistan
143                          Tanzania
144                              Togo
145               Trinidad and Tobago
146                           Tunisia
147                            Turkey
148                      Turkmenistan
149                            Uganda
150                           Ukraine
151              United Arab Emirates
152                    United Kingdom
153                     United States
154                           Uruguay
155                         Venezuela
156                West Bank and Gaza
157                           Vietnam
158                             Yemen
159                            Zambia
160                          Zimbabwe
Name: country, Length: 161, dtype: object

### Create regions df

In [175]:
# based on cleaned json file
#regions = pd.read_csv('data/regions_cleaned.csv')
regions = pd.read_csv('data/countries_with_regions.csv')
regions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 3 columns):
country       201 non-null object
region        201 non-null object
sub-region    201 non-null object
dtypes: object(3)
memory usage: 4.8+ KB

So `regions` df has many more countries than `cars` df, which will be the driving table for the merge. This is easier to work with than vice versa.

### Clean up 'country' column

In [164]:
# remove accents from countries in cars df
import unidecode
from regions_clean import remove_special_char

def clean_column(df, colname):
    df[colname] = df[colname].apply(unidecode.unidecode)
    df[colname] = df[colname].apply(remove_special_char)
    return df

In [165]:
# convert column to string (otherwise unidecode returns warning)
cars['country'] = cars['country'].astype('|S')
cars = clean_column(cars, 'country')

In [166]:
list(cars['country'])

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Canada',
 'Cape Verde',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo Dem Rep ',
 'Congo Rep ',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'El Salvador',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea Bissau',
 'Guyana',
 'Honduras',
 'Hong Kong China',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyz Republic',
 'Lao',
 'Latvia',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Macao China',
 'Macedonia FYR',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritius',
 'Mexico',
 'Micronesia Fed Sts ',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'Netherlands Antilles',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Samoa',
 'Sao Tome and Principe',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovak Republic',
 'Slovenia',
 'South Africa',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'St Vincent and the Grenadines',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Tajikistan',
 'Tanzania',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Venezuela',
 'West Bank and Gaza',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

## Merge `energy` with `regions`

In [ ]:
# merge co2 df with region df

def merge_regions(df, regions):
    df = df.merge(regions, how = 'left', on='country', suffixes=('_left', '_right'))
    return df

In [177]:

df = merge_regions(regions, cars)
df.head()

,country,region,sub-region,2002,2003,2004,2005,2006,2007
0,Afghanistan,Asia,Southern Asia,NaN,NaN,NaN,NaN,NaN,22.809539
1,Albania,Europe,Southern Europe,73.0,NaN,85.0,87.475235,97.318069,102.212411
2,Algeria,Africa,Northern Africa,NaN,88.0,89.0,91.000000,NaN,NaN
3,Andorra,Europe,Southern Europe,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,Africa,Middle Africa,NaN,NaN,NaN,NaN,NaN,39.593660

In [178]:
df.isnull().any()

country       False
region        False
sub-region    False
2002           True
2003           True
2004           True
2005           True
2006           True
2007           True
dtype: bool

In [180]:
df.head()

,country,region,sub-region,2002,2003,2004,2005,2006,2007
0,Afghanistan,Asia,Southern Asia,NaN,NaN,NaN,NaN,NaN,22.809539
1,Albania,Europe,Southern Europe,73.0,NaN,85.0,87.475235,97.318069,102.212411
2,Algeria,Africa,Northern Africa,NaN,88.0,89.0,91.000000,NaN,NaN
3,Andorra,Europe,Southern Europe,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,Africa,Middle Africa,NaN,NaN,NaN,NaN,NaN,39.593660

## Any missing regions?

In [182]:
df.loc[df['region'].isnull()]

Empty DataFrame
Columns: [country, region, sub-region, 2002, 2003, 2004, 2005, 2006, 2007]
Index: []

In [183]:
# save to csv
df.to_csv('data/cars_regions.csv', index=False)

## Visualize

In [184]:
cars_eur = df.loc[df['region'] == 'Europe']

In [185]:
# reshape df for plotting

def prep_for_plotly(df):
    #df = df.reset_index()
    df = df.set_index(['region', 'sub-region', 'country'])
    df = df.sort_index(level = 0)
    df = df.T.unstack(level = 1)
    df = pd.DataFrame(df)
    df = df.reset_index()
    df = df.rename(columns={'level_3': 'year', 0: 'value'})
    df = df.set_index('year')
    df = df.reset_index()
    return df

In [186]:
df = prep_for_plotly(cars_eur)

In [188]:
# make interactive
import plotly as py
import cufflinks as cf
import plotly.tools as tls
#tls.embed('https://plot.ly/~cufflinks/8')

In [189]:
for sub in df['sub-region']:
    sub_df = df.loc[df['sub-region']==sub].pivot('year', 'country', 'value')
    print sub_df
    break

country     Belarus    Bulgaria     Hungary     Moldova      Poland  \
year
2002            NaN  325.000000  300.000000   81.000000  347.000000
2003            NaN  338.000000  316.000000   78.000000  357.000000
2004            NaN  360.000000         NaN   87.000000  386.000000
2005            NaN         NaN         NaN   94.000000  386.000000
2006            NaN         NaN  373.970001         NaN  416.282989
2007     282.254561  295.135046  383.854674  119.585278  451.118058

country     Romania      Russia  Slovak Republic     Ukraine
year
2002            NaN         NaN       280.000000  135.000000
2003     177.000000         NaN       288.000000  139.000000
2004     185.000000         NaN       256.000000  125.000000
2005     180.491013         NaN              NaN  128.000000
2006            NaN  228.399994       287.130005         NaN
2007            NaN  245.179451       281.549100  140.435031

In [190]:
for sub in df['sub-region'].unique():
    sub_df = df.loc[df['sub-region']==sub].pivot('year', 'country', 'value')
    fig = sub_df.iplot(asFigure = True,\
                        title = sub,\
                        yTitle = 'Metric tons per person',\
                        theme = 'ggplot')
    py.offline.iplot(fig)

# CO2 kg per USD of GDP

In [ ]:
# read data
datafile = 'data/co2_kg_per_USD.csv'

co2_usd = pd.read_csv(datafile)

# how big is the dataset?
print co2_usd.info()

In [ ]:
co2_usd.head()

In [ ]:
# give better name to first columns
co2_usd.rename(columns = {'CO2 emissions (kg per 2005 PPP $ of GDP)' : 'country'}, inplace = True)

In [ ]:
co2_usd['country']